@media screen and (max-width: 1200px){
	.cart-reviews{
		padding: 0 15px 30px;
		&__title{
			padding: 15px 0;
			.title{
				font-size: 18px;
				text-transform: uppercase;
				padding-top: 7px;
			}
		}
	}
	.review-details{
		&>div{
			&.review-details__buy{
				width: 100%;
				margin: 10px 0 0;				
			}
		}
	}
}

@media screen and (max-width: 992px){
	.cart-reviews{
		.reviews{
			padding: 8px 0 0;
		}
		.reviews-wrapper{
			.reviews{
				padding: 0;
				font-size: 14px;
			}
		}
	}
	.user-info{
		font-size: 18px;
	}
	.user-info--avatar{
		font-size: 16px;
	}
}