@media screen and (max-width: 1200px){
	.cart-preview{
		.zoomWrapper{
			// position: relative;
			max-width: 400px !important;
			max-height: 400px !important;
		}
	}
	.zoomLens{
		width: 100px !important;
		height: 100px !important;
	}
	
	.cart-preview .zoomWrapper img{
		max-width: 400px;
	}

	.zoomWindowContainer{
		&>*{
			width: 300px !important;
			height: 300px !important;
		}
	}
	.cart-item{
		&__price{
			font-size: 3.5rem;
		}
	}
}

@media screen and (max-width: 992px){
	.cart-preview{
		margin: 0 0 30px;
	}
	.cart-item{
		min-height: inherit;
		&__reviews{
			.reviews{
				&>*{
					margin: 0 15px;
				}
			}
		}
		&__info{
			margin: 20px 0;
		}
		&__buttons{
			text-align: right;
		}
	}
	.zoomContainer{
		display: none;
	}
}