@media screen and (max-width: 1400px) {
    .tiles {
        .item-info,
        .btn-holder {
            &__info {
                .info-row {
                    font-size: 13px;
                }
            }
        }
    }
    .horizontal {
        .item-info,
        .btn-holder {
            &__buttons {
                .top {
                    .cheap {
                        font-size: 13px;
                        padding: 10px;
                    }
                }
                .bottom {
                    .magazines {
                        font-size: 13px !important;
                        padding: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    .item-info,
    .btn-holder {
        &__title {
            .title {
                height: 46px;
            }
        }
        &__view {
            .img-holder {
                height: 140px;
            }
        }
        &__price {
            padding: 10px 0;
        }
    }
    .tiles {
        .catalog-items__item,
        .item-info,
        .more-items-btn {
            min-height: 387px;
        }
    }
    .horizontal {
        .catalog-items__item,
        .item-info,
        .more-items-btn,
        .btn-holber {
            min-height: 260px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .item-info,
    .btn-holder {
        &__info {
            .info-row {
                font-size: 13px;
            }
        }
        &__view {
            .img-holder {
                height: 140px;
            }
        }
        &__price {
            padding: 10px 0;
        }
        &__reviews {
            .reviews {
                .count {
                    opacity: 1;
                }
            }
        }
        &__buttons {
            .top {
                display: block;
                margin: 0 0 10px;
            }
            .bottom {
                a {
                    &.magazines {
                        display: inline-block;
                        font-size: 13px !important;
                        line-height: 1em;
                        padding: 12px 15px;
                        text-decoration: none;
                        color: #fff;
                        border-radius: 50px;
                        background: #3598db;
                    }
                }
            }
        }
    }
    .action {
        border-width: 30px;
        span {
            top: -20px;
            left: -26px;
            font-size: 16px;
        }
    }
    .catalog-items {
        &.slick-initialized {
            .catalog-items__item {
                margin: 20px 0 30px;
            }
        }
    }
    .item-info__view {
        .img-holder {
            min-height: 130px;
        }
    }
    .tiles {
        .catalog-items__item,
        .item-info,
        .more-items-btn {
            min-height: 453px;
        }
    }
    .horizontal {
        .catalog-items__item,
        .item-info,
        .more-items-btn,
        .btn-holber {
            min-height: 243px;
        }
    }
}

@media screen and (max-width: 992px) {
    .horizontal {
        .catalog-items__item,
        .item-info,
        .more-items-btn,
        .btn-holber {
            min-height: 231px;
        }
    }
}
