@media screen and (max-width: 1200px){
	.compare-sidebar{
		font-size: 16px;
	}
	.compare-sidebar-items{
		&__title{
			font-size: 16px;
			text-transform: uppercase;
		}
		a{
			font-size: 16px;
		}
	}
	.compare-slider-info.slick-initialized{
		.catalog-items__item{
			margin-top: 0;
		}
	}
}