@media screen and (max-width: 1300px){
	.compare-sidebar-items{
		&.items-sidebar{
			min-height: 372px;
		}
	}
}
@media screen and (max-width: 1200px){
	.compare-sidebar-items{
		&.items-sidebar{
			min-height: 437px;
		}
	}
}