@media screen and (max-width: 1200px){
	.contacts-links{
		&__item{
			&:last-child{
				font-size: 16px;
			}		
		}
	}
	.links{
		&__item{
			a{
				font-size: 16px;
			}
		}
	}
}

@media screen and (max-width: 992px){
	.magazines-links{
		margin: 0 0 20px;
		&__item{
			float: none;
			width: 100%;
			margin: 5px 0;
			display: block;
		}
	}
	.footer-contacts{
		top: 0;
		text-align: center;
		.title{
			display: none;
			margin: 0;
		}
		.contacts-links{
			display: inline-block;
			vertical-align: middle;
			white-space: nowrap;
		}
	}
	.copyright{
		padding: 0 0 25px;
	}
}