@media screen and (max-width: 1280px){
	.btn{
		&.city-btn{
			span{
				max-width: 8vw;
			}
		}
	}
}

@media screen and (max-width: 1200px){
	h2{
		font-size: 16px;
	}
	aside{
		padding: 20px 0;
	}
	p{
		font-size: 15px;
	}
	.btn{
		min-height:auto !important;
		&.submit,
		&.cancel{
			font-size: 13px;
		}
		&.search-line-btn{
			font-size: 15px;
			padding: 7px 10px;
		}
	}
	.cheap{
		font-size: 13px;
	}
	.more-items-btn .more-items{
		font-size: 18px;
		i{
			font-size: 90px;
		}
	}
	.page-title{
		&__text{
			font-size: 3.5rem;
		}
	}
	.ui-tabs .ui-tabs-nav{
		.ui-tabs-anchor,
		button{
			font-size: 16px;
		}
	}
}

@media screen and (max-width: 992px){
	.btn{
		&.sign-in{
			span{
				display: none;
			}
		}
		&.city-btn{
			padding: 16px 22px;
			span{
				display: none;
			}
		}
	}
	.ui-tabs .ui-tabs-nav{
		li{
			margin: 0;
		}
		.ui-tabs-anchor,
		button{
			font-size: 15px;
			padding: 5px;
		}
	}
}