@media screen and (max-width: 1200px){
	table{
		.btn{
			font-size: 16px;
		}
		.magazine-link{
			a{
				white-space: nowrap;
			}
		}
		.price{
			font-size: 18px;
			white-space: nowrap;
		}
	}
}

@media screen and (max-width: 992px){
	table{
		td{
			padding: 10px 17px;
		}
		th{
			padding: 10px;
		}
	}
}