@media screen and (max-width: 1200px){
	.catalog-btn{
		display: none;
	}
	.search{
		&__text{
			right:50px;
			width: calc(100% - 50px);
			input{
				padding: 0;
			}
		}
		&__btn{
			width: 50px;
			button{
				width: 50px;
				text-align: left;
				padding-left: 11px;
			}
		}
	}
	.dropdown-catalog{
		display: none;
	}
	.icon{
		span{
			font-size: 25px;
		}
	}
	.main-btns{
		a, button{
			font-size: 16px;
			padding: 18px 20px;
		}
	}
}

@media screen and (max-width: 992px){
	.autorized-user{
		&__info{
			display: none;
		}
	}
}