@media screen and (max-width: 1480px){
	.previews-row{
		&__title{
			.title{
				font-size: 3.5rem;
			}
		}
	}
	.tabs-slider{
		&__item{
			a{
				padding: 8px 10px;
			}
		}
	}
}

@media screen and (max-width: 1200px){
	.previews-row{
		&__title{
			.title{
				font-size: 3rem;
			}
		}
	}
	.tabs-slider{
		&__item{
			a{
				font-size: 16px;
			}
		}
	}
}

@media screen and (max-width: 992px){
	.previews-row{
		&__title{
			.title{
				font-size: 2.5rem;
				padding: 0 0 15px;
			}
		}
	}
	.tabsSliderThree{
		display: none;
	}
}