// services-media
@media screen and (max-width: 1400px) {
    .main-menu {
        .search {
            width: 37%;
        }
    }
    .filter-accordion__item .panel-heading a {
        font-size: 19px;
    }
}

@media screen and (max-width: 1360px) {
    .catalog-filter-checkboxes {
        padding: 24px 30px 0;
        &__inner {
            padding-bottom: 19px;
        }
    }
}

@media screen and (max-width: 1240px) {
    .cabinet-phystabs-list li {
        width: 7% !important;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        width: 100%;
    }
    .catalog-filter-checkboxes {
        padding: 40px 30px 0;
        &__inner {
            padding-bottom: 35px;
        }
    }
    .more-filter .btn.more {
        min-height: 52px !important;
    }
}

@media screen and (max-width: 1030px) {
    .catalog-filter-checkboxes {
        padding: 22px 30px 0;
    }
}

@media screen and (max-width: 991px) {
    .sort-items__view {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .catalog-filter-checkboxes {
        padding: 42px 30px 0;
    }
}

@media screen and (max-width: 414px) {
    .catalog-new-item {
        float: none;
        width: 75%;
        margin: 0 auto 30px;
    }
}

@media screen and (max-width: 360px) {
    .catalog-new-item {
        width: 95%;
    }
}
@media screen and (max-width: 340px) {
    .catalog-new-item {
        width: 100%;
    }
}
// END:services-media
