@media screen and (max-width: 1200px){
	.sidebar-catalog{
		&__title{
			font-size: 16px;
			text-transform: uppercase;
			margin: 0 10px 10px;
			padding: 0 0 15px;
		}
		.filter-drop{
			a{
				font-size: 15px;
				padding: 4px 15px;
			}
			.filter-drop{
				a{
					padding: 7.5px 15px;		
				}
			}
		}
		.corner{
			display: none;
		}
	}
}