@media screen and (max-width: 1200px){
	.sort-items{
		padding: 9px 15px;
		&__count{
			text-align: center;
		}
		&__view{
			margin-left: 0%;
		}
		&__sort-list{
			.btn{
				font-size: 16px;
			}			
		}
		.all-filters-btn{
			display: inline-block;
		}
	}
}

@media screen and (max-width: 992px){
	.sort-items{
		&__count{
			display: none;
		}
	}
	.catalog-items{
		&.horizontal{
			.catalog-items__item{
				.item-info{
					.right-column{
						width: calc(100/12 * 5%);
					}
					.center-column{
						width: calc(100/12 * 4%);
					}
					.left-column{
						width: calc(100/12 * 3%);
					}
				}
			}
		}
	}
}