@media screen and (max-width: 1200px){
	.subcategory__row{
		padding: 0 15px 10px;
		.categories-drop{
			margin: 5px 0 0;
		}
		&:after{
			left: 15px;
			right: 15px;
			width: calc(100% - 30px);
		}
	}
}