@import '../assets/veriables';
/*======= BREADCRUMBS =========*/
.breadcrumbs{
	padding: 17px 15px 0;
	&__item{
		position: relative;
		display: inline-block;
		font-size: 14px;
		color: color(breadcrumbs);
		text-decoration: none;
		margin: 0 17px 0px 0;
		&:not(:last-child):after{
			content: "\f178";
			font: normal normal normal 14px/1 FontAwesome;
			position: absolute;
			top: 50%;
			left: 100%;
			vertical-align: middle;
			margin: 1px 0 0 3px;
			text-decoration: none !important;
			transform:translate(0,-50%);
		}
		&:hover{
			color: color(breadcrumbs);
			&:after{
				text-decoration: none !important;
			}
		}
	}
}