@import '../assets/veriables';

// cabinet-phys
.cabinet-phystabs {
    padding-top: 28px;
}

.cabinet-phystabs-list {
    overflow: hidden;
    margin-bottom: 26px;
    padding-left: 0;
    list-style: none;
    &__link {
        display: table;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: color(main);
        &:hover,
        &:focus {
            text-decoration: none;
            color: color(main);
            outline: none;
        }
    }
    li {
        position: relative;
        float: left;
        width: 16.66666667% !important;
        height: 180px;
        padding: 0 20px;
        text-align: center;
        outline: none;
        background-color: #fff;
        background-repeat: no-repeat;
        &:not(:last-child)::before {
            position: absolute;
            top: 50%;
            left: 100%;
            z-index: 1;
            display: block;
            width: 0;
            height: 0;
            margin-top: -270px;
            margin-left: 0px;
            content: ' ';
            border-top: 270px solid transparent;
            border-bottom: 270px solid transparent;
            border-left: 50px solid #f5f6f8;
        }
        &:not(:last-child)::after {
            position: absolute;
            top: 50%;
            left: 100%;
            z-index: 2;
            display: block;
            width: 0;
            height: 0;
            margin-top: -147.5px;
            content: ' ';
            border-top: 147.5px solid rgba(0, 0, 0, 0);
            border-bottom: 147.5px solid rgba(0, 0, 0, 0);
            border-left: 30px solid #fff;
        }
        &:not(:first-child) {
            padding-left: 60px;
        }
        .fa {
            display: none;
        }
        &:hover {
            color: #fff;
            background: #d1d1d2;
        }
        &:hover .cabinet-phystabs-list__link {
            color: #fff;
        }
        .cabinet-phystabs-list__link {
            color: #bebebe;
        }
        svg path,
        svg rect {
            fill: inherit;
        }
        svg {
            display: inline-block;
            width: 56px;
            height: 35px;
            vertical-align: middle;

            fill: #bebebe;
        }
        &:hover svg,
        &:hover svg {
            fill: #fff;
        }
        &:hover::before,
        &:hover::after {
            border-left-color: #d1d1d2;
        }
        &.checked {
            .fa {
                display: inline-block;
            }
        }
        &.checked,
        &.activeTab {
            .cabinet-phystabs-list__link {
                color: color(main);
            }
            svg,
            svg {
                fill: color(main);
            }
        }
    }
    &__inner {
        display: table-cell;
        width: 100%;
        vertical-align: middle;
    }
}

.cabinet-phys-main {
    > .container {
        background-color: #fff;
    }
}

.catalog-filter-checkboxes {
    &--cabinet {
        &-top {
            margin-bottom: 33px;
        }
        &-rubric {
            padding: 24px 0px 0;
        }
    }
    .catalog-filter-checkboxes__inner {
        border: none;
    }
    &--block {
        display: block;
        margin-bottom: 25px;
    }
}

.form-element-title {
    position: relative;
    font-family: 'Rubik-Bold';
    margin-top: 0;
    margin-bottom: 5px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    .fa-asterisk {
        font-size: 10px;
        vertical-align: top;
        color: color(main2);
    }
}

.cabinet-phys-element {
    margin-bottom: 25px;
    padding-left: 42px;
    &__subtitle {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 32px;
        letter-spacing: 0.01em;
        color: #b9b9b9;
    }
    .fa-check {
        position: absolute;
        top: 0;
        left: -32px;
        display: none;
        margin-right: 10px;
        color: color(main);
    }
    .dropdown-element {
        margin-bottom: 35px;
    }
    button.close {
        position: relative;
        position: static;
        display: inline-block;
        float: none;
        vertical-align: middle;
        .fa {
            position: static;
            margin: 0;
            color: #c2c2c2;
        }
    }
    &.checked {
        .fa {
            display: inline-block;
        }
    }
    &--hidden-fields {
        .form-action-btnwrapper,
        .form-element {
            display: none;
        }
    }
    &--achievements {
        button.close {
            display: none;
        }
        .achievements-wrap__item--new {
            button.close {
                display: inline-block;
            }
        }
    }
}

.cabinet-phys-element__dynamic-list {
    padding-top: 15px;
    padding-left: 0;
    list-style: none;
    > li:not(:last-of-type) {
        margin-bottom: 15px;
    }
    .close {
        margin-left: 10px;
    }
}

.form-field {
    border-radius: 2px;
    &--textarea {
        height: auto;
        resize: none;
    }
    &--inline {
        display: inline-block;
        margin-right: 15px;
        &-el {
            max-width: 336px;
        }
    }
    &--sm {
        width: 120px !important;
    }
}

.form-link-submit {
    font-family: 'Rubik-Bold';
    font-size: 18px;
    text-decoration: underline;
    letter-spacing: 0.01em;
    color: color(main);
    border: none;
    background: none;
}

.form-notification {
    p {
        a {
            color: color(main);
        }
    }
    &--inline {
        display: inline-block;
        margin-right: 15px;
    }
}

.cabinet-phys-form {
    &__section {
        margin-bottom: 115px;
        padding: 20px 0;
        &:not(:first-child) {
            display: none;
        }
    }
}

.form-element__wrapper {
    position: relative;
    &:focus {
        .form-tooltext {
            display: none;
        }
    }
}

.form-action-btn {
    margin-bottom: 20px;
    text-decoration: none;
    color: color(main);
    border: none;
    background: none;
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.cabinet-catalog-list {
    padding-left: 0;
    list-style: none;
    ul {
        padding-left: 0;
        list-style: none;
    }
    &__submenu {
        display: none;
        width: auto;
        min-width: 520px;
        > li {
            position: relative;
            line-height: 34px;
            margin-bottom: 22px;
            &:last-of-type {
                margin-bottom: 0;
            }
            > .corner {
                display: none;
            }
            &.has-children {
                > .corner {
                    display: inline-block;
                }
            }
        }
        li {
            &.has-children {
                .corner {
                    display: inline-block;
                }
            }
        }
    }
    &__link {
        display: block;
        min-width: 50%;
        padding: 6px 30px;
        text-decoration: none;
        &:hover,
        &:focus {
            text-decoration: none;
            background-color: #f0f0f0;
        }
    }
    &__sublist {
        padding-left: 50px !important;
        > li {
            position: relative;
            .corner {
                display: none;
            }
            &.has-children {
                .corner {
                    display: inline-block;
                }
            }
        }
    }
    &__return-btn {
        border: none;
        background: none;
    }
    &__item {
        position: relative;
        display: flex;

        align-items: baseline;
    }
    &__breadcrumbs {
        padding-left: 0;
        list-style: none;
    }
    &__linktext {
        position: relative;
    }
    > li {
        &:hover .cabinet-catalog-list__submenu {
            display: block;
        }
    }
}

.phys-popup-category {
    margin-bottom: 55px;
    list-style: none;
    &__title {
        font-size: 16px;
        font-weight: normal;
        letter-spacing: 0.001em;
    }
}

.phys-popup {
    &__heading {
        margin-bottom: 46px;
    }
    &-price {
        &__title {
            font-size: 16px;
            font-weight: normal;
            letter-spacing: 0.001em;
            color: #c2c2c2;
        }
        .new-ui-selectmenu + .ui-selectmenu-button {
            width: auto !important;
            max-width: 120px;
        }
    }
    &__pricefield {
        width: 80px !important;
        height: 25px;
        margin-bottom: 0 !important;
        border-radius: 4px;
    }
    &-textblock {
        font-size: 14px;
        margin-bottom: 25px;
        color: #c2c2c2;
        &__label {
            font-weight: normal;
        }
    }
    &-regions {
        margin-bottom: 20px;
        &__list {
            display: inline-block;
            list-style: none;
        }
        &__item {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            color: color(main);
            .close {
                position: static;
                float: none;
                margin-left: 10px;
            }
        }
    }
    &-presubmit {
        &__box {
            margin-top: 4px;
            margin-bottom: 25px;
            input[type='checkbox'] {
                width: 30px;
                height: 20px;
            }
        }
        &__label {
            font-size: 14px;
            font-weight: normal;
            cursor: pointer;
            color: #c2c2c2;
        }
    }
    &__textarea {
        resize: none;
        border-color: color(main);
        border-radius: 4px;
    }
}

.default-modal {
    .modal-dialog {
        width: 1011px;
    }
    .modal-content {
        padding: 40px 0;
    }
    .form-title {
        margin-bottom: 48px;
    }
}

.phys-popup-categories {
    padding-left: 0;
    list-style: none;
    .close {
        position: static;
        display: inline-block;
        float: none;
        vertical-align: middle;
        span {
            width: 17px;
            height: 17px;
            font-size: 21px;
            line-height: 0.4em;
            text-align: center;
        }
        .fa-times {
            font-size: 12px;
        }
    }
    &__title {
        display: inline-block;
        margin-top: 0;
        margin-right: 5px;
        margin-bottom: 0;
        vertical-align: middle;
    }
    &__item {
        margin-bottom: 22px;
        .fa-check {
            opacity: 0;
            color: color(main);
        }
        &.checked {
            .phys-popup-categories__title {
                font-weight: bold;
            }
            .fa-check {
                opacity: 1;
            }
        }
    }
}

.form-tooltext {
    position: absolute;
    top: 50%;
    right: 17px;
    font-size: 14px;
    transform: translateY(-50%);
    color: #b9b9b9;
}

.form-element {
    position: relative;
    padding-bottom: 18px;
    &__error {
        top: 100%;
        display: none;
        margin-top: 15px;
    }
    &.invalid {
        .form-field {
            border-color: color(main2);
        }
        .form-element__error {
            display: block;
            color: color(main2);
        }
    }
}

.form-label {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 12px;
    &--block {
        display: block;
        margin-bottom: 15px;
    }
}

.form-element-submit {
    padding: 9px 34px;
    color: #fff;
    border-radius: 20px;
    background-color: color(main);
    &--presubmit {
        color: #fff;
        background-color: #c2c2c2;
    }
}

.cabinet-phys-avatar {
    &__imgblock {
        position: relative;
        width: 100px;
        height: 100px;
        margin-bottom: 15px;
        img {
            max-width: 100%;
        }
    }
    &-loading {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: none;
        width: 100%;
        height: 100%;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50px;
            height: 50px;
            transform: translate(-50%, -50%);
        }
        &--file-loading {
            display: block;
        }
    }
}

.photoblock-images {
    margin-bottom: 46px;
    &__tooltip {
        position: absolute;
        top: 0;
        z-index: 80;
        display: none;
        width: 100%;
        height: 100%;
        font-size: 14px;
        margin-bottom: 12px;
        padding-bottom: 3px;
        text-align: center;
        color: #fff;
        background-color: rgba(#222835, 0.75);
        &-text {
            position: relative;
            margin-bottom: 12px;
            padding-top: 10px;
            padding-bottom: 7px;
            background-color: color(main);
            &:after {
                position: absolute;
                top: 100%;
                left: 50%;
                width: 0;
                height: 0;
                content: '';
                transform: translateX(-50%);
                border-width: 10px 10px 0 10px;
                border-style: solid;
                border-color: color(main) transparent transparent transparent;
            }
        }
        &-action {
            &-btn {
                font-size: 14px;
                text-decoration: none;
                color: #fff;
                border: none;
                background: none;
            }
        }
    }
    &__imgblock {
        position: relative;
        &:hover {
            .photoblock-images__tooltip {
                display: block;
            }
        }
    }
    &__addbtn {
        display: block;
        cursor: pointer;
        text-decoration: none;
        color: color(main);
        border: none;
        background: none;
        &:hover,
        &:focus {
            text-decoration: none;
        }
        input[type='file'] {
            display: none;
        }
    }
    &__addblock {
        display: table;
        min-height: 158px;
        color: color(main);
        &-inner {
            display: table-cell;
            vertical-align: middle;
        }
        .fa {
            display: inline-block;
            margin-bottom: 10px;
            color: color(main);
        }
    }
    &__change-btn {
        display: block;
        width: 100%;
        font-size: 14px;
        padding: 9px 0;
        text-decoration: none;
        color: color(main);
        border: none;
        background: none;
        background-color: #f5f6f8;
    }
    &-loading {
        position: absolute;
        top: 0;
        display: none;
        width: 100%;
        height: 100%;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50px;
            height: 50px;
            transform: translate(-50%, -50%);
        }
        &--file-loading {
            display: block;
        }
    }
}

.photoblock-details {
    position: relative;
    margin-bottom: 53px;
    &::before {
        position: relative;
        top: 0;
        left: 25px;
        display: block;
        width: 0;
        height: 0;
        content: '';
        border-width: 0 20px 20px 20px;
        border-style: solid;
        border-color: transparent transparent #f5f6f8 transparent;
    }
    &__inner {
        padding: 30px;
        border: 1px solid #d5d5d5;
        border-radius: 20px;
    }
    &__label {
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 26px;
        letter-spacing: 0.001em;
    }
    &__item {
        margin-bottom: 42px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    input {
        border-radius: 2px;
    }
    &-submit {
        &__btn {
            border-radius: 20px;
        }
    }
}

.achievements-wrap {
    &__item {
        margin-bottom: 15px;
    }
}

.chosen-categories {
    &__title {
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 25px;
    }
    &__list {
        padding-left: 0;
        list-style: none;
    }
    &__item {
        margin-bottom: 15px;
    }
    &__text {
        font-size: 16px;
        color: color(main);
    }
    .close {
        margin-right: 10px;
    }
}

// END:cabinet-phys
