@import '../assets/veriables';

/* cabinet-settings */

.cabinet-aside-settings {
    padding: 0;
    border-color: #d1d1d2;
}

.cabinet-settings-list {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    &__link {
        position: relative;
        display: block;
        font-family: 'Roboto-Regular';
        font-size: 20px;
        line-height: 50px;
        padding: 0px 50px 0 19px;
        text-decoration: none;
        letter-spacing: 0.011em;
        color: #222835;
        border-left: 5px solid transparent;
        &:hover,
        &:focus {
            text-decoration: none;
            color: color('main');
            border-left: 5px solid color(main);
            background-color: #f5f6f8;
        }
        .corner {
            right: 25px;
            border-width: 2px;
            border-color: #cacaca;
        }
    }
}

.cabinet-offers-intro {
    margin-bottom: 22px;
    color: color(main);
}

.cabinet-category-list {
    list-style: none;
}

.cabinet-category-list__item {
    margin-bottom: 8px;
}

.cabinet-settings-main {
    background-color: #fff;
    &__mainrow {
        margin-bottom: 40px;
        padding-bottom: 10px;
        border-bottom: 1px solid #f5f6f8;
    }
    .btn.inline {
        &.inline {
            display: inline-block;
            width: auto;
            min-width: 139px;
            padding: 7px 29px;
        }
        &.submit {
            margin-right: 18px;
        }
    }
}

.cabinet-settings-userinfo {
    padding-top: 35px;
    &__contacts {
        text-align: center;
    }
    &__contact {
        display: block;
        font-size: 14px;
        margin-bottom: 14px;
        letter-spacing: 0.001em;
        color: #000;
        &--email {
            margin-bottom: 30px;
        }
    }
    &__file {
        position: absolute;
        z-index: -1;
        overflow: hidden;
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
    }
    &__label {
        font-size: 14px;
        font-weight: normal;
        margin-bottom: 35px;
        cursor: pointer;
        text-align: center;
        text-decoration: underline;
        letter-spacing: 0.001em;
        color: color(main);
    }
    &__city {
        font-size: 20px;
        letter-spacing: 0.001em;
        color: color('main-font');
    }
}

.cabinet-settings-avatar {
    position: relative;
    display: block;
    overflow: hidden;
    width: 102px;
    height: 102px;
    margin: 0 auto 60px;
    border-radius: 50%;
    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        // max-width: 100px;
        height: 102px;
        transform: translate(-50%, -50%);
    }
}

.cabinet-settings-fields {
    padding-top: 23px;
    &__main {
        border: none;
    }
    &__legend {
        display: block;
        font-size: 16px;
        margin-bottom: 14px;
        color: color('main-font');
        border: none;
    }
    &-item {
        position: relative;
        margin-bottom: 43px;
    }
    &__city {
        &-btn {
            margin-bottom: 0;
            padding: 0;
            text-decoration: underline;
            border: none;
            background: none;

            @extend .cabinet-settings-userinfo__label;
        }
    }
}

.cabinet-offers-table {
    margin-bottom: 50px;
}

.cabinet-review-status {
    &--published {
        color: color(main);
    }
    &--rejected {
        color: color(count);
    }
    &--pending {
        color: #242a36;
    }
}

.cabinet-question-heading {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    letter-spacing: 0.001em;
}

.cabinet-question-heading__date {
    color: #c6c6c6;
}

.cabinet-question-heading__title {
    // display: inline-block;
    margin-bottom: 5px;
    color: color('main');
}

.cart-reviews__review.cart-reviews__review--cabinet-questions {
    margin-bottom: 34px;
    padding-bottom: 50px;
    border-bottom: 1px solid #f0f0f0 !important;
}

.sidebar-title__text--cabinet-questions {
    padding-bottom: 0;
    border-bottom: none;
}

.compare-sidebar-items--tabs-page.items-sidebar {
    min-height: inherit;
}

.compare-sidebar-items__title {
    margin-bottom: 25px;
}

.sidebar-title__text--settings-main {
    margin-bottom: 20px;
    border-bottom: none;
}

.sidebar-title__text-sub--settings-main {
    font-size: 16px;
    letter-spacing: 0.01em;
}

.cabinet-settings-userinfo--password-change {
    padding-top: 10px;
}

.inline {
    display: inline-block;
    vertical-align: middle;
}

.cabinet-settings-fields__field.inline,
.cabinet-settings-fields__legend.inline {
    margin: 0;
    cursor: pointer;
    outline: none !important;
}

.cabinet-settings-fields__field.inline {
    margin-right: 5px;
}

.cabinet-settings-fields-item--show-password {
    margin-top: 29px;
}

.cabinet-settings-fields-item--for {
    &:last-child {
        margin-bottom: 12px;
    }
}

.cabinet-settings-return-btn {
    .fa {
        margin-left: 5px;
    }
}

.answer {
    button {
        margin: 0;
        padding: 0;
        color: color(main);
        border: none;
        background-color: transparent;
        &:hover {
            text-decoration: underline;
        }
    }
    &.active {
        button {
            display: none;
        }
    }
}

.message {
    textarea {
        height: 130px !important;
        resize: none;
        border-color: color(main);
        border-radius: 15px;
    }
    &__buttons {
        margin: 20px 0;
        text-align: right;
        .btn {
            margin: 0 0 0 30px;
            padding-right: 30px;
            padding-left: 30px;
        }
    }
}

.main-cabinet {
    padding-bottom: 80px;
}

.cabinet-settings-submit {
    padding: 30px 0;
}

.password-safety {
    position: absolute;
    top: auto;
    left: 0;
    display: none;
    width: 100%;
    padding-top: 10px;
    &__indicators {
        padding-left: 0;
    }
    &__indicator {
        display: inline-block;
        width: 20px;
        height: 7px;
        border: 1px solid #d5d5d5;
        background-color: #fafafa;
    }
    &__status {
        font-size: 14px;
        padding-top: 3px;
        letter-spacing: 0.001em;
    }
    &.pwd {
        &-strong {
            .password-safety__indicator {
                background-color: #88b04b;
            }
            .password-safety__status {
                color: #88b04b;
            }
        }
        &-middle {
            .password-safety__indicator:not(:last-child) {
                background-color: #dac723;
            }
            .password-safety__status {
                color: #dac723;
            }
        }
        &-weak {
            .password-safety__indicator:first-child {
                background-color: #e84c3d;
            }
            .password-safety__status {
                color: #e84c3d;
            }
        }
    }
    &.active {
        display: block;
    }
}

// .cabinet-offers-slider
.cabinet-offers-slider .item-info__reviews .count {
    opacity: 1;
}

.cabinet-offers-slider .item-info__options {
    left: auto;
    z-index: 101;
}

.cabinet-offers-slider .tooltipBtn {
    display: block;
    float: none;
    margin: 0 0 10px 0;
    &.retweet {
        font-size: 18px;
        font-size: 25px;
        line-height: 1em;
        padding: 0;
        vertical-align: middle;
        color: #bebebe;
        border: 0;
        background-color: rgba(0, 0, 0, 0);
    }
}

.cabinet-offers-slider .catalog-items__item {
    .item-info {
        border: 5px solid transparent;
    }
    &.default {
        .item-info {
            border-left: 5px solid #bebebe;
        }
    }
    &.active {
        .item-info {
            border-left: 5px solid #e84e40;
        }
    }
    &:hover {
        .item-info {
            border-left: 5px solid #e84e40;
        }
    }
}

.cabinet-offers-slider.catalog-items.slick-initialized .catalog-items__item {
    margin-bottom: 66px;
}

.cabinet-offers-slider .slick-list {
    overflow-x: scroll;
}

.main-cabinet .cabinet-table-offers {
    display: none;
    &.active {
        display: table;
    }
    tr {
        border-left: 5px solid transparent;
        &.active {
            border-left-color: #e84e40;
        }
    }
}

// END:.cabinet-offers-slider

// cabinet-testimonials
.cabinet-testimonials .cart-reviews__review {
    margin-bottom: 20px;
}
.cabinet-testimonials .user-info--avatar .user-info__avatar {
    border: 1px solid #b6b7b8;
}

.cabinet-testimonials .user-info__post-status {
    color: color('main');
}
.review-row--footer {
    padding-bottom: 32px;
}
.review-row__footer-btn {
    display: inline-block;
    &--chat {
        margin-right: 68px;
    }
}
// END:cabinet-testimonials
@media screen and (max-width: 991px) {
    .cabinet-settings-return-btn {
        margin-top: 18px;
    }
}


/* END:cabinet-settings */
