@import '../assets/veriables';

/* cabinet-searchline  */
.cabinet-searchline-wrapper {
    position: relative;
    margin: 0 0 20px;
    &__inner{
        margin-bottom: 7px;
        padding: 16px 0;
        border-bottom: 1px solid #fff;
    }
}

.search-line-list {
    &--cabinet {
        .search-line-list__item {
            padding: 0 0.3% 0 0;
        }
    }
}

.btn {
    &.search-line-btn {
        &--cabinet {
            opacity: 1;
            border-color: transparent;
            &.active {
                color: #222835;
                border: 2px solid #3598db;
                background-color: transparent;
            }
        }
    }
}

.cabinet-settings-return-btn{
    display: inline-block;
    margin-top: 6px;
}

/* END:cabinet-searchline  */
