@import '../assets/veriables';
/*========= CART_ITEM_INFO ==========*/
.cart-wrapper{
	padding: 30px 15px;
	background:#fff;
	margin: 0 0 30px;
}
.cart-preview{
	display: table;
	align-items:center;
	width: 100%;
	height: 550px;
	.zoomWrapper{
		position: static;
		top: 50%;
		left: 50%;
		width: 100% !important;
		height: 100% !important;
		margin: 0 auto;
	}
	&__thumbnails{
		display: table-cell;
		vertical-align: middle;
		width: 140px;
	}
	&__big-img{
		position: relative;
		display: table-cell;
		vertical-align: middle;
		background:#f5f6f8;
		img{
			position: absolute;
			top: 50%;
			left: 50%;
			height: auto !important;
			width: auto !important;
			max-height: 450px;
			max-width: 500px;
			transform:translate(-50%, -50%);
		}
	}
}
.zoomLens{
	cursor: url('../images/zoom.png'), auto !important;
}
.zoomContainer{
	max-width: 500px;
	max-height: 500px;
}

.cart-item{
	min-height: 500px;
	display: flex;
	flex-direction:column;
	flex-wrap:wrap;
	justify-content: space-between;
	&__reviews{
		padding: 20px 0 10px;
		border-bottom: 2px solid color(cart-border);
		.reviews{
			text-align: center;
			&>*{
				display: inline-block;
				margin: 0 10%;
			}
		}
	}
	&__price{
		font: 4.5rem $rubik-bold;
		width: 100%;
		text-align: center;
	}
	&__info{
		flex-grow:1;
		display: flex;
		flex-direction:column;
		justify-content:center;
		width: 100%;
	}
	&__cheap{
		position: absolute;
		right: 10px;
		bottom: -10px;
		.cheap{
			font-size: 20px;
		}
	}
}
.info-holder{
	display: table;
	width: 100%;
	&__row{
		display: table-row;
		border-left: none;
		border-right: none;
		border-bottom: none;
		&:first-child{
			border-top: 0;
		}
		&:last-child{
			a{
				display: inline-block;
				margin: 15px 0 0;
				white-space: nowrap;
			}
		}
		span{
			display: table-cell;
			padding: 5px 0;
			border-bottom: 1px solid color(cart-border);
			&:last-child{
				text-align: right;
				vertical-align: middle;
			}
			&:first-child{
				width: 40%;
			}
		}
	}	
}

.item-gallery{
	width: 110px;
	margin: 0;
	padding: 0;
	min-height: 500px;
	list-style-type: none;
	margin: -15px 0;
	max-height: 580px;
	li{
		margin: 15px 0;
	}
	a{
		position: relative;
		display: inline-block;
		width: 100%;
		text-decoration: none;
		cursor:pointer;
		background:#f5f6f8;
		text-align: center;
		outline: none;
		img{
			max-width: 110px;
			max-height: 110px;
			padding: 10px;
			margin: 0 auto;
		}
		&.active{
			&:after{
				content: '';
				border:2px solid color(main);
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		&:hover{
			img{
				border-color:color(main);
			}
		}
	}
	&.slick-slider{
		button.slick-arrow{
			left: 50%;
			right: auto;
			transform:translate(-50%,0);
		}
		.slick-prev{
			top: -4px;
			bottom: auto;
			width: 20px;
			height: 20px;
			&:after{
				transform: rotate(45deg) !important;
			}
		}	
		.slick-next{
			top: auto;
			bottom:-4px;
			width: 20px;
			height: 20px;
			&:after{
				transform: rotate(135deg) !important;
			}
		}	
	}
}