@import '../assets/veriables';
/*========== CART_REVIEWS ===============*/
.cart-reviews{
	background:#fff;
	padding: 0 30px 30px;
	margin: 0 0 30px;
	&__title{
		padding: 30px 0;
		border-bottom: 2px solid #f0f0f0;
		.title{
			font:24px $rubik-bold;
			padding: 4px 0 0;
		}
	}
	&__review{
		padding: 30px 0;
		border-bottom: 2px solid #f0f0f0;
		p{
			margin: 0;
			line-height: 1.3em;
		}
		.reviews{
			ul.rev-progress{
				display: block;
				margin: 0 0 15px;
				text-align: left;
			}
			.count{
				color:color(main);
			}
		}
		&:last-child{
			border: none;
		}
	}
	&__btn{
		.btn{
			width: 100%;
		}
	}
	.reviews{
		padding: 10px 0 0;
		&:not(:last-child){
			margin: 0 0 27%;
		}
		.title{
			color: #bebebe;
			margin: 0 0 15px;
		}
		.rev-progress{
			display: inline-block;
			margin: 0 8% 0 0;
		}
		.delivery{
			font-size: 16px;
			line-height: 1.2em;
			color: #bebebe;
			span{
				display: block;
			}
		}
	}
}
.comment-text{
	margin:0 0 10px;
}
.answer{
	margin: 0 0 10px;
	&__to-chat{
		margin-left: 68px;
	}
}
.review-info-wrapper{
	.review-row{
		&:not(:last-child){
			margin: 0 0 20px;
		}
		&__title{
			color: #bebebe;
			margin: 0 0 5px;
		}
	}
}
.user-info{
	font-size: 20px;
	color: #bebebe;
	margin: 0 0 20px;
	&--avatar{
		font-size: 16px;
		text-align: center;
		&>*{
			&:not(:last-child){
				margin-bottom: 10px;
			}
		}
		.user-info__avatar{
			margin-bottom: 25px;
		}
	}
	&__avatar{
		max-width: 110px;
		height: 110px;
		margin: 0 auto;
		overflow: hidden;
		img{
			position: relative;
			left: 50%;
			transform: translate(-50%,0);
			width: auto;
			height: 100%;
		}
	}
	&__name{
		color:color(main-font);
	}
	&__count{
		color: color(main);
	}
}
.review-details{
	overflow: hidden;
	margin: 0 0 30px;
	&>div{
		float: left;
		&:not(:first-child){
			margin: 0 0 0 10%;
		}
		.title,
		.text{
			float: left;
		}
		.title{
			color: #bebebe;
		}
		.text{
			margin: 0 0 0 5px;
			color: color(main);
		}
		.reviews{
			padding: 0;
			.rev-progress{
				margin: 0;
				font-size: 14px;
			}
		}
	}
}