@import '../assets/veriables';
/*========== CART_TABS_INFO ==========*/
.cart-tabs{
	&__item{
		display: inline-block;
	}
}
.tabs-content{
	padding: 0;
	margin: 0 0 30px;
	list-style-type: none;
	background:#fff;
}