@import '../assets/veriables';
/*=========CATALOG_ITEMS============*/
.catalog-items {
    position: relative;
    padding: 20px 0;
    &.slick-initialized {
        .catalog-items__item {
            margin: 20px 0 100px;
            &:hover {
                .item-info {
                    box-shadow: 0 0 20px 0 rgba(57,70,94,0.25);
                }
            }
        }
    }
    &__item {
        position: relative;
        height: 440px;
        margin: 0 0 33px;
        .item-info {
            height: 100%;
            border: 1px solid #e1dfdf;
            box-shadow: none;
        }
        &:hover {
            .item-info {
                position: absolute;
                top: 0;
                left: 15px;
                z-index: 2;
                z-index: 100;
                width: calc(100% - 30px);
                box-shadow: 0 0 70px 0 rgba(57,70,94,0.25);
                &__reviews {
                    .count {
                        opacity: 1;
                    }
                }
                &__buttons {
                    .top {
                        display: block;
                    }
                    .bottom {
                        .magazines {
                            display: inline-block;
                            font-size: 16px;
                            line-height: 1em;
                            padding: 12px 15px;
                            text-decoration: none;
                            color: #fff;
                            border-radius: 50px;
                            background: color(main);
                            &:hover {
                                background: darken(color(main), 3%);
                            }
                            &:focus {
                                background: darken(color(main), 3%);
                                box-shadow: 0 0 20px 0 color(main);
                            }
                        }
                    }
                }
            }
        }
        &--advertise {
            //  МОДИФИКАТОР ИЗМЕНЯЮЩИЙ АЙТЕМ В РЕКЛАМНЫЙ БЛОК
        }
        &-title {
            text-transform: inherit;
            color: color(main);
            // margin-bottom: 0;
        }
    }
    &.horizontal {
        .catalog-items__item {
            float: none;
            width: 100%;
            .item-info {
                display: flex;
                padding: 20px;
                .left-column,
                .center-column,
                .right-column {
                    width: calc(100/12 * 4%);
                }
                .left-column {
                    order: -1;
                }
                .right-column {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    padding: 0 0 0 30px;
                    text-align: left;

                    flex-wrap: wrap;
                    align-items: flex-start;
                    justify-content: space-between;
                }
                .center-column {
                    padding: 0 0 0 20px;
                }
                &__view {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    padding: 0 15px 0 0;

                    align-items: center;
                    justify-content: center;
                    .img-holder {
                        width: 100%;
                        height: 100%;
                        margin: 0;
                    }
                }
                &__reviews {
                    overflow: hidden;
                    width: 100%;
                    padding: 0 0 25px;
                    border-bottom: 1px solid color(filter-border);
                    .rev-progress {
                        float: left;
                    }
                    .count {
                        float: right;
                        margin: 0;
                        opacity: 1;
                    }
                }
                &__price {
                    width: 100%;
                    line-height: 1em;
                    margin: 0;
                    padding: 0;
                    text-align: left;

                    order: -1;
                    h2 {
                        margin: 10px 0;
                    }
                }
                &__title {
                    margin: 0 0 15px;
                    .title {
                        margin-top: 0;
                        &__text {
                            text-align: left;
                        }
                    }
                }
                &__info {
                    position: static;
                    display: block !important;
                    height: auto;
                    padding: 0;
                    background-color: transparent;
                    .info-row {
                        color: color(main-font);
                        a {
                            font-size: 14px;
                            color: color(main);
                            /* &:before {
                                display: inline-block;
                                font: normal normal normal 22px/1 FontAwesome;
                                line-height: 1em;
                                margin: -2px 10px 0 0;
                                content: '\f13a';
                                transform: rotate(-90deg);
                                vertical-align: middle;
                                text-decoration: none;
                            } */
                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                    .text-holder {
                        padding: 0;
                        .info-row {
                            &:not(:first-child):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)):not(:nth-child(5)):not(:nth-child(6)) {
                                display: none;
                            }
                        }
                        &:after {
                            display: none;
                        }
                    }
                    & > .info-row {
                        position: static;
                        margin: 5% 0 0;
                        text-align: left;
                    }
                }
                &__options {
                    top: 32px;
                    right: 20px;
                    z-index: 2;
                    .info-btn {
                        display: none;
                    }
                }
                &__buttons {
                    position: static;
                    display: table;
                    text-align: right;
                    .top {
                        display: table-cell;
                    }
                    .bottom {
                        display: table-cell;
                        text-align: right;
                    }
                    a {
                        color: color(main-font);
                        i {
                            font-size: 25px;
                            line-height: 1em;
                            color: #b6b6b6;
                        }
                    }
                    .magazines {
                        display: inline-block;
                        font-size: 16px;
                        line-height: 1em;
                        padding: 12px 15px;
                        text-align: center;
                        text-decoration: none;
                        color: #fff;
                        border-radius: 50px;
                        background: color(main);
                    }
                    .cheap {
                        color: #fff;
                    }
                }
            }
            &:hover {
                .item-info {
                    position: relative;
                    top: 0;
                    left: 0;
                    z-index: 100;
                    width: auto;
                    box-shadow: 0 0 70px 0 rgba(57,70,94,0.25);
                }
            }
        }
    }
}

.item-info,
.more-items-btn {
    position: relative;
    display: block;
    padding: 45px 1.5rem 19px;
    border: 1px solid #e1dfdf;
    background: #fff;
    // box-shadow: 0 0 11px 0 rgba(57,70,94,0.25);
    // cursor:pointer;
    &__options {
        position: absolute;
        top: 15px;
        left: 10px;
        right: 10px;
        text-align: right;
    }
    &__title {
        .title {
            position: relative;
            display: flex;
            overflow: hidden;
            flex-direction: column;
            width: 100%;
            height: 50px;
            margin: 20px 0 16px;
            padding: 0 5px;
            &.big-title:after {
                position: absolute;
                right: 0;
                bottom: 0;
                z-index: 3;
                width: 30%;
                height: 50%;
                content: '';
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,0.62+44,1+100 */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
                background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.62) 44%, rgba(255,255,255,1) 100%);
                background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.62) 44%, rgba(255,255,255,1) 100%);
                background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.62) 44%, rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
            }
            &__text {
                position: relative;
                z-index: 3;
                max-width: 100%;
                margin: 0;
                text-align: center;
                vertical-align: middle;
                white-space: normal;
                text-transform: inherit;
                a {
                    font-size: 16px;
                    text-transform: inherit;
                    color: color(main-font);
                    outline: none;
                    &:hover {
                        text-decoration: none;
                    }
                }
                // .brand,.model{
                //  display: block;
                // }
            }
        }
    }
    &__view {
        margin: 0 0 10px;
        text-align: center;
        img {
            max-width: 100%;
        }
        .img-holder {
            position: relative;
            display: block;
            // padding: 35%;
            height: 160px;
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                max-height: 100%;
                transform: translate(-50%,-50%);
            }
        }
    }
    &__reviews {
        .reviews {
            text-align: center;
            .count {
                display: inline-block;
                margin: 5px 0 0;
                text-decoration: underline;
                opacity: 0;
                color: #a4a4a4;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    &__price {
        padding: 10px 0 6px;
        text-align: center;
        h2 {
            font-family: 'Rubik-Regular';
            margin: 0;
        }
    }
    &__buttons {
        width: 100%;
        text-align: center;
        .top,
        .bottom {
            vertical-align: middle;
        }
        .top {
            display: none;
            margin: 0 0 20px;
        }
        .bottom {
            a {
                text-decoration: underline;
                color: color(main);
                &.magazines {
                    text-decoration: underline;
                    color: color(location);
                    &:hover {
                        text-decoration: none;
                    }
                }
                &:hover {
                    text-decoration: none;
                    color: color(main);
                }
            }
        }
    }
    &__info {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        display: none;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 45px 0 50px;
        opacity: 0.9;
        background: color(main-font);

        justify-content: center;
        .text-holder {
            position: relative;
            overflow: hidden;
            padding: 0 7%;
            &:after {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 50px;
                content: '';
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#222835+0,222835+100&0+0,1+100 */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
                background: -webkit-linear-gradient(rgba(34,40,53,0) 0%, rgba(34,40,53,1) 100%);
                background: -o-linear-gradient(rgba(34,40,53,0) 0%, rgba(34,40,53,1) 100%);
                background: linear-gradient(rgba(34,40,53,0) 0%, rgba(34,40,53,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00222835', endColorstr='#222835',GradientType=0 ); /* IE6-9 */
            }
        }
        .info-row {
            font-size: 16px;
            line-height: 1em;
            margin: 1.5% 0;
            color: #fff;
            a {
                text-decoration: underline;
                color: #fff;
            }
        }
        & > .info-row {
            position: absolute;
            left: 7%;
            right: 7%;
            bottom: 20px;
            font-size: 18px;
            text-align: center;
            a {
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.item-info__buttons {
    display: none;
}
/* .action {
    position: absolute;
    top: 0;
    left: 0;
    border: 50px solid color(main);
    border-right-color: transparent;
    border-bottom-color: transparent;
    span {
        position: absolute;
        top: -25px;
        left: -40px;
        font-size: 22px;
        white-space: nowrap;
        letter-spacing: -1px;
        color: #fff;
    }
} */
.more-items-btn {
    display: flex;
    padding: 0 1.5rem;
    cursor: pointer;

    justify-content: center;
    align-items: center;
}
.more-items-btn:hover {
    cursor: pointer;
    box-shadow: 0 0 70px 0 rgba(57,70,94,0.25);
}
.tiles {
    .catalog-items__item,
    .item-info,
    .more-items-btn,
    .btn-holber {
        min-height: 425px;
    }
}
.horizontal {
    .catalog-items__item,
    .item-info,
    .more-items-btn,
    .btn-holber {
        height: 285px;
    }
    .action {
        z-index: 5;
    }
}
