@import '../assets/veriables';
/*========= CATALOG_FILTER ========*/
.catalog-new-item {
    height: 440px;
    margin: 0 0 30px;
    &__title {
        letter-spacing: 0.001em;
        text-transform: inherit;
        color: color(main);
    }
}

.catalog-sidebar {
    position: relative;
    z-index: 1;
    background: #fff;
    &__body {
        min-height: 52px;
        margin-bottom: 29px;
        padding: 15px 0 0px 0;
        border: 1px solid #ccc;
        .panel-group {
            margin-bottom: 0;
        }
    }
}

.range {
    padding: 16px 30px 0;
    .slider {
        width: 100%;
        .slider-track {
            height: 8px;
        }
        .tooltip.top {
            margin-top: -30px;
        }
    }
    .slider-selection {
        background: color(main);
    }
    .slider-track-high {
        background: #f0f0f0;
    }
    .slider-handle {
        top: 2px;
        width: 14px;
        height: 14px;
        cursor: pointer;
    }
    .tooltip-arrow {
        display: none;
    }
    .tooltip {
        z-index: 0;
        padding: 0;
        opacity: 0.9 !important;
    }
    .tooltip:nth-child(3),
    .tooltip:nth-child(4) {
        display: none !important;
    }
    .tooltip-inner {
        font-size: 14px;
        padding: 0;
        color: #a4a4a4;
        background-color: transparent;
    }
    &__title {
        font-size: 20px;
        margin: 0 0 47px;
        color: color(main);
    }
    &__gap {
        font-size: 14px;
        margin: 10px 0 0;
        padding: 0 0 15px;
        color: #a4a4a4;
        border-bottom: 1px solid color(filter-border);
        .begin {
            float: left;
        }
        .end {
            float: right;
        }
    }
}

.filter-accordion {
    // margin: 0 0 30px;
    &__item {
        position: relative;
        margin: 0 0 1px !important;
        border: none;
        border-radius: 0;
        box-shadow: none;
        &:after {
            position: absolute;
            top: 99%;
            left: 30px;
            right: 30px;
            height: 1px;
            content: '';
            background: color(filter-border);
        }
        &--lonely {
            &:after {
                display: none;
            }
        }
        .panel-heading {
            padding: 0;
            background: transparent;
            &.checked {
                a {
                    text-decoration: none;
                    border-color: color(main);
                    &:after {
                        color: color(main);
                        border-color: color(main);
                    }
                }
            }
            a {
                position: relative;
                display: block;
                font-size: 20px;
                line-height: 1.2em;
                margin: 0 30px 0 0;
                padding: 1.15em 30px 1.15em 25px;
                color: color(main-font);
                border-left: 5px solid transparent;
                &[aria-expanded='true'] {
                    color: color(main);
                    &:after {
                        content: '\f068';
                        color: color(main);
                        border-color: color(main);
                    }
                }
                &:focus {
                    text-decoration: none;
                    outline: none;
                }
                &:after {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    font: normal normal normal 13px/1.75 FontAwesome;
                    content: '\f067';
                    transform: translate(0,-50%);
                    text-align: center;
                    vertical-align: middle;
                    color: color(main);
                    border: 2px solid color(main);
                    border-radius: 50px;
                }
            }
        }
        .panel-body {
            padding: 0 30px 10px;
            border-top: none !important;
        }
        &.filtered {
            border-radius: 0;
            // box-shadow: inset 0 0 0 3px color(main);
            .overal-link {
                display: block;
            }
        }
    }
}

.more-filter {
    text-align: center;
    .btn.more {
        display: block;
        width: 100%;
        min-height: 52px;
    }
}
