@import '../assets/veriables';
/*======= COMPARE_SLIDER ========*/
.compare-slider {
    margin-top: -20px;
}

.compare-slider-info {
    &.slick-initialized {
        .catalog-items__item {
            margin: 0;
            min-height: auto;
        }
    }
}
.item-information-row {
    margin-bottom: 30px;
}
.compare-info {
    font-size: 16px;
    line-height: 1.3em;
    padding: 0 30px;
    background: #fff;
    i {
        font-size: 22px;
        line-height: 1em;
    }
    .fa-check {
        color: #1bab22;
    }
}
