@import '../assets/veriables';
/*======= COMPARE_SIDEBAR ========*/
.items-sidebar{
	margin: 0 0 30px;
}
.compare-sidebar-items{
	padding-left: 30px; 
	padding-right: 30px;
	&__title{
		font: 24px $rubik-bold;
		padding: 0 0 20px;
		border-bottom:2px solid #f0f0f0;
	}
	&__devices{
		&:not(:last-child){
			padding: 20px 0;
			border-bottom:2px solid #f0f0f0;
		}
	}
	&.items-sidebar{
		display: flex;
		flex-direction: column;
		min-height: 425px;
	}
	&__options{
		display: flex;
		flex-direction: column;
		flex-grow:1;
		justify-content:flex-end;		
	}
	ul{
		padding: 0;
		list-style-type: none;
		li{
			position: relative;
			margin: 0 0 10px;
			&:last-child{
				margin: 0;
			}
			.delete{
				position: absolute;
				top: 50%;
				left: 100%;
				font-size: 18px;
				border: 0;
				margin: 0;
				transform: translate(0, -50%);
			}
		}
	}
	a{
		font-size: 20px;
		line-height: 1em;
		text-decoration: underline;
		&:hover,
		&.active{
			color: color(main-font);
			text-decoration: none;
		}
	}
}
.compare-sidebar{
	padding:0 30px;
	font-size: 20px;
	line-height: 1em;
}
.compare-row{
	display: table;
	width: 100%;
	height:87px;
	border-bottom:2px solid #f0f0f0;
	&>*{
		display: table-cell;
		vertical-align: middle;
	}
	&:last-child{
		border: 0;
	}
}