@import '../assets/veriables';
/*========= FILTERS_TITLE ==========*/
.filters{
	background:#fff;
	padding: 10px 0;
	margin-bottom: 30px;
	&__title{
		padding: 6px 30px 0;
		&>span{
			display: inline-block;
			font: 24px $rubik-bold;
			margin: 0 15% 0 0;
		}
		.refresh{
			margin: 4px 0 0;
		}
	}
	&__items{
		color: color(main);
		padding-top: 10px;
		font-size: 14px;
		line-height: 1em;
		.count{
			font-size: 20px;
			line-height: 1em;
		}
	}
	&__buttons{
		text-align: right;
		button{
			height: 40px;
			margin: 0 5px;
			outline:none !important;
		}
	}
}