@import '../assets/veriables';
/*========== MAGAZINES_TABLE ===============*/
table{
	.magazine-link{
		.info{
			vertical-align: middle;
			border-radius: 7px;
			cursor: pointer;
		}
		a{
			margin:5px 0 0 10px;
			display: inline-block;
			color:color(main);
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}
	.stock{
		width: 16%;
	}
	.show{
		font-family: $main;
		width: 20%;
		display: table-cell !important;
		text-align: center;
		vertical-align: middle;
	}
	.price{
		text-align: center;
		font: 24px $rubik-bold;
	}
	.rate{
		text-align: center;
		.reviews>a{
			display: block;
			text-align: center;
			margin: 0;
			ul.rev-progress{
				margin: 0;
			}
		}
	}
	.distance{
		text-align: center;
		font-size: 16px;
		line-height: 1em;
	}
	.button{
		text-align: right;
	}
}
table.table-row-hover{
	background-color: #fff;
	tr{
		&:not(:first-child){
			cursor:pointer;
			&:hover{
				border-color:transparent;
				box-shadow: 0 0 70px 0 rgba(57,70,94,.25);
			}
		}
	}
}
.distance-drop{
	display: inline-block;
	position: relative;
	.drop-down{
		position: absolute;
		top: 100%;
		left: 0;
		width: 240px;
		padding: 10px;
		text-align: left;
		background:#fff;
		box-shadow: 0 0 11px 0 rgba(57,70,94,.25);
		z-index:2;
		cursor:default;
		display: none !important;
		p{
			font-size: 14px;
			line-height: 1.15em;
			color: #a5a5a5;
			margin: 0;
		}
		a{
			display: inline-block;
			font-size: 14px;
			text-decoration: underline;
			color: color(main);
			margin: 3px 0 0;
			&:hover{
				text-decoration: none;
			}
		}
	}
	&:hover{
		.drop-down{
			display: block;
		}	
	}
}