@import '../assets/veriables';
/*======= MAIN_MENU ========*/
.main-menu {
    position: relative;
    z-index: 1000;
    height: $main-menu-height;
    color: #fff;
    background: color(main);
    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-width: 768px;
    }
    .container {
        position: relative;
    }
    .filter-drop {
        position: absolute;
        top: -10000%;
        left: 0;
        width: 100%;
        min-width: 290px;
        padding: 0;
        list-style-type: none;
        opacity: 0;
        background: #fff;
        background: #fff;
        &__item {
            position: relative;
            .filter-drop {
                width: auto;
                min-width: 290px;
                padding: 0;
                &__item {
                    &:not(:last-child) {
                        a {
                            border-bottom: 1px solid #f0f0f0;
                        }
                    }
                }
                a {
                    padding: 15px 30px 14px;
                }
            }
            & > span,
            & > a {
                display: inline-block;
                width: 100%;
                font-size: 16px;
                line-height: 1em;
                padding: 6px 30px;
                cursor: pointer;
                text-decoration: none;
                color: color(main-font) !important;
                &:hover {
                    background: #f0f0f0;
                }
                & > span {
                    padding-right: 10px;
                    vertical-align: middle;
                    &.icon {
                        padding: 0;
                        text-align: center;
                    }
                }
            }
            &.open {
                text-decoration: none;
                .filter-drop {
                    top: 0;
                    left: calc(100% + 3px);
                    transition: opacity 0.1s;
                    opacity: 1;
                    &:before {
                        position: absolute;
                        top: 0;
                        left: -3px;
                        display: block;
                        width: 3px;
                        height: 100%;
                        content: '';
                    }
                }
            }
        }
    }
}

.catalog-btn {
    display: block;
    width: 100%;
    font-size: 20px;
    line-height: 1em;
    padding: 0;
    cursor: pointer;
    text-align: left;
    pointer-events: none;
    border: none;
    background-color: transparent;
    .brg {
        margin: -4px 10px 0 0;
    }
}
.icon {
    display: inline-block;
    margin: -2px 7px 0 0;
    vertical-align: middle;
    span {
        font-size: 35px;
        line-height: 1em;
        color: color(main);
    }
}
.dropdown-catalog {
    position: relative;
    height: $main-menu-height;
    margin: 0 auto;
    padding: 20px 0 0;
    cursor: pointer;
    &:hover {
        & > .filter-drop {
            top: 100%;
            transition: opacity 0.1s;
            opacity: 1;
        }
    }
}
.search {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 47%;
    height: 40px;
    margin: 10px 0 0;
    vertical-align: middle;
    border: 1px solid #fff;
    border-radius: 100px;
    &__text {
        position: absolute;
        top: 0;
        right: 85px;
        width: calc(100% - 85px);
        height: 100%;
        padding: 0 15px;
        input {
            width: 100%;
            height: 100%;
            font-size: 14px;
            border: none;
            background-color: transparent;
            &::-webkit-input-placeholder {
                font-size: 14px;
                opacity: 1;
                color: #fff;
            }
            &::-moz-placeholder {
                font-size: 14px;
                opacity: 1;
                color: #fff;
            }/* Firefox 19+ */
            &:-moz-placeholder {
                font-size: 14px;
                opacity: 1;
                color: #fff;
            }/* Firefox 18- */
            &:-ms-input-placeholder {
                font-size: 14px;
                opacity: 1;
                color: #fff;
            }
        }
    }
    &__btn {
        position: absolute;
        top: 0;
        right: 0;
        width: 85px;
        height: 100%;
        button {
            width: 100%;
            height: 100%;
            font-size: 30px;
            text-align: center;
            color: color(main);
            border: none;
            background-color: #fff;
            i {
                margin: -3px 0 0;
            }
        }
    }
}

.main-btns {
    text-align: right;
    background: transparent;
    a,
    button {
        height: $main-menu-height;
        font-size: 20px;
        font-weight: 200;
        margin: 0 !important;
        padding: 16px 20px;
        color: #fff;
        border: none;
        border-left: 1px solid #009f84;
        background: transparent;
        &:focus {
            color: #fff;
        }
        i {
            font-size: 25px;
            margin: -2px 4px 0;
            vertical-align: middle;
        }
        &:hover {
            color: #fff;
        }
    }
}

.count {
    position: relative;
    &__number {
        position: absolute;
        left: 55%;
        bottom: 55%;
        display: inline-block;
        min-width: 20px;
        height: 20px;
        font-size: 14px;
        line-height: 14px;
        padding: 3px 5px 0;
        border-radius: 50px;
        background: color(main2);
    }
}

.search-autocomplite-drop {
    left: 0 !important;
    right: 0;
    width: 100% !important;
    padding: 0;
    border: 0 !important;
    border-top: 10px solid transparent !important;
    background-color: transparent;
    box-shadow: 0 20px 40px 0 rgba(57,70,94,0.24);
    .ui-menu-item {
        background: #fff;
    }
    .ui-menu-item-wrapper {
        padding: 5px 0;
        &.ui-state-active {
            margin: 0 !important;
            color: color(main-font);
            border: 0 !important;
            background: #f5f6f8 !important;
        }
    }
}
.result {
    margin: 0;
    padding: 5px 0;
    &__item {
        a {
            left: 1em;
            display: block;
            font-size: 14px;
            padding: 5px 0 6px;
            color: color(main-font);
            &:hover {
                text-decoration: none;
                background: #f5f6f8;
            }
        }
    }
}

/*=========== AUTORIZED_STYLES ============*/
.user-notification {
    display: none;
}
.autorized-user {
    display: none;
    padding: 0 0 0 20px !important;
    white-space: nowrap;
    &__info {
        display: inline-block;
        font-size: 14px;
        line-height: 1.2em;
        margin: 0 5px 0 0;
        vertical-align: middle;
        span {
            display: block;
            text-align: right;
        }
    }
    &__avatar {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 40px;
        vertical-align: middle;
        border-radius: 50px;
        background-position: center center;
        background-size: cover;
        &:after {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            font: normal normal normal 25px/1 FontAwesome;
            content: '\f007';
            transform: translate(-50%,-50%);
            color: #fff;
        }
    }
}

.autorized {
    .user-notification,
    .autorized-user {
        display: inline-block;
    }
    .sign-in {
        display: none;
    }
    .search {
        width: 40%;
    }
}

.autorized-drop {
    overflow: hidden;
    margin: 0;
    padding: 20px 30px;
    border: 0;
    border-radius: 0;
    background: color(main);
    &__title {
        font: 16px $rubik-bold;
        margin: 0 0 15px;
        padding: 0 0 15px;
        text-transform: uppercase;
        border-bottom: 2px solid #009f84;
        & > span {
            display: block;
        }
    }
    &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
            &:not(:last-child) {
                margin: 0 0 20px;
            }
        }
        a {
            font-size: 18px;
            padding: 0;
            border: 0;
        }
    }
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 1px;
        content: '';
        box-shadow: 0 0 25px 1px #000;
    }
}

.main-btns .header-foundservice {
    height: 60px;
    padding: 10px 10px;
    &__text {
        display: inline-block;
        height: 40px;
        font-size: 15px;
        line-height: 40px;
        padding: 0 10px;
        vertical-align: middle;
        text-decoration: none;
        letter-spacing: 0.001em;
        color: #fff;
        border-radius: 20px !important;
        background-color: color(main2);
    }
}
