@import '../assets/veriables';
/*======= MOBILE_CATALOG ========*/
.mobile-catalog{
	display: none;
	&__title{
		background:color(mobile-catalog);
		text-align: center;
		.title{
			display: inline-block;
			margin: 0 0 0 5px;
			font-size: 22px;
			color: #fff;
			vertical-align: middle;
		}
		.mobile-btn{
			display: table;
			height: 50px;
			margin: 0 auto;
			&>*{
				display: table-cell;
				vertical-align: middle;
				padding: 0 3px;
			}
		}
	}
	&__content{
		display: none;
	}
	.controls{
		background:#fff;
		padding: 15px 0;
		a{
			color: color(main-font);
		}
		.close-catalog{
			font-size: 25px;
			line-height: 1em;
			margin: -6px 0 0;
		}
	}
	.mobileCatBtn{
		cursor: pointer;
	}
	&.tiles{
		.filter-tiles{
			display: block;
		}
		.controls,
		.filter-row,
		.filter-title{
			display: none;
		}
	}
}

.back-btn{
	padding: 0;
	border: 0;
	cursor: pointer;
	background-color: transparent;
	.corner{
		position: static;
		float: none;
		vertical-align: middle;
		transform:rotate(180deg);
		margin: -3px 0 0;
	}
	&:hover{
		&:not(.corner){
			text-decoration: underline;
		}
	}
}

.filter-tiles{
	display: none;
	list-style-type: none;
	margin: 30px 0 0;
	padding: 0;
	&__item{
		margin: 0 0 30px;
		a{
			display: table;
			width: 100%;
			height:70px;
			vertical-align: middle;
			border:2px solid #f0f0f0;
			border-radius: 6px;
			text-decoration: none !important;
			box-shadow: 0 0 15px 0 rgba(57,70,94,.25);
			&>span{
				display: table-cell;
				vertical-align: middle;
				&.icon{
					text-align: center;
					width: 50px;
					color: color(main);
				}
				&:last-child{
					padding-right: 10px;
				}
			}
			&:active,
			&:focus{
				text-decoration: none;
				.icon span{
					color: color(main-font);
				}
			}
			&:hover{
				text-decoration: none;
				.icon span{
					color: color(main-font);
				}
			}
		}
	}
}
.filter-title{
	font: 25px $main-bold;
	line-height: 1em;
	margin: 15px 0;
}
.filter-row{
	background:#fff;
	border:2px solid #e4e4e4;
	border-radius: 6px;
	list-style-type: none;
	padding: 0;
	&__item{
		a{
			display: block;
			font-size: 18px;
			line-height: 1em;
			color: color(main-font);
			padding-top: 15px;
			padding-bottom: 15px;
			.corner{
				border-color: color(main-font);
			}
		}
		&:not(:last-child){
			border-bottom:2px solid #e4e4e4;
		}
	}
}