@import '../assets/veriables';
/*============= PAGINATION ============*/
.pagination-holder{
	text-align: center;
}
.pagination{
	margin: 25px 0;
	.pagination__item{
		&>*{
			display: inline-block;
			font-size: 20px;
			line-height: 1em;
			color: color(main-font);
			height: 30px;
			min-width: 30px;
			background-color: transparent;
			border: none;
			margin:0 5px;
			border-radius: 50px;
			padding: 5px 3px 0;
		}
		span{
			opacity:.35;
			pointer-events:none;
		}
		a:hover,
		&.active span,
		&.active a{
			background:color(main2);
			color:#fff;
			opacity:1;
		}
		&:last-child,
		&:first-child{
			&>*{
				color: color(main2);
				background-color: transparent !important;
				&:hover{
					color: color(main2);
				}
			}
		}
	}
}