@import '../assets/veriables';
/*============= PREVIEWS_ROW ===============*/
.previews-row{
	margin-top: 30px;
	&__title{
		margin-bottom: 20px;
		.title{
			display: inline-block;
			font: 4.5rem $rubik-bold;
			text-transform: uppercase;
			border-bottom: 5px solid color(main);
			padding: 0 0 25px;
		}
	}
	&__items{
		.slick-list{
			.slick-list{
				padding: 35px 0 100px;
			} 
		}
	}
}
.preview-tabs{
	padding: 5px 0 0;
}
.tabs-slider{
	list-style-type: none;
	padding: 0 20px;
	.slick-slider{
		padding:0 15px;
	}
	.slick-track{
		display: flex;
		align-items: center;
	}
	&__item{
		float: none;
		display: inline-block;
		text-align: center;
		a{
			font-size: 20px;
			line-height: 1em;
			display: inline-block;
			color: color(main-font);
			text-decoration: none;
			outline: none;
			border-radius: 50px;
			padding: 8px 20px;
			border:2px solid transparent;
			&:hover{
				color:color(main);
			}
			&.active{
				border-color: color(main);
				color: color(main);
			}
		}
	}
}
.slick-slider{
	button.slick-arrow{
		position: absolute;
		top: 50%;
		font-size: 0;
		background-color: transparent;
		border: none;
		width: 30px;
		height: 30px;
		padding: 0;
		z-index: 5;
		transform:translate(0,-50%);
		&.slick-prev{
			left: 10px;
			&:after{
				content:'';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border:5px solid color(main);
				left:0px;
				border-right:0;
				border-bottom:0;
				transform:rotate(-45deg);
			}
		}
		&.slick-next{
			right: 10px;
			&:after{
				content:'';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border:5px solid color(main);
				left:0px;
				border-left:0;
				border-bottom:0;
				transform:rotate(45deg);
			}
		}
		&.slick-disabled{
			display: none !important;
		}
	}
	&.tabs-slider{
		.slick-prev,
		.slick-next{
			width: 12px;
			height: 12px;
			&:after{
				border-width: 3px;
			}
		}
	}
}