@import '../assets/veriables';
/*========= SEARCH_LINE ==========*/
.search-line-wrapper{
	position: relative;
	background:#fff;
	padding: 15px 0;
	margin: 0 0 30px;
	height: 68px;
	button.btn{
		float: right;
	}
	.col-lg-12{
		position: static;
	}
}
.search-line-list{
	list-style-type: none;
	padding: 0;
	margin: 0;
	&__item{
		float: left;
		padding: 0 1.5% 0 0;
		display: inline-block;
	}
}
.search-line-list-drop{
	position: absolute;
	top:100%;
	left: 0;
	width: 100%;
	background:#fff;
	z-index: 10;
	// padding: 0 0 15px;
	display: none;
	.search-line-list__item{
		float: right;
		padding: 0 0 0 1.5%;
		margin: 0 0 15px;
	}
	.container{
		margin: 0 auto;
		padding: 0 15px;
	}
}