@import '../assets/veriables';
/*========= SIDEBAR_CATALOG ==========*/
.sidebar-catalog{
	position: relative;
	&__title{
		font: 24px $rubik-bold;
		line-height: 1em;
		text-transform: none;
		margin: 0 30px 20px;
		padding: 0 0 25px;
		text-align: center;
		border-bottom: 1px solid #f0f0f0;
	}
	.filter-drop{
		&__item{
			position: relative;
			.filter-drop{
				opacity:0;
				top:-1px;
				display: block !important;
				transition: opacity 0.2s;
			}
			&:hover{
				background:#f0f0f0;
				&>.filter-drop{
					top:-1px;
					opacity:1;
					min-width: 290px;
					transition: opacity 0.2s;
				}
				&>a{
					background:#f0f0f0;
				}
			}
			&>span{
				display: block;
				padding: 9.5px 30px;
				color:color(main-font);
				text-decoration: none;
				&:hover{
					background:#f0f0f0;
				}
			}
		}
		.corner{
			border-color: #bebebe;
		}
		.filter-drop{
			position: absolute;
			top:-10000%;
			left:calc(100% + 3px);
			background:#fff;
			display: none;
			border: 1px solid #f0f0f0;
			z-index: 2;
			&__item{
				&:not(:last-child){
					a{
						border-bottom:1px solid #f0f0f0;
					}
				}
			}
			&:before{
				content: '';
				display: block;
				position: absolute;
				left: -3px;
				top: 0;
				width: 3px;
				height: 100%;
			}
			a{
				display: block;
				padding: 18.5px 30px;
				color: color(main-font);
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
	ul{
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
}