@import '../assets/veriables';
/*======== SORT_ITEMS =======*/
.sort-items {
    display: flex;
    margin: 0 0 18px;
    padding: 9px 28px;
    background: #fff;

    align-items: center;
    justify-content: space-between;
    &__count {
        flex-grow: 1;
        span > span {
            font-size: 20px;
        }
    }
    &__value {
        color: color(main);
    }
    &__view {
        margin: 0 -8px 0 12%;
        display: none;

        @extend .sort-btns-group;
        button.btn {
            line-height: 1em;
            margin: 0;
            padding: 5px 8px;
            color: #a4a4a4;
            &.active {
                color: color(main-font);
            }
        }
    }
    .all-filters-btn {
        display: none;
    }
}
.sort-btns-group {
    .btn {
        position: relative;
        font-size: 20px;
        margin: 0 5px;
        padding: 6px 12px 6px 20px;
        color: color(main-font);
        outline: none !important;
        background-color: transparent;
        box-shadow: none !important;
        &:after {
            position: absolute;
            top: 50%;
            left: 3px;
            display: none;
            margin: -3px 0 0;
            content: '';
            transform: rotate(45deg) translate(0,-50%);
            color: color(main-font);
            border: 4px solid color(main-font);
            border-width: 4px;
            border-top-color: transparent;
            border-left-color: transparent;
        }
        &.sort-asc {
            &:after {
                display: inline-block;
                margin: -3px 0 0 6px;
                transform: rotate(225deg) translate(0,-50%);
            }
        }
        &.sort-desc {
            &:after {
                display: inline-block;
            }
        }
    }
}
