@import '../assets/veriables';
/*========= SUBCATEGORY_SIDEBAR ==========*/
.subcategory {
    h2 {
        margin-top: 0;
        a {
            color: color(titles);
        }
    }
    &__row {
        position: relative;
        margin: 0 0 22px;
        padding: 0 30px 20px;
        &:after {
            position: absolute;
            top: 100%;
            left: 30px;
            width: calc(100% - 60px);
            content: '';
            border-bottom: 2px solid #f0f0f0;
        }
        &:last-child {
            margin: 0;
            padding-bottom: 0;
            &:after {
                display: none;
            }
        }
    }
    .filter-list {
        margin: 0;
        padding: 0 0 0 20px;
        list-style-type: none;
        height: 140px;
        overflow: hidden;
        li {
            display: table;
            width: 100%;
            height:35px;
        }
        .cell{
            display: table-cell;
            vertical-align: middle;
        }
        a {
            color: color(main-font);
        }
    }
    .spoiler-btn{
        color: color(main);
        border: none;
        background-color: transparent;
        &:after{
            content: '';
            display: inline-block;
            width: 9px;
            height: 9px;
            border:3px solid color(main);
            border-left: none;
            border-top: none;
            margin: 3px;
            transform: rotate(45deg);
        }
        &.active{
            &:after{
                border:3px solid color(main);
                border-right: none;
                border-bottom: none;
                margin: 1px;
            }
        }
    }
}