@import '../assets/veriables';
* {
    outline: none;
}
body {
    min-width: 768px;
    font: 16px $main;
    font-weight: 400;
    line-height: 1em;
    color: color(main-font);
    background: #f5f6f8;
}
a {
    color: color(main);
}
h1 {
    font: 3.3rem $rubik-bold;
    color: color(titles);
}
h2 {
    font: 18px $rubik-bold;
    line-height: 1.3em;
    text-transform: uppercase;
    color: color(titles);
}
h3 {
    font: 18px $main-bold;
    line-height: 1.3em;
    text-transform: uppercase;
    color: color(titles);
}
p {
    font-size: 16px;
    line-height: 1.3em;
}
aside {
    padding: 25px 0;
    border: 1px solid #f0f0f0;
    background: #fff;
}
/*========== FORMS =========*/
.input-group {
    width: 100%;
}
input,
textarea {
    line-height: 1em;
    margin: 0;
    padding: 10px 15px;
    vertical-align: middle;
    border: 1px solid #d1d1d2;
    border-radius: 50px;
    outline: none;
    background: #f5f6f8;
    &::-webkit-input-placeholder {
        font-size: 14px;
        opacity: 1;
        color: color(placeholder);
    }
    &::-moz-placeholder {
        font-size: 14px;
        opacity: 1;
        color: color(placeholder);
    }/* Firefox 19+ */
    &:-moz-placeholder {
        font-size: 14px;
        opacity: 1;
        color: color(placeholder);
    }/* Firefox 18- */
    &:-ms-input-placeholder {
        font-size: 14px;
        opacity: 1;
        color: color(placeholder);
    }
    &.error {
        margin: 0 !important;
        color: color(error);
        border-color: color(error) !important;
        &::-webkit-input-placeholder {
            font-size: 14px;
            opacity: 1;
            color: color(error);
        }
        &::-moz-placeholder {
            font-size: 14px;
            opacity: 1;
            color: color(error);
        }/* Firefox 19+ */
        &:-moz-placeholder {
            font-size: 14px;
            opacity: 1;
            color: color(error);
        }/* Firefox 18- */
        &:-ms-input-placeholder {
            font-size: 14px;
            opacity: 1;
            color: color(error);
        }
        & + .error-box {
            display: block;
        }
    }
    &:not([type='checkbox']):not([type='radio']) {
        width: 100%;
        // height: 40px;
        vertical-align: middle;
    }
    &[type='checkbox'],
    &[type='radio'] {
        margin: 0;
    }
}
.error-box {
    display: none;
    font-size: 14px;
    line-height: 1.2em;
    margin: 3px 0;
    text-align: right;
    color: color(error);
}
/*========= TITLES =========*/
.page-title {
    text-align: center;
    &__text {
        font-family: 'Rubik-Medium';
        margin: 0;
        padding: 0.57em 0 0.57em;
        text-transform: uppercase;
    }
}
.sidebar-title {
    display: table;
    width: 100%;
    padding: 0 30px 0;
    &__text {
        display: table-cell;
        width: 100%;
        font-family: 'Roboto-Light';
        margin: 0;
        padding: 0 0 20px;
        border-bottom: 1px solid color(filter-border);
    }
    &__btn {
        display: table-cell;
        padding: 0 0 30px;
        vertical-align: middle;
        border-bottom: 1px solid color(filter-border);
    }
}

.catalog-filter-checkboxes {
    padding: 30px 30px 0;
    &__inner {
        padding-bottom: 30px;
        border-bottom: 1px solid #f0f0f0;
    }
    &__item {
        display: inline-block;
        margin-right: 22px;
        vertical-align: middle;
        &:last-of-type {
            margin-right: 0;
        }
    }
    &__label {
        font-weight: normal;
        cursor: pointer;
    }
    &__field {
        display: inline-block;
        width: 20px;
        outline: none;
        &:focus {
            outline: none;
        }
    }
}

/*========= BUTTONS =========*/
.brg {
    display: inline-block;
    vertical-align: middle;
    span {
        display: block;
        width: 30px;
        height: 4px;
        margin: 2px 0;
        border-bottom: 1px solid rgba(255,255,255,0.5);
        border-radius: 1px;
        background: #fff;
    }
}
.refresh {
    font-size: 14px;
    white-space: nowrap;
    color: color(breadcrumbs);
    border: none;
    background-color: transparent;
    i {
        margin: 0 5px 0 0;
    }
}
.btn {
    outline: none !important;
    &.more,
    &.submit {
        min-height: 40px;
        font-size: 16px;
        padding: 7px 15px;
        color: #fff;
        border-radius: 50px;
        outline: none;
        background: color(main2);
        &:hover {
            background: darken(color(main2), 3%);
        }
        &:focus {
            outline: none;
            box-shadow: 0 0 20px 0 darken(color(main2), 3%);
        }
    }
    &.cancel {
        font-size: 16px;
        color: #fff;
        border-radius: 50px;
        outline: none;
        background: #c2c2c2;
        &:hover {
            background: #9c9c9c;
        }
    }
    &.watch {
        text-transform: uppercase;
        color: color(main);
        border-radius: 50px;
        background: #fff;
    }
    &.vk {
        width: 35px;
        height: 35px;
        font-size: 23px;
        line-height: 1em;
        padding: 4px 0 0;
        color: #fff;
        border-radius: 50px;
        background: color(main);
    }
    &.active {
        box-shadow: none;
        .caret {
            margin: 0 8px 0 0;
            transform: rotate(0deg);
        }
    }
    &.show-magazine {
        font-size: 14px;
        line-height: 1em;
        text-align: center;
        white-space: nowrap;
        color: color(main);
        color: #a4a4a4;
        i {
            font-size: 20px;
            color: color(main);
        }
    }
    &.search-line-btn {
        font-size: 20px;
        line-height: 1em;
        padding: 7px 20px;
        opacity: 0;
        color: color(main-font);
        border: 2px solid color(main);
        border-radius: 50px;
        background-color: transparent;
        &:hover {
            color: color(main);
        }
        &.active {
            color: #fff;
            background: color(main);
            &.lineMoreBtn {
                background: color(main);
                .caret {
                    margin: 0;
                }
            }
        }
    }
    &.city-btn {
        padding: 16px 15px;
        i {
            margin: 0;
        }
        span {
            position: relative;
            display: inline-block;
            overflow: hidden;
            max-width: 10vw;
            vertical-align: middle;
            text-overflow: clip;
            &.large {
                &:after {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 25px;
                    height: 100%;
                    content: '';
                    background: rgba(20,190,161,0);
                    background: -moz-linear-gradient(left, rgba(20,190,161,0) 0%, rgba(0,183,152,1) 100%);
                    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(20,190,161,0)), color-stop(100%, rgba(0,183,152,1)));
                    background: -webkit-linear-gradient(left, rgba(20,190,161,0) 0%, rgba(0,183,152,1) 100%);
                    background: -o-linear-gradient(left, rgba(20,190,161,0) 0%, rgba(0,183,152,1) 100%);
                    background: -ms-linear-gradient(left, rgba(20,190,161,0) 0%, rgba(0,183,152,1) 100%);
                    background: linear-gradient(to right, rgba(20,190,161,0) 0%, rgba(0,183,152,1) 100%);

                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14bea1', endColorstr='#00b798', GradientType=1 );
                }
            }
        }
    }
    &.close-info {
        width: 27px;
        height: 27px;
        font-size: 21px;
        line-height: 1em;
        padding: 2px 0 0;
        text-align: center;
        color: #c2c2c2;
        border: 1px solid #c2c2c2;
        border-radius: 50px;
        background-color: transparent;
    }
}
.info {
    position: relative;
    z-index: 5;
    display: inline-block;
    float: left;
    width: 25px;
    height: 25px;
    font-size: 18px;
    line-height: 1em;
    padding: 3px 0 0;
    text-align: center;
    color: color(main) !important;
    border: 1px solid color(main);
    border-radius: 50px;
    &:hover {
        color: #fff !important;
        background: color(main);
    }
}
.cheap {
    display: inline-block;
    font-size: 16px;
    line-height: 1em;
    padding: 12px 15px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    border-radius: 50px;
    outline: none !important;
    background: color(main2);
    &:hover {
        text-decoration: none;
        color: #fff;
        background: darken(color(main2), 3%);
    }
    &:focus {
        color: #fff;
        box-shadow: 0 0 16px 0 rgba(191,57,45,0.85);
    }
}
.corner {
    position: absolute;
    top: 50%;
    right: 15px;
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: translate(0, -50%);
    &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        font: normal normal normal 14px/1 FontAwesome;
        content: '\f054';
        transform: translate(-50%,-50%);
    }
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    padding: 0;
    opacity: 1;
    span {
        display: inline-block;
        width: 27px;
        height: 27px;
        font-size: 21px;
        line-height: 1em;
        padding: 1px 4.5px 1px 2px;
        text-align: right;
        color: #bebebe;
        border: 1px solid #bebebe;
        border-radius: 50px;
    }
}
.more-items-btn {
    height: 100%;
    .more-items {
        font: 24px $rubik-bold;
        text-align: center;
        text-transform: uppercase;
        i {
            font-size: 60px;
            line-height: 1em;
            margin: 0 0 15px;
            color: color(main);
        }
    }
}
.all-info {
    text-decoration: underline;
    color: #e84c3d !important;
    &:before {
        display: inline-block;
        font: normal normal normal 22px/1 FontAwesome;
        line-height: 1em;
        margin: -2px 10px 0 0;
        content: '\f13a';
        transform: rotate(-90deg);
        vertical-align: middle;
        text-decoration: none;
    }
    &:hover {
        text-decoration: none;
    }
}
.share-btn {
    color: color(breadcrumbs);
}
.item-btn-group {
    .btn {
        font-size: 25px;
        line-height: 1em;
        margin: 0 10px 0 0 !important;
        padding: 0;
        vertical-align: middle;
        box-shadow: none;
        &:not(:last-child):not(:first-child) {
            color: color(breadcrumbs);
        }
        &:first-child {
            margin: 0 15px 0 0;
            color: color(breadcrumbs);
        }
        &.info-btn {
            position: relative;
            z-index: 5;
            margin: 0 !important;
        }
        &:hover {
            color: #909196 !important;
        }
    }
}

.white-section {
    background-color: #fff;
}

.slider-handle {
    background-color: color(main);
    background-image: none;
}

.like-btn {
    list-style-type: none;
    text-align: right;
    &__like {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 30px;
        font-size: 22px;
        text-align: center;
        color: #fff;
        border-radius: 50px;
        background: color(main);
        .icon {
            left: 50%;
        }
    }
    &__dizlike {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 30px;
        font-size: 22px;
        margin: 0 0 0 25%;
        text-align: center;
        color: #fff;
        border-radius: 50px;
        background: color(dizlike);
        .icon {
            left: 52%;
        }
    }
    a:hover,
    a:active,
    a:focus {
        text-decoration: none;
    }
    .icon {
        position: absolute;
        top: 55%;
        line-height: 1em;
        transform: translate(-50%,-50%);
    }
    .count {
        position: absolute;
        left: 110%;
        bottom: 0;
        font-size: 16px;
        color: color(main-font);
    }
}
.delete {
    float: left;
    font-size: 35px;
    line-height: 1em;
    margin: -3px 3% 0;
    padding: 0;
    vertical-align: middle;
    color: #bebebe;
    border: 0;
    background-color: transparent;
    &:hover {
        color: #9e9e9e;
    }
}
/*========== REVIEWS =============*/
.reviews {
    .rev-progress {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-align: center;
        li {
            display: inline-block;
            line-height: 1em;
            color: color(star);
            &.active {
                color: color(main);
            }
        }
    }
    a.count {
        text-decoration: underline;
        color: color(star);
        &:hover {
            text-decoration: none;
        }
    }
    &.magazines {
        text-align: center;
        .rev-progress {
            display: inline-block;
            margin: 0 5% 0 0;
            white-space: nowrap;
            li {
                &.active {
                    color: color(star-magazine-active);
                }
            }
            &:hover {
                .active {
                    color: color(star-magazine-hover);
                }
            }
        }
        a {
            display: inline-block;
            font-size: 16px;
            line-height: 1em;
            text-decoration: underline;
            &:first-child {
                text-decoration: none;
            }
            &:hover {
                text-decoration: none;
            }
        }
    }
    .mark {
        color: color(main);
        background-color: transparent;
    }
}

/*========== SOCIALS =========*/
.socials {
    padding: 0;
    list-style-type: none;
    li {
        display: inline-block;
        margin: 0 7px;
        a {
            display: inline-block;
            width: 40px;
            height: 40px;
            font-size: 24px;
            line-height: 1em;
            padding: 7px 0;
            text-align: center;
            color: #fff;
            border-radius: 50px;
            &.fb {
                background: color(fb);
            }
            &.goo {
                background: color(goo);
            }
            &.vk {
                background: color(vk);
            }
            &.odn {
                background: color(odn);
            }
        }
    }
}

/*=========== JQUERY_UI_CUSTOM_STYLES ===========*/
.ui-spinner {
    position: relative;
    display: inline-block;
    padding: 0 15px 0 0;
    border-radius: 0;
    a {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        width: 10px;
        height: 50%;
        cursor: pointer;
        text-indent: 0;
        border: 0;
        border-radius: 0;
        background-color: transparent !important;
        span {
            display: none;
        }
        &:after {
            position: absolute;
            top: 0;
            right: 0;
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            line-height: 0.5em;
            box-sizing: content-box;
            content: '\f106';
            opacity: 1 !important;
            color: color(main);
        }
        &:hover {
            border: 0;
        }
        &.ui-spinner-down {
            top: auto;
            bottom: 0;
            &:after {
                top: auto;
                bottom: 0;
                content: '\f107';
            }
        }
    }
    .ui-spinner-input {
        display: inline-block;
        width: 40px;
        height: 30px;
        height: auto;
        font-size: 14px;
        margin: 0;
        padding: 0 6px;
        text-align: right;
        border: 1px solid #bebebe;
        border-radius: 0;
        background: #f5f6f8;
    }
    &.ui-widget.ui-widget-content {
        border: 0;
    }
}
.ui-selectmenu-button {
    display: inline-block;
    width: auto !important;
    line-height: 1em;
    margin: -2px 0 0 3px;
    padding: 0;
    text-decoration: underline;
    color: color(select) !important;
    border: 0;
    background: transparent;
    .ui-selectmenu-icon {
        display: none;
    }
    &:hover,
    &:focus {
        border: 0;
        background-color: transparent;
    }
}
.ui-front {
    z-index: 2000;
}
.ui-selectmenu-menu {
    ul.ui-widget.ui-widget-content {
        border: 1px solid #d1d1d2;
        background-color: #f5f6f8;
        .ui-menu-item-wrapper {
            font-size: 14px;
            color: color(main-font);
            border: 0;
            &.ui-state-active {
                margin: 0;
                border: 0;
                background: #d1d1d2;
            }
        }
    }
}

/*========== TABS_STYLES ==========*/
.ui-widget.ui-widget-content.tabs {
    padding: 0;
    border: none;
    background-color: transparent;
}
.ui-tabs .ui-tabs-nav {
    margin: 0 0 20px;
    padding: 0;
    border: 0;
    background-color: transparent;
    li {
        margin: 0 1.5% 0 0;
        cursor: pointer;
        border: none;
        &.ui-tabs-active,
        &.ui-tabs-active.ui-state-hover {
            background-color: transparent;
            .ui-tabs-anchor {
                color: color(main-font);
                border-color: color(main);
            }
        }
        &.ui-state-hover {
            background-color: transparent;
            .ui-tabs-anchor {
                color: color(main);
            }
        }
    }
    .ui-tabs-anchor,
    button {
        display: inline-block;
        font-family: $main;
        font-size: 20px;
        line-height: 1em;
        padding: 5px 10px;
        cursor: pointer;
        border: 2px solid transparent;
        border-radius: 50px;
        outline: none;
        background-color: transparent;
    }
    button:hover {
        color: color(main);
    }
}
.ui-tabs .ui-tabs-panel {
    padding: 0;
}

/*========== TABLES_STYLES ==========*/
table {
    width: 100%;
    th {
        font-size: 20px;
        line-height: 1em;
        padding: 10px 30px;
        vertical-align: middle;
    }
    tr:not(:last-child) {
        border-bottom: 1px solid #f0f0f0;
    }
    td {
        padding: 10px 30px;
        vertical-align: middle;
    }
    .btn {
        font: 20px $main;
        padding: 0;
        border: 0;
        outline: none !important;
        background-color: transparent;
        box-shadow: none !important;
    }
    .btn.submit {
        min-height: auto;
    }
}

/*============== FILTER_COMPONENTS ============*/
.dates {
    label {
        height: auto;
        font-size: 14px;
        line-height: 1em;
        margin: 0 10px 15px 0;
        vertical-align: middle;
    }
    input {
        height: auto;
        margin: 0 5px 0 0;
        vertical-align: middle;
    }
}

.colors {
    margin: 0;
    padding: 0;
    list-style-type: none;
    label {
        position: relative;
        display: inline-block;
        width: 25px;
        height: 25px;
        margin: 0 10px 10px 0;
        cursor: pointer;
        border-radius: 70px;
        background: red;
    }
    input {
        display: none;
    }
    input:checked + i {
        display: inline-block;
    }
    i {
        position: absolute;
        top: 50%;
        left: 50%;
        display: none;
        line-height: 1em;
        transform: translate(-50%,-50%);
        color: #fff;
    }
}

.magazines-rate-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    &__item {
        &:not(:last-child) {
            margin: 0 0 10px;
        }
        label {
            width: 100%;
            input {
                display: inline-block;
                width: auto;
                height: auto;
                margin: -2px 0 0;
                vertical-align: middle;
            }
            span {
                display: inline-block;
                margin: 0 5px;
            }
            .reviews {
                display: inline-block;
                vertical-align: middle;
                white-space: nowrap;
            }
        }
    }
}

.resolution {
    overflow: auto;
    max-height: 150px;
    margin: 0;
    padding: 0;
    padding: 0 2px;
    list-style-type: none;
    &__item {
        display: inline-block;
        margin: 0 10% 0 0;
        padding: 10px 0;
        // white-space: nowrap;
        label {
            line-height: 1.3em;
            margin: 0;
        }
        input {
            width: auto;
            height: auto;
            margin: -3px 5px 0 0;
        }
        span {
            font-size: 16px;
            line-height: 1em;
        }
    }
}

.memory-range {
    input {
        display: inline-block;
        width: 85px !important;
        height: 25px !important;
        padding: 0 8px;
        border: 0;
        border-radius: 3px;
        &:not(:last-child) {
            margin: 0 15px 0 0;
        }
    }
}
.overal-link {
    display: none;
    a {
        display: block;
        padding: 5px 0;
        text-align: center;
        color: #fff;
        background: color(main);
    }
}

/*========== TOOLTIP ==========*/

.tooltip {
    &-inner {
        font-size: 16px;
        border-radius: 0;
        background: color(main);
    }
    &.bottom .tooltip-arrow {
        border-bottom-color: color(main) !important;
    }
    &.top .tooltip-arrow {
        border-top-color: color(main) !important;
    }
}

/*========= BACKGROUND_FOR_HOVER =========*/
.hover-background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(34,40,53,0.6);
    &.active {
        display: block;
    }
}

/*========== AGREEMENT =========*/
.agreement {
    font-size: 14px;
    margin: 15px 0 0;
    text-align: center;
    color: #bebebe;
    a {
        text-decoration: underline;
        color: #bebebe;
        &:hover {
            text-decoration: none;
        }
    }
}

// popups
.modal-metro {
    .modal-dialog {
        min-width: 600px;
    }
    .modal-header {
        padding: 30px;
        border: none;
    }
}

.metro-popup-section {
    &__title {
        float: left;
        width: 25%;
    }
    &__list {
        float: right;
        overflow-y: auto;
        width: 70%;
        max-height: 247px;
        padding-left: 0;
        list-style: none;
        > li {
            float: left;
            width: 26%;
            margin-bottom: 35px;
        }
    }
    &__checkbox {
        display: none;
        &:checked + label {
            color: #fff;
            background-color: color(main);
        }
    }
    &__label {
        cursor: pointer;
    }
}
// END:popups

.trs {
    transition: all 0.15s ease-in;
}

.clear {
    clear: both;
}

.new-ui-selectmenu {
    & + .ui-selectmenu-button {
        display: inline-block;
        width: 309px !important;
        line-height: 25px;
        vertical-align: middle;
        text-decoration: none;
        color: #222835 !important;
        border: 1px solid #d1d1d2;
        .ui-selectmenu-text {
            padding: 0 8px;
        }
        .ui-selectmenu-icon {
            position: relative;
            display: inline-block;
            width: 25px;
            height: 25px;
            padding: 0 8px;
            vertical-align: middle;
            border-left: 1px solid #d1d1d2;
            background-image: url('../images/cabinet/ui-selectmenu-icon.png');
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
    &--inline {
        & + .ui-selectmenu-button {
            margin-right: 35px;
        }
    }
}

.header-notification {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    padding: 22px 0;
    color: #fff;
    background-color: #3598db;
    .fa {
        display: inline-block;
        font-size: 20px;
        margin-right: 20px;
        vertical-align: middle;
        color: #fff;
    }
    &__text {
        display: inline-block;
        vertical-align: middle;
        text-align: left;
    }
    &__title {
        font-family: 'Rubik-Bold';
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    &__subtitle {
        font-size: 14px;
        font-weight: normal;
    }
}
