@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?hbqqe');
  src:  url('../fonts/icomoon.eot?hbqqe#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?hbqqe') format('truetype'),
    url('../fonts/icomoon.woff?hbqqe') format('woff'),
    url('../fonts/icomoon.svg?hbqqe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-happy:before {
  content: "\e911";
}
.icon-sad:before {
  content: "\e912";
}
.icon-gift:before {
  content: "\e900";
}
.icon-butovaya-technica:before {
  content: "\e901";
}
.icon-avto:before {
  content: "\e902";
}
.icon-borudovanie:before {
  content: "\e903";
}
.icon-computer:before {
  content: "\e904";
}
.icon-delivery-truck:before {
  content: "\e905";
}
.icon-detskie-tovary:before {
  content: "\e906";
}
.icon-electronic:before {
  content: "\e907";
}
.icon-garderob:before {
  content: "\e908";
}
.icon-mebel:before {
  content: "\e909";
}
.icon-sport:before {
  content: "\e90a";
}
.icon-telefony:before {
  content: "\e90b";
}
.icon-vse-dlia-biznesa:before {
  content: "\e90c";
}
.icon-vse-dlia-ofisa:before {
  content: "\e90d";
}
.icon-wallet:before {
  content: "\e90e";
}
.icon-zdorove:before {
  content: "\e90f";
}
.icon-home:before {
  content: "\e910";
}

