/*======= FONT_MIXIN =======*/
@mixin font-face($font, $type) {
  @font-face {
    font-family: '#{$font}-#{$type}';
    src: url('../fonts/#{$font}/#{$font}-#{$type}/#{$font}-#{$type}.eot');
    src: url('../fonts/#{$font}/#{$font}-#{$type}/#{$font}-#{$type}.eot?#iefix') format('embedded-opentype'),
    url('../fonts/#{$font}/#{$font}-#{$type}/#{$font}-#{$type}.woff') format('woff'),
    url('../fonts/#{$font}/#{$font}-#{$type}/#{$font}-#{$type}.ttf') format('truetype'),
    url('../fonts/#{$font}/#{$font}-#{$type}/#{$font}-#{$type}.svg##{$font}') format('svg');
  }
}

/*COLORS*/
@function color($color) {
    @return map-get($colors, $color);
}

$colors: (
  'main': #00B798,
	'main2': #E84E40,
  'main-font': #24394c,
  'mobile-catalog': #24394c,
  'placeholder': #cdcdce,
	'sites-link': #dac723,
  'drop': #297fb8,
  'filter-icons': #3598db,
  'filter-icons-hover': #297fb8,
  'more-btn': #297fb8,
  'titles': #24394c,
  'count': #e84c3d,
  'breadcrumbs': #a4a4a4,
  'filter-border': #f0f0f0,
  'star': #bebebe,
  'star-magazine-active': #d4ad35,
  'star-magazine-hover': #b59535,
  'location': #e84c3d,
  'location-hover': #bf392d,
  'pagination': #bf392d,
  'copyright': #a4a4a4,
  'error': #dd4e40,
  'fb': #4867aa,
  'goo': #dd4e40,
  'vk': #4d75a3,
  'odn': #e77924,
  'shadow': #39465e,
  'select': #e84c3d,
  'cart-border':#f0f0f0,
  'dizlike':#ff0000
);

/*======== FONTS=========*/
$main: 'Roboto-Regular', sans-serif;
$main-bold: 'Roboto-Bold', sans-serif;
$rubik: 'Rubik-Regular', sans-serif;
$rubik-bold: 'Rubik-Bold', sans-serif;

/*HEIGHT*/
$main-menu-height: 60px;