<main class="main">
    //= ../modules/partial/breadcrumbs-cabinet.html

    <!-- START:.page-title -->
    <div class="container">
        <div class="row">
            <div class="page-title col-lg-12 col-xs-12">
                <h1 class="page-title__text">Личный кабинет</h1>
            </div>
        </div>
    </div>  
    <!-- END:.page-title -->

    //= ../modules/partial/search-line-cabinet.html
    
    <!-- START:.items-slider -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                //= ../modules/partial/compare-sidebar-items-tabs.html
            </div>
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
                //= ../modules/partial/compare-four-items.html
            </div>
        </div>
    </div>
    <!-- END:.items-slider -->
    
</main>