<main class="main">
    <!-- START:.page-title -->
    <div class="container">
        <div class="row">
            <div class="page-title col-lg-12 col-xs-12">
                <h1 class="page-title__text text-left">Регистрация исполнителя</h1>
            </div>
        </div>
    </div>
    //= ../modules/partial/cabinet-phys-tabs.html
    <!-- .cabinet-phys-main -->
    <div class="cabinet-phys-main">
        <!-- .cabinet-phys-form -->
        <div class="cabinet-phys-form">
            <!-- .container -->
            <form action="#" id="personalData" class="container cabinet-phys-form__section cabinet-phys-form__section--main white-section">
                <!-- catalog-filter-checkboxes -->
                <div class="catalog-filter-checkboxes catalog-filter-checkboxes--cabinet-top">
                    <!-- .catalog-filter-checkboxes__inner -->
                    <div class="catalog-filter-checkboxes__inner">
                        <!-- .catalog-filter-checkboxes__item -->
                        <div class="catalog-filter-checkboxes__item">
                            <input type="radio" class="catalog-filter-checkboxes__field" id="privateTrader" name="userType" value="privateTrader">
                            <label for="privateTrader" class="catalog-filter-checkboxes__label">Частник</label>
                        </div>
                        <!-- END:.catalog-filter-checkboxes__item -->
                        <!-- .catalog-filter-checkboxes__item -->
                        <div class="catalog-filter-checkboxes__item">
                            <input type="radio" class="catalog-filter-checkboxes__field" name="userType" id="organizationTrader" value="organizationTrader">
                            <label for="organizationTrader" class="catalog-filter-checkboxes__label">Организация</label>
                        </div>
                        <!-- END:.catalog-filter-checkboxes__item -->
                    </div>
                    <!-- END:.catalog-filter-checkboxes__inner -->
                </div>
                <!-- END:catalog-filter-checkboxes -->
                <!-- .cabinet-phys-fields -->
                <div class="cabinet-phys-fields">
                    <!-- .cabinet-phys-element -->
                    <div class="cabinet-phys-element checked clearfix">
                        <!-- .col-md-12 -->
                        <div class="col-md-12">
                            <h3 class="form-element-title"><i class="fa fa-check" aria-hidden="true"></i> Ваше фото <i class="fa fa-asterisk" aria-hidden="true"></i></h3>
                            <h4 class="cabinet-phys-element__subtitle">Ваша фотография повысит уровень доверия Заказчиков к Вашим предложениям</h4></div>
                        <!-- END:.col-md-12 -->
                        <div class="col-md-2 col-md-offset-3">
                            <!-- .cabinet-phys-avatar -->
                            <div class="cabinet-phys-avatar">
                                <!-- .cabinet-phys-avatar__imgblock -->
                                <div class="cabinet-phys-avatar__imgblock">
                                    <img src="images/cabinet/phys-avatar.png" alt="phys-avatar" />
                                    <!-- .cabinet-phys-avatar-loading -->

                                    <!-- 
                                        "cabinet-phys-avatar-loading--file-loading" - класс-модификатор. Появляется при загрузке файла
                                    -->

                                    <div class="cabinet-phys-avatar-loading cabinet-phys-avatar-loading--file-loading">
                                        <img src="images/loading-animation.svg" alt="loading-animation" />
                                    </div>
                                    <!-- END:.cabinet-phys-avatar-loading -->
                                </div>
                                <!-- END:.cabinet-phys-avatar__imgblock -->
                                <input type="file" id="cabinetSettingsAvatar" class="cabinet-settings-userinfo__file">
                                <label for="cabinetSettingsAvatar" class="cabinet-settings-userinfo__label">Выберите файл:</label>
                                
                            </div>
                            <!-- END:.cabinet-phys-avatar -->
                        </div>
                    </div>
                    <!-- END:.cabinet-phys-element -->
                    <!-- .cabinet-phys-element -->
                    <div class="cabinet-phys-element checked clearfix">
                        <div class="col-md-3">
                            <h3 class="form-element-title"><i class="fa fa-check" aria-hidden="true"></i> ФИО</h3>
                        </div>
                        <!-- .col-md-6 -->
                        <div class="col-md-6">
                            <!-- .form-element -->
                            <div class="form-element invalid">
                                <label class="form-label">Фамилия Имя Отчество:</label>
                                <input type="text" class="form-field" placeholder="Пример поля, введенного с ошибкой" />
                                <!-- .form-element__error -->
                                <!-- <div class="form-element__error">Поле обязательно для заполнения</div> -->
                                <!-- END:.form-element__error -->
                            </div>
                            <!-- END:.form-element -->
                        </div>
                        <!-- END:.col-md-6 -->
                    </div>
                    <!-- END:.cabinet-phys-element -->
                    <!-- .cabinet-phys-element -->
                    <div class="cabinet-phys-element checked clearfix">
                        <div class="col-md-3">
                            <h3 class="form-element-title"><i class="fa fa-check" aria-hidden="true"></i> информация длязаказчиков</h3>
                        </div>
                        <!-- .col-md-6 -->
                        <div class="col-md-6">
                            <!-- .form-element -->
                            <div class="form-element">
                                <label class="form-label">Подробно расскажите о себе, своем опыте, достижениях, выполненных работах.</label>
                                <textarea class="form-field form-field--textarea" rows="4" placeholder="Например: получила математическое образование, люблю животных и людей. Оказываю услуги в сфере интернет-маркетинга,  а также возможно оказание услуг фотографа и дрессировки собак."></textarea>
                                <!-- .form-element__error -->
                                <!-- <div class="form-element__error">Поле обязательно для заполнения</div> -->
                                <!-- END:.form-element__error -->
                            </div>
                            <!-- END:.form-element -->
                        </div>
                        <!-- END:.col-md-6 -->
                    </div>
                    <div class="cabinet-phys-element checked clearfix">
                        <div class="col-md-3">
                            <h3 class="form-element-title"><i class="fa fa-check" aria-hidden="true"></i> Стаж работ</h3>
                        </div>
                        <!-- .col-md-6 -->
                        <div class="col-md-6">
                            <!-- .form-element -->
                            <div class="form-element">
                                <label class="form-label">Сколько времени вы владеете каждым из навыков:</label>
                                <textarea class="form-field form-field--textarea" rows="4" placeholder="Например: 10 лет в Интернете 5 лет фотограф 7 лет собаковод"></textarea>
                                <!-- .form-element__error -->
                                <!-- <div class="form-element__error">Поле обязательно для заполнения</div> -->
                                <!-- END:.form-element__error -->
                            </div>
                            <!-- END:.form-element -->
                        </div>
                        <!-- END:.col-md-6 -->
                    </div>
                    <div class="cabinet-phys-element cabinet-phys-element--region checked clearfix">
                        <div class="col-md-3">
                            <h3 class="form-element-title">
                            <i class="fa fa-check" aria-hidden="true"></i> Регион оказания услуг</h3>
                        </div>
                        <div class="col-md-6 clearfix">
                            <!-- .dropdown-element -->
                            <div class="dropdown-element">
                                <select class="new-ui-selectmenu new-ui-selectmenu--inline">
                                    <option value="Москва">Москва</option>
                                    <option value="Орел">Орел</option>
                                    <option value="Рига">Рига</option>
                                </select>
                                <ul class="cabinet-phys-element__dynamic-list"></ul>
                            </div>
                            <!-- END:.dropdown-element -->
                            <button type="button" class="form-action-btn form-action-btn--add">Добавить</button>
                        </div>
                        <div class="col-md-2 col-md-offset-3 clear">
                            <button type="button" class="form-element-submit btn">Сохранить</button>
                        </div>
                    </div>
                    <!-- END:.cabinet-phys-element -->
                </div>
                <!-- END:.cabinet-phys-fields -->
            </form>
            <!-- END:.container -->
            <!-- .container cabinet-phys-form__section white-section -->
            <form action="#" id="contactsData" class="container cabinet-phys-form__section white-section">
                <div class="cabinet-phys-element cabinet-phys-element--communication checked clearfix">
                    <div class="col-md-3">
                        <h3 class="form-element-title"><i class="fa fa-check" aria-hidden="true"></i> Телефон <i class="fa fa-asterisk" aria-hidden="true"></i></h3>
                    </div>
                    <!-- .col-md-6 -->
                    <div class="col-md-9">
                        <!-- .row -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- .form-elements clearfix -->
                                <div class="form-elements clearfix">
                                    <!-- .form-element -->
                                    <div class="form-element row">
                                        <!-- .col-md-5 -->
                                        <div class="col-md-5">
                                            <label class="form-label">Телефон</label>
                                            <input type="text" class="form-field mask mask--phone" placeholder="+7 541 636 9687">
                                        </div>
                                        <!-- END:.col-md-5 -->
                                        <div class="col-md-7">
                                            <!-- .form-element -->
                                            <div class="form-element">
                                                <label class="form-label">Код в смс придет в течение 30 секунд, введите его в поле ниже:</label>
                                                <input type="password" class="form-field form-field--inline form-field--sm">
                                                <!-- .form-notification -->
                                                <div class="form-notification form-notification--inline">
                                                    <p>Если код не пришел, нажмите <a href="#">выслать повторно</a></p>
                                                </div>
                                                <!-- END:.form-notification -->
                                            </div>
                                            <!-- END:.form-element -->
                                        </div>
                                    </div>
                                    <!-- END:.form-element -->
                                </div>
                                <!-- END:.form-elements clearfix -->
                            </div>
                            <!-- END:.col-md-6 -->
                            <!-- .col-md-4 -->
                            <div class="form-action-wrapper-add col-md-2 clear">
                                <button type="button" class="form-action-btn form-action-btn--add">Добавить</button>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="form-action-btn">Подтвердить</button>
                            </div>
                        </div>
                        <!-- END:.row -->
                    </div>
                </div>
                <!-- cabinet-phys-element-communication -->
                <div class="cabinet-phys-element cabinet-phys-element--communication checked clearfix">
                    <div class="col-md-3">
                        <h3 class="form-element-title"><i class="fa fa-check" aria-hidden="true"></i> Email <i class="fa fa-asterisk" aria-hidden="true"></i></h3>
                    </div>
                    <!-- .col-md-6 -->
                    <div class="col-md-9">
                        <!-- .row -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- .form-elements clearfix -->
                                <div class="form-elements clearfix">
                                    <!-- .form-element -->
                                    <div class="form-element row">
                                        <!-- .col-md-5 -->
                                        <div class="col-md-5">
                                            <label class="form-label">Email</label>
                                            <input type="email" class="form-field mask mask--phone" placeholder="Email">
                                        </div>
                                        <!-- END:.col-md-5 -->
                                    </div>
                                    <!-- END:.form-element -->
                                </div>
                                <!-- END:.form-elements clearfix -->
                            </div>
                            <!-- END:.col-md-6 -->
                            <div class="form-action-wrapper-add col-md-2 clear">
                                <button type="button" class="form-action-btn form-action-btn--add">Добавить</button>
                            </div>
                        </div>
                        <!-- END:.row -->
                    </div>
                    <!-- END:.col-md-6 -->
                </div>
                <!-- END:cabinet-phys-element-communication -->
                <!-- cabinet-phys-element-communication -->
                <div class="cabinet-phys-element cabinet-phys-element--communication checked clearfix">
                    <div class="col-md-3">
                        <h3 class="form-element-title"><i class="fa fa-check" aria-hidden="true"></i> Skype</h3>
                    </div>
                    <!-- .col-md-6 -->
                    <div class="col-md-9">
                        <!-- .row -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- .form-elements clearfix -->
                                <div class="form-elements clearfix">
                                    <!-- .form-element -->
                                    <div class="form-element row">
                                        <!-- .col-md-5 -->
                                        <div class="col-md-5">
                                            <label class="form-label">Skype</label>
                                            <input type="email" class="form-field mask mask--phone" placeholder="Skype">
                                        </div>
                                        <!-- END:.col-md-5 -->
                                    </div>
                                    <!-- END:.form-element -->
                                </div>
                                <!-- END:.form-elements clearfix -->
                            </div>
                            <!-- END:.col-md-6 -->
                            <div class="form-action-wrapper-add col-md-2">
                                <button type="button" class="form-action-btn form-action-btn--add">Добавить</button>
                            </div>
                        </div>
                        <!-- END:.row -->
                    </div>
                    <!-- END:.col-md-6 -->
                </div>
                <!-- END:cabinet-phys-element-communication -->
                <!-- cabinet-phys-element-communication -->
                <div class="cabinet-phys-element  cabinet-phys-element--communication checked clearfix">
                    <div class="col-md-3">
                        <h3 class="form-element-title"><i class="fa fa-check" aria-hidden="true"></i> Viber</h3>
                    </div>
                    <!-- .col-md-6 -->
                    <div class="col-md-9">
                        <!-- .row -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- .form-elements clearfix -->
                                <div class="form-elements clearfix">
                                    <!-- .form-element -->
                                    <div class="form-element row">
                                        <!-- .col-md-5 -->
                                        <div class="col-md-5">
                                            <label class="form-label">Viber</label>
                                            <input type="email" class="form-field mask mask--phone" placeholder="Viber">
                                        </div>
                                        <!-- END:.col-md-5 -->
                                    </div>
                                    <!-- END:.form-element -->
                                </div>
                                <!-- END:.form-elements clearfix -->
                            </div>
                            <!-- END:.col-md-6 -->
                            <div class="form-action-wrapper-add col-md-2 clear">
                                <button type="button" class="form-action-btn form-action-btn--add">Добавить</button>
                            </div>
                        </div>
                        <!-- END:.row -->
                    </div>
                </div>
                <!-- END:cabinet-phys-element-communication -->
                <!-- cabinet-phys-element-communication -->
                <div class="cabinet-phys-element  cabinet-phys-element--communication checked clearfix">
                    <div class="col-md-3">
                        <h3 class="form-element-title"><i class="fa fa-check" aria-hidden="true"></i> Сайт</h3>
                    </div>
                    <!-- .col-md-6 -->
                    <div class="col-md-9">
                        <!-- .row -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- .form-elements clearfix -->
                                <div class="form-elements clearfix">
                                    <!-- .form-element -->
                                    <div class="form-element row">
                                        <!-- .col-md-5 -->
                                        <div class="col-md-5">
                                            <label class="form-label">Сайт</label>
                                            <input type="text" class="form-field mask" placeholder="Сайт">
                                        </div>
                                        <!-- END:.col-md-5 -->
                                    </div>
                                    <!-- END:.form-element -->
                                </div>
                                <!-- END:.form-elements clearfix -->
                            </div>
                            <!-- END:.col-md-6 -->
                            <div class="form-action-wrapper-add col-md-2 clear">
                                <button type="button" class="form-action-btn form-action-btn--add">Добавить</button>
                            </div>
                        </div>
                        <!-- END:.row -->
                    </div>
                </div>
                <!-- END:cabinet-phys-element-communication -->
                <div class="col-md-2 col-md-offset-3 clear">
                    <button type="button" class="form-element-submit btn">Сохранить</button>
                </div>
            </form>
            <!-- END:.container cabinet-phys-form__section white-section -->
            <!-- container cabinet-phys-form__section white-section -->
            <form action="#" id="professionalData" class="container cabinet-phys-form__section white-section">
                <div class="cabinet-phys-element cabinet-phys-element--achievements checked clearfix">
                    <div class="col-md-3">
                        <h3 class="form-element-title"><i class="fa fa-check" aria-hidden="true"></i> Образование</h3>
                    </div>
                    <!-- .achievements-wrap -->
                    <div class="achievements-wrap col-md-9">
                        <!-- .achievements-wrap__items -->
                        <div class="achievements-wrap__items">
                            <!-- .achievements-wrap__item clearfix -->
                            <div class="achievements-wrap__item row clearfix">
                                <!-- .col-md-3 -->
                                <div class="col-md-5">
                                    <!-- .form-elemegnt -->
                                    <div class="form-element">
                                        <label class="form-label">Учебное заведение</label>
                                        <input type="text" class="form-field" placeholder="ХНУ им. В. Н. Каразина (бывш. ХГУ ...">
                                    </div>
                                    <!-- END:.form-element -->
                                </div>
                                <!-- END:.col-md-3 -->
                                <div class="col-md-7 clear">
                                    <!-- .dropdown-element -->
                                    <div class="dropdown-element">
                                        <label class="form-label form-label--block">Год выпуска:</label>
                                        <select class="new-ui-selectmenu new-ui-selectmenu--inline">
                                            <option value="option">2017</option>
                                            <option value="option">Option</option>
                                            <option value="option">Option</option>
                                        </select>
                                        <button type="button" class="close">
                                            <span aria-hidden="true">
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                </span>
                                        </button>
                                    </div>
                                    <!-- END:.dropdown-element -->
                                </div>
                                <!-- END:col-md-4 -->
                            </div>
                            <!-- END:.achievements-wrap__item clearfix -->
                        </div>
                        <!-- END:.achievements-wrap__items -->
                        <div class="col-md-12 row">
                            <button type="button" class="form-action-btn form-action-btn--add">Добавить образование</button>
                        </div>
                    </div>
                    <!-- END:.achievements-wrap -->
                </div>
                <div class="cabinet-phys-element cabinet-phys-element--achievements checked clearfix">
                    <div class="col-md-3">
                        <h3 class="form-element-title"><i class="fa fa-check" aria-hidden="true"></i> Награды</h3>
                    </div>
                    <!-- .achievements-wrap -->
                    <div class="achievements-wrap col-md-9">
                        <!-- .achievements-wrap__items -->
                        <div class="achievements-wrap__items">
                            <!-- .achievements-wrap__item clearfix -->
                            <div class="achievements-wrap__item row clearfix">
                                <!-- .col-md-3 -->
                                <div class="col-md-5">
                                    <!-- .form-elemegnt -->
                                    <div class="form-element">
                                        <input type="text" class="form-field" placeholder="Награда">
                                    </div>
                                    <!-- END:.form-element -->
                                </div>
                                <!-- END:.col-md-3 -->
                                <div class="col-md-7 clear">
                                    <!-- .dropdown-element -->
                                    <div class="dropdown-element">
                                        <label class="form-label form-label--block">Год вручения:</label>
                                        <select class="new-ui-selectmenu new-ui-selectmenu--inline">
                                            <option value="option">2017</option>
                                            <option value="option">Option</option>
                                            <option value="option">Option</option>
                                        </select>
                                        <button type="button" class="close">
                                            <span aria-hidden="true">
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                </span>
                                        </button>
                                    </div>
                                    <!-- END:.dropdown-element -->
                                </div>
                                <!-- END:col-md-4 -->
                            </div>
                            <!-- END:.achievements-wrap__item clearfix -->
                        </div>
                        <!-- END:.achievements-wrap__items -->
                        <div class="col-md-12 row">
                            <button type="button" class="form-action-btn form-action-btn--add">Добавить награду</button>
                        </div>
                    </div>
                    <!-- END:.achievements-wrap -->
                </div>
                <div class="cabinet-phys-element checked clearfix">
                    <div class="col-md-3">
                        <h3 class="form-element-title"><i class="fa fa-check" aria-hidden="true"></i> Работаю по договору</h3>
                    </div>
                    <!-- .col-md-3 -->
                    <div class="col-md-6">
                        <!-- .dropdown-element -->
                        <div class="dropdown-element">
                            <select class="new-ui-selectmenu new-ui-selectmenu--inline">
                                <option value="option">нет</option>
                                <option value="option">да</option>
                            </select>
                        </div>
                        <!-- END:.dropdown-element -->
                    </div>
                    <div class="col-md-2 col-md-offset-3 clear">
                        <button type="button" class="form-element-submit btn">Сохранить</button>
                    </div>
                </div>
            </form>
            <!-- END:container cabinet-phys-form__section white-section -->
            <!-- .container cabinet-phys-form__section white-section -->
            <form action="#" id="servicesData" class="container cabinet-phys-form__section white-section">
                <!-- .col-md-8 -->
                <div class="col-md-12">
                    <!-- .cabinet-phys-element checked col-md-6 -->
                    <div class="cabinet-phys-element checked col-md-6">
                        <h3 class="form-element-title"><i class="fa fa-check" aria-hidden="true"></i> Категория услуг</h3>
                        <h4 class="cabinet-phys-element__subtitle">Выберите те категории услуг, по которым мы будем присылать Вам новые запросы заказчиков услуг. Уведомления будут приходить на вашу электронную почту или через SMS. Вы моежете выбрать до 3 основных услуг и до 20 дополнительных.</h4>
                        <!-- .row -->
                        <div class="row">
                            <ul class="cabinet-catalog-list cabinet-catalog-list--phys filter-drop">
                                <li class="filter-drop__item cabinet-catalog-list__item trs">
                                    <!-- cabinet-catalog-list__link -->
                                    <a href="#" class="cabinet-catalog-list__link">
                                        <span>
                                        <span class="icon">
                                            <span class="icon-electronic"></span>
                                        </span>
                                        <span>Инженерно-строительные</span>
                                        </span>
                                    </a>
                                    <!-- END:cabinet-catalog-list__link -->
                                    <ul class="filter-drop cabinet-catalog-list__submenu">
                                        <li class="filter-drop__item">
                                            <!-- .cabinet-catalog-list__breadcrumbs -->
                                            <ul class="cabinet-catalog-list__breadcrumbs">
                                                <li>
                                                    <button type="button" class="cabinet-catalog-list__return-btn"><i class="fa fa-level-up" aria-hidden="true"></i></button>
                                                    <span>Уборка в доме</span>
                                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                                    <span>Уборка газонов</span>
                                                </li>
                                            </ul>
                                            <!-- END:.cabinet-catalog-list__breadcrumbs -->
                                            <div class="cabinet-catalog-list__linktext">
                                                <a href="#" class="cabinet-catalog-list__link">Инженерно-строительные</a>
                                                <span class="corner"></span>
                                            </div>
                                            <!-- .cabinet-catalog-list__sublist -->
                                            <ul class="cabinet-catalog-list__sublist">
                                                <li class="filter-drop__item has-children">
                                                    <a href="#" class="cabinet-catalog-list__link">Бытовые</a>
                                                    <span class="corner"></span>
                                                </li>
                                                <li class="filter-drop__item has-children">
                                                    <a href="#" class="cabinet-catalog-list__link">Бытовые</a>
                                                    <span class="corner"></span>
                                                </li>
                                                <li class="filter-drop__item">
                                                    <a href='#physPopup' class="cabinet-catalog-list__link" data-toggle="modal">Бытовые</a>
                                                    <span class="corner"></span>
                                                </li>
                                            </ul>
                                            <!-- END:.cabinet-catalog-list__sublist -->
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- END:.row -->
                    </div>
                    <!-- END:.cabinet-phys-element checked col-md-6 -->
                    <!-- .cabinet-phys-element checked col-md-4 -->
                    <div class="cabinet-phys-element checked col-md-4 col-md-offset-2">
                        <h3 class="form-element-title"><i class="fa fa-check" aria-hidden="true"></i>выбранные категории:</h3>
                        <h4 class="cabinet-phys-element__subtitle">Для того, чтобы выбранные  вами категории услуг были видны заказчику, вам необходимо указать цены для услуг.</h4>
                        <!-- .chosen-categories -->
                        <div class="chosen-categories">
                            <h4 class="chosen-categories__title">Инженерно-строительные</h4>
                            <!-- .chosen-categories__list -->
                            <ul class="chosen-categories__list">
                                <li class="chosen-categories__item">
                                    <button type="button" class="close">
                                        <span aria-hidden="true">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </span>
                                    </button>
                                    <span class="chosen-categories__text">Штукатурные работы</span>
                                </li>
                                <li class="chosen-categories__item">
                                    <button type="button" class="close">
                                        <span aria-hidden="true">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </span>
                                    </button>
                                    <span class="chosen-categories__text">Комплексный ремонт</span>
                                </li>
                            </ul>
                            <!-- END:.chosen-categories__list -->
                        </div>
                        <!-- END:.chosen-categories -->
                    </div>
                    <!-- END:.cabinet-phys-element checked col-md-4 -->
                </div>
                <!-- END:.col-md-8 -->
            </form>
            <!-- END:.container cabinet-phys-form__section white-section -->
            <!-- .container cabinet-phys-form__section white-section -->
            <!-- END:.container cabinet-phys-form__section white-section -->
            <!-- .container cabinet-phys-form__section white-section -->
            <form action="#" id="portfolioData" class="container cabinet-phys-form__section white-section">
                <div class="cabinet-phys-element checked clearfix">
                    <div class="col-md-3">
                        <h3 class="form-element-title"><i class="fa fa-check" aria-hidden="true"></i> Загрузка портфолио</h3>
                    </div>
                    <!-- .col-md-3 -->
                    <div class="col-md-6">
                        <label class="form-label form-label--block">Рубрика:</label>
                        <div class="catalog-filter-checkboxes catalog-filter-checkboxes--cabinet-rubric">
                            <!-- .catalog-filter-checkboxes__inner -->
                            <div class="catalog-filter-checkboxes__inner catalog-filter-checkboxes--block">
                                <!-- .catalog-filter-checkboxes__item -->
                                <div class="catalog-filter-checkboxes__item">
                                    <input type="radio" class="catalog-filter-checkboxes__field" id="animalServices" value="animalServices" name="portfolioServices">
                                    <label for="animalServices" class="catalog-filter-checkboxes__label">Услуги для животных</label>
                                </div>
                                <!-- END:.catalog-filter-checkboxes__item -->
                                <!-- .catalog-filter-checkboxes__item -->
                                <div class="catalog-filter-checkboxes__item">
                                    <input type="radio" class="catalog-filter-checkboxes__field" value="designerServices" id="designerServices" name="portfolioServices">
                                    <label for="designerServices" class="catalog-filter-checkboxes__label">Услуги дизайнера</label>
                                </div>
                                <!-- END:.catalog-filter-checkboxes__item -->
                                <!-- .catalog-filter-checkboxes__item -->
                                <div class="catalog-filter-checkboxes__item">
                                    <input type="radio" class="catalog-filter-checkboxes__field" value="accountantServices" id="accountantServices" name="portfolioServices">
                                    <label for="accountantServices" class="catalog-filter-checkboxes__label">Услуги бухгалтера</label>
                                </div>
                                <!-- END:.catalog-filter-checkboxes__item -->
                            </div>
                            <!-- END:.catalog-filter-checkboxes__inner -->
                        </div>
                        <!-- .dropdown-element -->
                        <div class="dropdown-element">
                            <label class="form-label form-label--block">Подрубрика:</label>
                            <select class="new-ui-selectmenu new-ui-selectmenu--inline">
                                <option value="option">Москва</option>
                                <option value="option">Option</option>
                                <option value="option">Option</option>
                            </select>
                        </div>
                        <!-- END:.dropdown-element -->
                    </div>
                    <div class="col-md-2 col-md-offset-3 clear">
                        <button type="button" class="form-element-submit btn">Добавить</button>
                    </div>
                </div>
                <div class="cabinet-phys-element checked clearfix">
                    <div class="col-md-3">
                        <h3 class="form-element-title"><i class="fa fa-check" aria-hidden="true"></i> Название работы</h3>
                    </div>
                    <!-- .col-md-3 -->
                    <div class="col-md-6">
                        <div class="form-element">
                            <!-- form-element__wrapper -->
                            <div class="form-element__wrapper">
                                <input type="text" class="form-field" placeholder="Дрессировка улиток">
                                <div class="form-tooltext">Не более 40 символов</div>
                            </div>
                            <!-- END:form-element__wrapper -->
                            <!-- <div class="form-element__error">Поле обязательно для заполнения</div> -->
                        </div>
                    </div>
                </div>
                <div class="cabinet-phys-element checked clearfix">
                    <div class="col-md-3">
                        <h3 class="form-element-title"><i class="fa fa-check" aria-hidden="true"></i> Описание работы</h3>
                    </div>
                    <!-- .col-md-3 -->
                    <div class="col-md-9">
                        <div class="form-element">
                            <label class="form-label">Добавьте общее описание (ниже, при выборе фотографии, выберите одену под эту услугу ( “Сделать главным”):</label>
                            <textarea class="form-field form-field--textarea" rows="4" placeholder="Например, ремнот двухкомнатной квартиры с утеплением полов и пристройкой лоджии, все материалы итальянские"></textarea>
                            <!-- .form-element__error -->
                            <!-- <div class="form-element__error">Поле обязательно для заполнения</div> -->
                            <!-- END:.form-element__error -->
                        </div>
                    </div>
                </div>
                <div class="cabinet-phys-element checked clearfix">
                    <div class="col-md-3">
                        <h3 class="form-element-title"><i class="fa fa-check" aria-hidden="true"></i> стоимость работы:</h3>
                    </div>
                    <!-- .col-md-3 -->
                    <div class="col-md-6">
                        <!-- .form-element -->
                        <div class="form-element">
                            <label class="form-label form-label--block">Сумма, за которую была выполнена работа:</label>
                            <input type="text" class="form-field form-field--inline form-field--inline-el" placeholder="6000 рублей">
                            <!-- .form-element__error -->
                            <!-- <div class="form-element__error">Поле обязательно для заполнения</div> -->
                            <!-- END:.form-element__error -->
                        </div>
                        <!-- END:.form-element -->
                    </div>
                </div>
                <div class="cabinet-phys-element checked clearfix">
                    <div class="col-md-3">
                        <h3 class="form-element-title"><i class="fa fa-check" aria-hidden="true"></i> Время выполнения:</h3>
                    </div>
                    <!-- .col-md-3 -->
                    <div class="col-md-6">
                        <!-- .form-element -->
                        <div class="form-element">
                            <label class="form-label form-label--block">Время, потраченное на данную работу:</label>
                            <input type="text" class="form-field form-field--inline form-field--inline-el" placeholder="2 часа">
                            <!-- .form-element__error -->
                            <!-- <div class="form-element__error">Поле обязательно для заполнения</div> -->
                            <!-- END:.form-element__error -->
                        </div>
                        <!-- END:.form-element -->
                    </div>
                </div>
                <div class="cabinet-phys-element checked clearfix">
                    <div class="col-md-3">
                        <h3 class="form-element-title"><i class="fa fa-check" aria-hidden="true"></i> Фотографии:</h3>
                    </div>
                    <!-- .col-md-3 -->
                    <div class="col-md-6">
                        <h4 class="cabinet-phys-element__subtitle">Загружайте только реальные фотографии выполненных работ. Личные фотографии исполнителя, картинки из Интернета и пр. будут удалены администратором. При повторном нарушении правил профиль будет заблокирован. Максимальный размер фото до 5 мб. Принимаются файлы jpeg. png. bmp</h4>
                    </div>
                </div>
                <div class="cabinet-phys-element checked clearfix">
                    <div class="col-md-3">
                        <h3 class="form-element-title"><i class="fa fa-check" aria-hidden="true"></i> Пример №1:</h3>
                    </div>
                    <!-- .col-md-3 -->
                    <div class="col-md-6">
                        <!-- .cabinet-photoblock -->
                        <div class="cabinet-photoblock">
                            <!-- .photoblock-images -->
                            <div class="photoblock-images clearfix">
                                <div class="col-lg-3 col-md-4">
                                    <!-- .photoblock-images__imgblock -->
                                    <div class="photoblock-images__imgblock">
                                        <!-- .cabinet-phys-avatar-loading -->
    
                                        <!-- 
                                            "photoblock-images-loading--file-loading" - класс-модификатор. Появляется при загрузке файла
                                        -->
    
                                        <div class="photoblock-images-loading photoblock-images--file-loading">
                                            <img src="images/loading-animation.svg" alt="loading-animation">
                                        </div>
                                        <!-- END:.cabinet-phys-avatar-loading -->
                                        <!-- .photoblock-images__tooltip -->
                                        <div class="photoblock-images__tooltip">
                                            <div class="photoblock-images__tooltip-text">Фото будет отображаться, как главное в категории</div>
                                            <div class="photoblock-images__tooltip-action">
                                                <button type="button" class="photoblock-images__tooltip-action-btn">Сделать главным</button>
                                            </div>
                                        </div>
                                        <!-- END:.photoblock-images__tooltip -->
                                        <img src="../images/cabinet/photoblock-img.png" alt="photoblock-image" class="img-responsive" />
                                    </div>
                                    <!-- END:.photoblock-images__imgblock -->
                                    <button type="button" class="photoblock-images__change-btn text-center">Изменить</button>
                                </div>
                                <div class="col-lg-3 col-md-4">
                                    <!-- .photoblock-images__imgblock -->
                                    <div class="photoblock-images__imgblock">
                                        <!-- .cabinet-phys-avatar-loading -->
    
                                        <!-- 
                                            "photoblock-images-loading--file-loading" - класс-модификатор. Появляется при загрузке файла
                                        -->
    
                                        <div class="photoblock-images-loading photoblock-images-loading--file-loading">
                                            <img src="images/loading-animation.svg" alt="loading-animation">
                                        </div>
                                        <!-- END:.cabinet-phys-avatar-loading -->
                                        <!-- .photoblock-images__tooltip -->
                                        <div class="photoblock-images__tooltip">
                                            <div class="photoblock-images__tooltip-text"> как главное в категории как главное в категории</div>
                                            <div class="photoblock-images__tooltip-action">
                                                <button type="button" class="photoblock-images__tooltip-action-btn">Сделать главным</button>
                                            </div>
                                        </div>
                                        <!-- END:.photoblock-images__tooltip -->
                                        <img src="../images/cabinet/photoblock-img.png" alt="photoblock-image" class="img-responsive" />
                                    </div>
                                    <!-- END:.photoblock-images__imgblock -->
                                    <button type="button" class="photoblock-images__change-btn text-center">Изменить</button>
                                </div>
                                <div class="photoblock-images__addblock text-center col-lg-3 col-md-4">
                                    <!-- .photoblock-images__addblock-inner -->
                                    <div class="photoblock-images__addblock-inner">
                                        <label for="addPhoto" class="photoblock-images__addbtn">
                                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                            <input type="file" id="addPhoto" />
                                            <span>Добавить фото</span>
                                        </label>
                                    </div>
                                    <!-- END:.photoblock-images__addblock-inner -->
                                </div>
                            </div>
                            <!-- END:.photoblock-images -->
                            <!-- .photoblock-details -->
                            <div class="photoblock-details col-md-11">
                                <!-- .photoblock-details__inner -->

                                <div class="photoblock-details__inner">
                                    <div class="photoblock-details__item">
                                        <label for="photoblockTitle" class="photoblock-details__label">Название фото</label>
                                        <input type="text" id="photoblockTitle" placeholder="2 часа" />
                                    </div>
                                    <div class="photoblock-details__item">
                                        <label for="photoblockDescription" class="photoblock-details__label">Краткое описание</label>
                                        <input type="text" id="photoblockDescription" placeholder="2 часа" />
                                    </div>
                                    <div class="photoblock-details__item">
                                        <label for="photoblockPrice" class="photoblock-details__label">Цена</label>
                                        <input type="text" id="photoblockPrice" placeholder="2 рубля" />
                                    </div>
                                    <div class="photoblock-details__item">
                                        <label for="photoblockTerm" class="photoblock-details__label">Срок выполнения</label>
                                        <input type="text" id="photoblockTerm" placeholder="2 рубля" />
                                    </div>
                                    <!-- .photoblock-details-submit -->
                                    <div class="photoblock-details-submit text-center">
                                        <button type="button" class="form-element-submit btn">Изменить</button>
                                    </div>
                                    <!-- END:.photoblock-details-submit -->
                                </div>
                                <!-- END:.photoblock-details__inner -->
                            </div>
                            <!-- END:.photoblock-details -->
                            <!-- .col-md-11 -->
                            <div class="col-md-11">
                                <button type="button" class="form-element-submit btn">Сохранить</button>
                            </div>
                            <!-- END:.col-md-11 -->
                        </div>
                        <!-- END:.cabinet-photoblock -->
                    </div>
                </div>
            </form>
            <!-- END:.container cabinet-phys-form__section white-section -->
            <!-- .container cabinet-phys-form__section white-section -->
            <form action="#" id="notificationsData" class="container cabinet-phys-form__section white-section">
                <div class="cabinet-phys-element checked clearfix">
                    <div class="col-md-3">
                        <h3 class="form-element-title"><i class="fa fa-check" aria-hidden="true"></i> уведомления</h3>
                    </div>
                    <!-- .col-md-3 -->
                    <div class="col-md-6">
                        <label class="form-label form-label--block">Я хочу получать уведомления о новых запросах:</label>
                        <div class="catalog-filter-checkboxes catalog-filter-checkboxes--cabinet-rubric">
                            <!-- .catalog-filter-checkboxes__inner -->
                            <div class="catalog-filter-checkboxes__inner catalog-filter-checkboxes--block">
                                <!-- .catalog-filter-checkboxes__item -->
                                <div class="catalog-filter-checkboxes__item">
                                    <input type="radio" class="catalog-filter-checkboxes__field" id="eachTask" value="eachTask" name="notificationTasks">
                                    <label for="eachTask" class="catalog-filter-checkboxes__label">При появлениии каждого нового задания</label>
                                </div>
                                <!-- END:.catalog-filter-checkboxes__item -->
                                <!-- .catalog-filter-checkboxes__item -->
                                <div class="catalog-filter-checkboxes__item">
                                    <input type="radio" class="catalog-filter-checkboxes__field" value="notificationOnce" id="notificationOnce" name="notificationTasks">
                                    <label for="notificationOnce" class="catalog-filter-checkboxes__label">Один раз в день</label>
                                </div>
                                <!-- END:.catalog-filter-checkboxes__item -->
                            </div>
                            <!-- END:.catalog-filter-checkboxes__inner -->
                        </div>
                        <button type="button" class="form-element-submit btn">Сохранить</button>
                    </div>
                </div>
            </form>
            <!-- END:.container cabinet-phys-form__section white-section -->
        </div>
    </div>
    <!-- END:.cabinet-phys-form -->
    <!-- END:.cabinet-phys-main -->
    <!-- END:.page-title -->
</main>
