<main class="main main-cabinet">
    //= ../modules/partial/breadcrumbs-cabinet.html

    <!-- START:.page-title -->
    <div class="container">
        <div class="row">
            <div class="page-title col-lg-12 col-xs-12">
                <h1 class="page-title__text">Личный кабинет</h1>
            </div>
        </div>
    </div>  
    <!-- END:.page-title -->

    //= ../modules/partial/search-line-cabinet.html

    <!-- .container -->
    <div class="container">
        <!-- .row -->
        <div class="row">
            <!-- .cabinet-offers-intro -->
            <div class="cabinet-offers-intro text-center">
                <p>24 продавца оставили Вам свои  выгодные предложения и скидки  по Вашему запросу “Хочу дешевле”</p>
            </div>
            <!-- END:.cabinet-offers-intro -->
        </div>
        <!-- END:.row -->
    </div>
    <!-- END:.container -->
    
    <!-- START:.item-information-row -->
    <div class="container item-information-row">
        //= ../modules/partial/cabinet-compare-four-items.html
    </div>
    <!-- END:.item-information-row -->

    <!-- .container -->
    <div class="container">
        <!-- .row -->
        <div class="">
            //= ../modules/partial/cabinet-magazines-table.html
            //= ../modules/partial/cabinet-magazines-table2.html
        </div>
        <!-- END:.row -->
    </div>
    <!-- END:.container -->

</main>