<main class="main">
    //= ../modules/partial/breadcrumbs-cabinet.html
    <!-- START:.page-title -->
    <div class="container">
        <div class="row">
            <div class="page-title col-lg-12 col-xs-12">
                <h1 class="page-title__text">Личный кабинет</h1>
            </div>
        </div>
    </div>
    <!-- END:.page-title -->
    //= ../modules/partial/search-line-cabinet.html
    <!-- START:.item-information-row -->
    <div class="container item-information-row">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                <!-- START:.catalog-sidebar -->
                <aside>
                    <div class="catalog-sidebar">
                        <!-- START:.sidebar-title -->
                        <div class="sidebar-title claerfix">
                            <h2 class="sidebar-title__text">Мои отзывы: 4</h2>
                        </div>
                        <!-- END:.sidebar-title -->
                    </div>
                </aside>
                <!-- END:.catalog-sidebar -->
            </div>
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
                //= ../modules/partial/cabinet-testimonials-reviews.html
            </div>
        </div>
    </div>
    <!-- END:.item-information-row -->
</main>
