<main class="main main-cabinet">

	//= ../modules/partial/breadcrumbs-cabinet.html

    <!-- START:.page-title -->
    <div class="container">
        <div class="row">
            <a href="#" class="cabinet-settings-return-btn hidden-lg hidden-md col-sm-2 col-xs-2">Вернуться<i class="fa fa-level-up"></i></a>
            <div class="page-title col-lg-12 col-sm-10 col-xs-10">
                <h1 class="page-title__text">личный кабинет</h1>
            </div>
        </div>
    </div>
    <!-- END:.page-title -->
	
    //= ../modules/partial/search-line-cabinet.html

    <!-- START:.content -->
    <div class="container">
        <div class="row">
            <div class="">
                //= ../modules/partial/cabinet-settings-main.html
            </div>
        </div>
    </div>
    <!-- END:.content -->

</main>
