<main class="main">
	
	//= ../modules/partial/breadcrumbs.html

	<!-- START:.page-title -->
	<div class="container">
		<div class="row">
			<div class="page-title col-lg-12 col-xs-12">
				<h1 class="page-title__text">Ремонт холодильников</h1>
			</div>
		</div>
	</div>	
	<!-- END:.page-title -->

	<!-- START:.content -->
	<div class="container">
		<div class="">
			//= ../modules/partial/sort-items.html
			<div class="col-lg-12 col-md-12 col-xs-12 white-section">
				//= ../modules/partial/catalog-items.html
				//= ../modules/partial/pagination.html
			</div>
		</div>
	</div>
	<!-- END:.content -->
	
</main>