<main class="main">

	<!-- START:.page-title -->
	<div class="container">
		<div class="row">
			<div class="page-title col-lg-12 col-xs-12">
				<h1 class="page-title__text">Сравнение</h1>
			</div>
		</div>
	</div>	
	<!-- END:.page-title -->
	
	<!-- START:.items-slider -->
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
				//= ../modules/partial/compare-sidebar-items.html
			</div>
			<div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
				//= ../modules/partial/compare-four-items.html
			</div>
		</div>
	</div>
	<!-- END:.items-slider -->
	
	<!-- START:.item-information-row -->
	<div class="container item-information-row">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
				//= ../modules/partial/compare-info-sidebar-items.html
			</div>
			<div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
				//= ../modules/partial/compare-info-four-items.html
			</div>
		</div>
	</div>
	<!-- END:.item-information-row -->

	<!-- START:.item-information-row -->
	<div class="container item-information-row">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
				//= ../modules/partial/compare-info-sidebar-items.html
			</div>
			<div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
				//= ../modules/partial/compare-info-four-items.html
			</div>
		</div>
	</div>
	<!-- END:.item-information-row -->

</main>