<main class="main">

	//= ../modules/partial/breadcrumbs.html

	<!-- START:.page-title -->
	<div class="container">
		<div class="row">
			<div class="page-title col-lg-12 col-xs-12">
				<h1 class="page-title__text">Телевизоры</h1>
			</div>
		</div>
	</div>	
	<!-- END:.page-title -->

	<!-- START:.content -->
	//= ../modules/partial/filters-title.html
	<div class="container">
		<div class="row all-filters">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 all-filters__item">
					//= ../modules/partial/filter-accord.html
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 all-filters__item">
					//= ../modules/partial/filter-accord.html
				</div>				
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 all-filters__item">
					//= ../modules/partial/filter-accord.html
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 all-filters__item">
					//= ../modules/partial/filter-accord.html
				</div>				
			</div>
		</div>
	</div>
	<!-- END:.content -->
	
</main>