<footer class="footer">
	<div class="container">
		<div class="footer-columns row">
			<div class="footer-columns__item col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<h2 class="title">Продавцам</h2>
				<ul class="links">
					<li class="links__item">
						<a href="#">Продавцам</a>
					</li>
					<li class="links__item">
						<a href="#">Требования к магазинам</a>
					</li>
					<li class="links__item">
						<a href="#">Помощь для магазинов</a>
					</li>
					<li class="links__item">
						<a href="#">Оплата</a>
					</li>
				</ul>
			</div>
			<div class="footer-columns__item col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<h2 class="title">Покупателям</h2>
				<ul class="links">
					<li class="links__item">
						<a href="#">Пользовательское<br />соглашение</a>
					</li>
					<li class="links__item">
						<a href="#">Политика<br />конфиденциальности</a>
					</li>
				</ul>
			</div>
			<div class="footer-columns__item col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<h2 class="title">О проекте</h2>
				<ul class="links">
					<li class="links__item">
						<a href="#">О проекте</a>
					</li>
					<li class="links__item">
						<a href="#">Контакты и реквизиты</a>
					</li>
					<li class="links__item">
						<a href="#">Вход в кабинет</a>
					</li>
				</ul>
			</div>
			<div class="footer-columns__item col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<h2 class="title">Скачайте приложение</h2>
				<ul class="magazines-links clearfix">
					<li class="magazines-links__item">
						<a href="#">
							<img src="images/play-market.png" alt="images" />
						</a>
					</li>
					<li class="magazines-links__item">
						<a href="#">
							<img src="images/app-store.png" alt="images" />
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container footer-contacts">
		<div class="footer-columns row">
			<div class="footer-columns__item col-lg-3 col-md-3 col-sm-12 col-xs-12 pull-right">
				<h2 class="title">Свяжитесь с нами</h2>
				<ul class="contacts-links clearfix">
					<li class="contacts-links__item">
						<a href="#">
							<span class="btn vk">
								<i class="fa fa-vk" aria-hidden="true"></i>
							</span>
						</a>
					</li>
					<li class="contacts-links__item">
						<a href="telto:88004442235">
							<i class="fa fa-phone" aria-hidden="true"></i> 8-800-444-22-35
						</a>
					</li>
				</ul>
			</div>
			<div class="footer-columns__item col-lg-7 col-md-7 col-sm-12 col-xs-12 col-md-offset-1 col-lg-offset-2">
				<div class="copyright">2015-2016 “1ВСЁ” Алгоритм анонимной коммуникации защищен патентом</div>
			</div>
		</div>
	</div>
</footer>