<header class="header">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">

				<!-- START:.logo -->
				<div class="logo">
					<a href="#">
						<img src="images/logo.svg" alt="images" class="logo__img" />
					</a>
				</div>
				<!-- END:.logo -->
			
			</div>
			<div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">

				<!-- START:.sites-list -->
				<ul class="sites-list">
					<li class="sites-list__item">
						<a href="#">Товары</a>
					</li>
					<li class="sites-list__item sites-list__item--active">
						<a href="#">Услуги</a>
					</li>
				</ul>
				<!-- END:.sites-list -->

			</div>
		</div>
	</div>
</header>