<main class="main">
	//= ../modules/partial/breadcrumbs.html

	<!-- START:.page-title -->
	<div class="container">
		<div class="row">
			<div class="page-title col-lg-12 col-xs-12">
				<h1 class="page-title__text">Избранное</h1>
			</div>
		</div>
	</div>	
	<!-- END:.page-title -->
	<div class="container">
		//= ../modules/partial/liked-items-list.html
	</div>
	

</main>