<main class="main">
	//= partial/breadcrumbs.html

	<!-- START:.page-title -->
	<div class="container">
		<div class="row">
			<div class="page-title col-lg-12">
				<h1 class="page-title__text">Магазин “техносила”</h1>
			</div>
		</div>
	</div>	
	<!-- END:.page-title -->
	<div class="container">
		<div class="row">
			//= partial/magazines-reviews.html
		</div>
	</div>
</main>