<main class="main main-page">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
				//= ../modules/partial/sidebar-catalog.html
			</div>
			<div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
				<div class="information-banner">
					<div class="information-banner__row row clearfix">
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
				      <img src="images/banner-slide.jpg" alt="banner">
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<img src="images/banner2.jpg" alt="banner2" />
						</div>
					</div>
					<div class="information-banner__row row clearfix">
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
							<img src="images/banner3.jpg" alt="banner3" />
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<img src="images/banner4.jpg" alt="banner4" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="previews-section">
			<div class="row previews-row">
				<div class="previews-row__title clearfix">
					<div class="col-lg-4 col-md-5 col-sm-5 col-xs-5">
						<div class="title">Лидеры продаж</div>
					</div>
					<div class="col-lg-8 col-md-7 col-sm-7 col-xs-7">
						//= ../modules/partial/tabs-section.html
					</div>
				</div>
				<div class="previews-row__items contentSlider">
					//= ../modules/partial/main-page-preview.html
				</div>
			</div>
		</div>
		<div class="previews-section">
			<div class="row previews-row">
				<div class="previews-row__title clearfix">
					<div class="col-lg-4 col-md-5 col-sm-5 col-xs-5">
						<div class="title">Лучшая цена</div>
					</div>
					<div class="col-lg-8 col-md-7 col-sm-7 col-xs-7">
						//= ../modules/partial/tabs-section.html
					</div>
				</div>
				<div class="previews-row__items contentSlider">
					//= ../modules/partial/main-page-preview.html
				</div>
			</div>
		</div>
	</div>
</main>