<div class="popups">
	//= ../modules/partial/cities-popup.html
	//= ../modules/partial/sign-in-popup.html
	//= ../modules/partial/registration-popup-step2.html
	//= ../modules/partial/registration-popup-step3.html
	//= ../modules/partial/forgot-password-popup.html
	//= ../modules/partial/cheap-popup.html
	//= ../modules/partial/all-filters-popup.html
	//= ../modules/partial/address-popup.html
	//= ../modules/partial/review-popup.html
	//= ../modules/partial/magazine-review-popup.html
	//= ../modules/partial/info-popup.html
	//= ../modules/partial/find-service-popup.html
	//= ../modules/partial/phys-popup.html
</div>
<div class="hover-background"></div>