<main class="main">
	//= ../modules/partial/breadcrumbs.html

	<!-- START:.page-title -->
	<div class="container">
		<div class="row">
			<div class="page-title col-lg-12">
				<h1 class="page-title__text">Samsung UE32J4000AU</h1>
			</div>
		</div>
	</div>	
	<!-- END:.page-title -->

	<div class="container">
		<div class="row">
			
			//= ../modules/partial/cart-item-info.html
			
			//= ../modules/partial/cart-tabs-info.html
		
		</div>

		<!-- START:.CATALOG_TABS -->
		<div class="previews-section">
			<div class="row previews-row">
				<div class="previews-row__title clearfix">
					<div class="col-lg-4 col-md-5 col-sm-5 col-xs-5">
						<div class="title">Лидеры продаж</div>
					</div>
					<div class="col-lg-8 col-md-7 col-sm-7 col-xs-7">
						//= ../modules/partial/tabs-section.html
					</div>
				</div>
				<div class="previews-row__items contentSlider">
					//= ../modules/partial/main-page-preview.html
				</div>
			</div>
		</div>
		<!-- END:.CATALOG_TABS -->	

	</div>
</main>