	<!-- bower:js -->
	<script src="libs/jquery/dist/jquery.js"></script>
	<script src="libs/bootstrap/dist/js/bootstrap.js"></script>
	<script src="libs/seiyria-bootstrap-slider/dist/bootstrap-slider.js"></script>
	<script src="libs/jquery-validation/dist/jquery.validate.js"></script>
	<script src="libs/slick-carousel/slick/slick.js"></script>
	<script src="libs/fancybox/source/jquery.fancybox.js"></script>
	<script src="libs/fancybox/source/jquery.fancybox.pack.js"></script>
	<script src="libs/jquery-bar-rating/jquery.barrating.js"></script>
	<script src="libs/jquery-mask-plugin/dist/jquery.mask.js"></script>
	<!-- endbower -->
	<script src="libs/jquery-ui/jquery-ui.js"></script>
	<script src="libs/elevatezoom/jquery.elevatezoom.js"></script>
	<script src="libs/fancybox/source/jquery.fancybox.js"></script>
	<script src="libs/fancybox/source/jquery.fancybox.pack.js"></script>

	<script type="text/javascript" src="js/functions/functions.js"></script>
	<script type="text/javascript" src="js/user.js"></script>
	<script type="text/javascript" src="js/ajax.js"></script>
	<script type="text/javascript" src="js/search-line.js"></script>
	<script type="text/javascript" src="js/spoiler-sidebar.js"></script>
	<script type="text/javascript" src="js/compare.js"></script>
	<script type="text/javascript" src="js/autocomplete.js"></script>
	<script type="text/javascript" src="js/hover.js"></script>
	<script type="text/javascript" src="js/mobile-catalog.js"></script>
	<script type="text/javascript" src="js/cabinet.js"></script>
