<main class="main">
	//= ../modules/partial/breadcrumbs.html

	<!-- START:.page-title -->
	<div class="container">
		<div class="row">
			<div class="page-title col-lg-12">
				<h1 class="page-title__text">Строительство и ремонт</h1>
			</div>
		</div>
	</div>	
	<!-- END:.page-title -->
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
				//= ../modules/partial/subcategory-sidebar.html
			</div>
			<div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
				<div class="information-banner">
					<div class="information-banner__row row">
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
							<img src="images/banner3.jpg" alt="banner3" />
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<img src="images/banner4.jpg" alt="banner4" />
						</div>
					</div>
				</div>
				<div class="previews-section">
					<div class="previews-row row">
						<div class="previews-row__title clearfix">
							<div class="col-lg-4 col-md-5 col-sm-12">
								<div class="title">Лучшая цена</div>
							</div>
							<div class="col-lg-8 col-md-7">
								//= ../modules/partial/tabs-section-small.html
							</div>
						</div>
						<div class="previews-row__items contentSlider">
							//= ../modules/partial/preview-four-items.html
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>