@import '../assets/veriables';
/*============= FOOTER ============*/
.footer{
	display: block;
	background:#fff;
	padding: 33px 0 0;
}
.footer-columns{
	&__item{
		.title{
			margin:0 0 30px;
		}
	}
}
.links{
	list-style-type: none;
	padding: 0;
	margin: 0;
	&__item{
		&:not(:last-child){
			margin: 0 0 12px;
		}
		a{
			font-size: 18px;
			line-height: 1.15em;
			color: color(main-font);
		}
	}
}
.contacts-links{
	list-style-type: none;
	text-align: left;
	padding: 0;
	&__item{
		display: inline-block;
		vertical-align: middle;
		&:not(:last-child){
			padding: 0 5% 0 0;
		}
		&:last-child{
			font-size: 20px;
			line-height: 1em;
			i{
				color: color(main);
			}
			a{
				color: color(main-font);
			}
		}
	}	
}
.magazines-links{
	list-style-type: none;
	padding: 0;
	&__item{
		float: left;
		width: 50%;
		padding: 0 5% 0 0;
		a{
			display: inline-block;
			img{
				max-width: 100%;
			}
		}
	}
}
.copyright{
	font-size: 14px;
	color: color(copyright);
	text-align: center;
	padding: 65px 0 0;
}
.footer-contacts{
	position: relative;
	top:-25px;
}