@import '../assets/veriables';
/*========== HEADER_SETTINGS ==========*/
.header {
    display: block;
    padding: 5px 0;
}

.logo {
    &__img {
        width: 100%;
        max-width: 130px;
        padding-top: 7px;
    }
}

.sites-list {
    padding: 10px 0 0;
    list-style-type: none;
    &__item {
        position: relative;
        display: inline-block;
        &:not(:last-child) {
            margin: 0 -35px 0 0;
        }
        a {
            display: block;
            font: 1.8rem $rubik-bold;
            padding: 8px 40px 7px;
            text-decoration: none;
            text-transform: uppercase;
            color: color(main-font);
            border: 2px solid color(main);
            border-radius: 50px;
        }
        &--active {
            z-index: 1;
            a {
                color: #fff;
                background: color(main);
                // box-shadow:inset 0 0 25px -10px #000;
            }
        }
    }
}
