@import '../assets/veriables';
/*========= MAIN_PAGE_STYLES ==========*/
.main-page{
	padding: 30px 0;
}
.information-banner{
	&__row{
		&:not(:last-child){
			margin-bottom: 30px;
		}
	}
	img{
		max-width: 100%;
	}
}