@import '../assets/veriables';
/*======== GENERAL_SETTINGS =========*/
.modal{
	background: rgba(49,54,66,.9);
}
.modal-dialog{
	position: absolute;
	top:10%;
	left:50%;
	margin: 0;
	display: inline-block;
	width: auto;
	// max-width: 750px;
	transform:translate(-50%,0) !important;
}
.modal-content{
	border:none;
	border-radius: 0;
	&.sign-in{
		width: 750px;
		padding: 20px 0;
	}
	&.forgot{
		padding-top: 30px;
		padding-bottom: 30px;
		width: 400px;
		.submit,
		.cancel{
			width: 140px;
		}
	}
	&.registration{
		width: 750px;
		padding: 20px 0;
		.form-title{
			margin: 0 0 30px;
		}
		.two-columns{
			.forms-column__item{
				border:none;
				&:not(:first-child){
					.title{
						margin: 0 0 23px;
					}
					.form-row{
						&:not(:first-child){
							.title{
								margin-top: 30px;
							}
						}
						&:last-child{
							padding: 0 0 20px;
						}
					}
				}
			}
		}
		&.third-step{
			.two-columns{
				.forms-column__item{
					border:none;
					&:not(:first-child){
						.title{
							margin: 0 0 12px;
						}
					}
					.title{
						margin-top: 0 !important;
					}
				}
			}
			.description{
				margin: 30px 0 10px;
			}
		}
		.submit,
		.cancel{
			width: 140px;
		}
		.submit{
			margin: 25px 0 0;
		}
	}
	&.cities{
		padding: 15px 0 30px;
		width: 750px;
		.form-title{
			margin: 0 0 25px;
		}
		input{
			border-color: color(main);
		}
		.submit{
			float: none;
			display: block;
			margin: 0 auto;
			width: 140px;
		}
	}
}
.forms-column{
	display: table;
	width: 100%;
	padding: 0 15px;
	&__item{
		display:table-cell;
		padding: 0 15px;
		&:not(:last-child){
			border-right: 2px solid #f0f0f0;
		}
	}
	&.two-columns{
		.forms-column__item{
			width: 350px;
			padding: 0 15px 0 20px;
			&:not(:first-child){
				padding: 0 20px 0 15px;
			}
			&:first-child{
				.form-row:last-child{
					padding: 22px 0 0;
				}
			}
			input[type="checkbox"]{
				outline: none;
				margin: -2px 5px 0 0;
			}
		}
	}
}

.form-row{
	position: relative;
	// padding: 0 0 30px;
	&.description{
		padding: 0 0 15px;
		p{
			text-align: center;
		}
	}
	.title{
		font-size: 16px;
		line-height: 1em;
		margin: 0 0 12px;
	}
	.submit{
		float: right;
	}
	.forgot{
		display: inline-block;
		line-height: 1em;
		margin: 12px 0 0;
		text-decoration: underline;
		cursor:pointer;
		&:hover{
			text-decoration: none;
		}
	}
	p{
		font-size: 14px;
		line-height: 1.3em;
		white-space: wrap;
		color: #c2c2c2;
	}
	input{
		&:not([type="checkbox"]):not([type="radio"]){
			margin: 0 0 20px;
		}
	}
}
.form-title{
	font: 24px $rubik-bold;
	color:color(main);
	text-align: center;
}
.socials-form{
	text-align: center;
	.title{
		font-size: 16px;
		line-height: 1em;
		margin: 20px 0 10px;
	}
}

.cities-autocomplite{
	position: relative;
	input:focus+.cities-autocomplite__list{
		display: block;
	}
	&__list{
		left: 50% !important;
		max-width: 750px !important;
		width: 100%;
		border: none !important;
		background:#f5f6f8;
		transform:translate(-50%,0);
		.ui-menu-item{
			.ui-menu-item-wrapper{
				padding: 5px 10px 5px 45px;
				&.ui-state-active{
					background:#fff;
					border: none;
					margin: 0;
					color: color(main-font);
				}
			}
		}
	}
}

.enter-code{
	display: table;
	width: 100%;
	.cell{
		display: table-cell;
		vertical-align: top;
		&:first-child{
			width: 120px;
		}
		&:nth-child(2){
			padding: 11px 0 0 10px;
		}

		.title{
			margin-top: 0;
		}
	}
	input{
		width: 120px;
		margin: 0 10px 0 0;
	}
	a{
		font-size: 14px;
		line-height: 1em;
		letter-spacing: -0.5px;
	}
	.error-box{
		text-align: left;
		padding: 0 0 0 15px
	}
}

/*======== CHEAP_POPUP ========*/
.cheap-popup{
	padding: 20px 0 0;
	.forms-column__item{
		border: none;
		vertical-align: top;
	}
	.title{
		padding: 0 0 20px;
		margin: 0 0 30px;
		border-bottom: 2px solid #f0f0f0;
		.brand,.model,.price{
			font: 18px $rubik-bold;
			line-height: 1.5em;
			color: color(main-font);
			text-transform: uppercase;
		}
		.price{
			color: color(main);
		}
	}
	.count-items{
		border-bottom: 2px solid #f0f0f0;
		font-size: 14px;
		padding: 0 0 30px;
		margin: 0 0 30px;
		.ui-spinner{
			margin:0 0 0 15px; 
		}
	}
}
.checkbox-group{
	margin: 25px 0 0;
	color: #fff; 
}
.popup-img{
	padding: 0 10px;
	.img-holder{
		text-align: center;
		margin: 0 0 10px;
		img{
			max-width: 100%;
		}
	}
}
.popup-reviews{
	text-align: center;
	.rev-progress{
		margin: 0 0 7px;
	}
	.count{
		text-decoration: underline;
		color: #bebebe;
		&:hover{
			text-decoration: none;
		}
	}
}
.checkbox-group{
	display: table;
	width: 100%;
	padding: 15px 30px;
	background:color(main);
	.cell{
		// width: 350px;
		display: table-cell;
		&__row:not(:last-child){
			margin: 0 0 15px;
		}
	}
	label{
		margin: 0 15px 0 0;
	}
	input[type="checkbox"]{
		vertical-align: middle;
		margin: -3px 5px 0 0;
		height: auto;
	}
}
.recall-check{
	label{
		margin: 0;
	}
}

/*========= ALL_FILTER_POPUP =========*/
.all-filter-content{
	max-width: 1250px;
	width: 100%;
	min-width: 750px;
	.modal-content{
		padding: 45px 0 25px;
	}
}

/*========== ADDRESS_POPUP ==========*/
.address-content{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-width: 768px;
	max-width: 100vw;
	max-height: 100vh;
	transform: translate(0,0) !important;
	.modal-content{
		height: 100%;
		padding: 30px 15px;
	}
}
.form-sort-row{
	margin-bottom: 30px;
}
.address-title{
	font:18px $rubik-bold;
	color: color(main);
	text-transform: uppercase;
	display: table;
	width: 100%;
	margin: 0 0 20px;
	.cell{
		display: table-cell;
		width: 50%;
	}
	.popup-title{
		display: inline-block;
		transform: translate(-50%,0);
	}
}
.city-search{
	i{
		font-size: 23px;
		line-height: 1em;
		margin: 0 5px;
	}
}
.addreses{
	list-style-type: none;
	padding: 0;
	overflow: auto;
	padding: 1px 0;
	border-top: 2px solid #f0f0f0;
	border-bottom: 2px solid #f0f0f0;
	max-height: calc(100vh - 174px);
	margin: 0 -15px 0 0;
	&__item{
		padding: 25px 15px;
		border:2px solid transparent;
		border-bottom: 2px solid #f0f0f0;
		&:last-child{
			border: 0;
		}
		&:hover{
			border-color: color(main);
		}
		.link{
			font-size: 20px;
			a{
				display: inline-block;
				margin: 5px 0 0;
			}
		}
		.reviews{
			display: flex;
			width: 100%;
			justify-content: space-between;
			align-items: flex-end;
			margin: 20px 0;
			.fa-map-marker{
				font-size: 23px;
			}
		}
		.address-text{
			font-size: 16px;
			line-height: 1em;
		}
		.buttons{
			display: flex;
			width: 100%;
			justify-content: space-between;
			margin: 20px 0 0;
			.show-number{
				font-size: 14px;
				color: #a4a4a4;
				i{
					font-size: 20px;
					color: color(main);
				}
			}
			.in-magazine{
				color: #e84c3d;
				text-decoration: underline;
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
}

/*========== REVIEWS_POPUP ==========*/
.review-content{
	width: 750px;
	.modal-content{
		padding: 20px 30px 30px;
	}
	.form-title{
		margin: 0 0 50px;
	}
	.input-group{
		&:not(:first-child){
			.title{
				padding: 10px 0 0;
			}
		}
	}
	.cell{
		vertical-align: top;
		padding: 0 0 10px;
	}
	.table{
		.input-group{
			&:not(:first-child){
				.cell:first-child{
					.title{
						display: inline-block;
						padding: 10px 0 0;
					}
				}
			}
			.cell:first-child{
				width: 20%;
				white-space: nowrap;
			}
		}
	}
	input,
	textarea{
		border-color: color(main);
	}
	textarea{
		border-radius: 20px;
		resize:none;
		height: 150px;
	}
}
.table{
	display: table;
	width: 100%;
	margin: 0;
	.input-group{
		display: table-row;
		.cell{
			display: table-cell;
		}
	}
}
.experiance-holder{
	.title{
		padding: 7px 15px 0 0;
	}
}
.experiance{
	list-style-type: none;
	padding: 0;
	margin: 0;
	&__item{
		display: inline-block;
		input{
			display: none;
			&:checked{
				&+label{
					border-color: color(main);
				}
			}
		}
		label{
			display: inline-block;
			border: 2px solid transparent;
			border-radius: 50px;
			padding: 5px 10px;
			cursor:pointer;
		}
	}
}

/*========== INFO_POPUP ==========*/
.info-popup{
	.title{
		padding: 0 0 10px;
		margin: 0 0 10px;
	}
	.forms-column{
		&__item{
			&:first-child{
				width: 200px;
			}
			&:last-child{
				width: 500px;
			}
		}
	}
	.options{
		padding: 20px 30px 0;
	}
	.checkbox-group{
		.items{
			display: inline-block;
			&:not(:last-child){
				margin: 0 8% 0 0;
			}
			span{
				font-family: $main-bold;
			}
		}
	}
	.complain{
		top: -20px;
		left: 20%;
		width: 210px;
		padding: 10px;
		display: none;
	}
}
.complain{
	position: absolute;
	background: #fff;
	border: 1px solid #b6b7b8;
	&__title{
		margin: 0 0 10px;
	}
	&__radio-group{
		margin: 0 0 15px;
		label{
			&:not(:last-child){
				margin: 0 0 10px;
			}
		}
	}
	&__problem{
		margin:0 0 10px;
		textarea{
			height: 120px !important;
			resize:none;
			border-color: color(main);
			border-radius: 10px;
		}
	}
	&__submit{
		text-align: center;
	}
}