<div class="modal fade" id="address-popup" tabindex="-1" role="dialog">
  <div class="modal-dialog address-content" role="document">
    <div class="modal-content clearfix">
    	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
          <i class="fa fa-times" aria-hidden="true"></i>
        </span>
      </button>
			<div class="address-title">
				<div class="cell">
					<div class="product-title">Siemens KI40FP60</div>
				</div>
				<div class="cell">
					<div class="popup-title">Магазины на карте</div>
				</div>
			</div>
			<div class="row form-sort-row">
				<div class="col-lg-4 col-md-4 col-sm-5 col-xs-5">
					<div class="btn-group sort-btns-group" role="group" aria-label="...">

						<!-- START:.price -->
						<button class="btn">
					  	<span class="caret"></span>
					  	<span>Цена</span>				
						</button>
						<!-- END:.price -->

						<!-- START:.popularity -->
						<button class="btn active">
					  	<span class="caret"></span>
					  	<span>Ближайшие ко мне</span>				
						</button>
						<!-- END:.popularity -->

					</div>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-7 col-xs-7">
					<div class="city-search row">
						<form action="#">
						<div class="col-lg-7 col-md-7 col-sm-6 col-xs-7">
							<input type="text" placeholder="Москва, пр-т Мира"/>							
						</div>
						<div class="col-lg-4 col-md-3 col-sm-3 col-xs-3">
							<input type="text" placeholder="Номер дома"/>
						</div>
						<div class="col-lg-1 col-md-2 col-sm-3 col-xs-2">
							<button class="btn cancel">
								<i class="fa fa-search" aria-hidden="true"></i>
							</button>							
						</div>
						</form>
					</div>
					<div></div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-5 col-xs-5">
					<ul class="addreses">
						<li class="addreses__item">
							<div class="link">
								<a href="#">Evotex</a>
								<button class="btn close-info pull-right">
									<i class="fa fa-minus" aria-hidden="true"></i>
								</button>
							</div>
							<div class="reviews magazines">
								<a href="#">
									<ul class="rev-progress">
										<li class="active"><i class="fa fa-star"></i></li>
										<li class="active"><i class="fa fa-star"></i></li>
										<li class="active"><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
									</ul>					
								</a>
								<a href="#" class="count"><span>5</span> отзывов</a>
								<a href="#" class="count">
									<i class="fa fa-map-marker" aria-hidden="true"></i>
									<span>от 2.8 км</span>
								</a>
							</div>
							<div class="address-text">
								Москва, ул. Новосибирская, 56
							</div>
							<div class="buttons">
								<div class="show-number">
									<span class="show-number">
										<i class="fa fa-phone" aria-hidden="true"></i>
										Показать
									</span>
									<span></span>
								</div>
								<a class="in-magazine" href="#">В магазин</a>
							</div>
						</li>
						<li class="addreses__item">
							<div class="link">
								<a href="#">Evotex</a>
								<button class="btn close-info pull-right">
									<i class="fa fa-minus" aria-hidden="true"></i>
								</button>
							</div>
							<div class="reviews magazines">
								<a href="#">
									<ul class="rev-progress">
										<li class="active"><i class="fa fa-star"></i></li>
										<li class="active"><i class="fa fa-star"></i></li>
										<li class="active"><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
									</ul>					
								</a>
								<a href="#" class="count"><span>5</span> отзывов</a>
								<a href="#" class="count">
									<i class="fa fa-map-marker" aria-hidden="true"></i>
									<span>от 2.8 км</span>
								</a>
							</div>
							<div class="address-text">
								Москва, ул. Новосибирская, 56
							</div>
							<div class="buttons">
								<div class="show-number">
									<span class="show-number">
										<i class="fa fa-phone" aria-hidden="true"></i>
										Показать
									</span>
									<span></span>
								</div>
								<a class="in-magazine" href="#">В магазин</a>
							</div>
						</li>
						<li class="addreses__item">
							<div class="link">
								<a href="#">Evotex</a>
								<button class="btn close-info pull-right">
									<i class="fa fa-minus" aria-hidden="true"></i>
								</button>
							</div>
							<div class="reviews magazines">
								<a href="#">
									<ul class="rev-progress">
										<li class="active"><i class="fa fa-star"></i></li>
										<li class="active"><i class="fa fa-star"></i></li>
										<li class="active"><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
									</ul>					
								</a>
								<a href="#" class="count"><span>5</span> отзывов</a>
								<a href="#" class="count">
									<i class="fa fa-map-marker" aria-hidden="true"></i>
									<span>от 2.8 км</span>
								</a>
							</div>
							<div class="address-text">
								Москва, ул. Новосибирская, 56
							</div>
							<div class="buttons">
								<div class="show-number">
									<span class="show-number">
										<i class="fa fa-phone" aria-hidden="true"></i>
										Показать
									</span>
									<span></span>
								</div>
								<a class="in-magazine" href="#">В магазин</a>
							</div>
						</li>
						<li class="addreses__item">
							<div class="link">
								<a href="#">Evotex</a>
								<button class="btn close-info pull-right">
									<i class="fa fa-minus" aria-hidden="true"></i>
								</button>
							</div>
							<div class="reviews magazines">
								<a href="#">
									<ul class="rev-progress">
										<li class="active"><i class="fa fa-star"></i></li>
										<li class="active"><i class="fa fa-star"></i></li>
										<li class="active"><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
									</ul>					
								</a>
								<a href="#" class="count"><span>5</span> отзывов</a>
								<a href="#" class="count">
									<i class="fa fa-map-marker" aria-hidden="true"></i>
									<span>от 2.8 км</span>
								</a>
							</div>
							<div class="address-text">
								Москва, ул. Новосибирская, 56
							</div>
							<div class="buttons">
								<div class="show-number">
									<span class="show-number">
										<i class="fa fa-phone" aria-hidden="true"></i>
										Показать
									</span>
									<span></span>
								</div>
								<a class="in-magazine" href="#">В магазин</a>
							</div>
						</li>
						<li class="addreses__item">
							<div class="link">
								<a href="#">Evotex</a>
								<button class="btn close-info pull-right">
									<i class="fa fa-minus" aria-hidden="true"></i>
								</button>
							</div>
							<div class="reviews magazines">
								<a href="#">
									<ul class="rev-progress">
										<li class="active"><i class="fa fa-star"></i></li>
										<li class="active"><i class="fa fa-star"></i></li>
										<li class="active"><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
									</ul>					
								</a>
								<a href="#" class="count"><span>5</span> отзывов</a>
								<a href="#" class="count">
									<i class="fa fa-map-marker" aria-hidden="true"></i>
									<span>от 2.8 км</span>
								</a>
							</div>
							<div class="address-text">
								Москва, ул. Новосибирская, 56
							</div>
							<div class="buttons">
								<div class="show-number">
									<span class="show-number">
										<i class="fa fa-phone" aria-hidden="true"></i>
										Показать
									</span>
									<span></span>
								</div>
								<a class="in-magazine" href="#">В магазин</a>
							</div>
						</li>
						<li class="addreses__item">
							<div class="link">
								<a href="#">Evotex</a>
								<button class="btn close-info pull-right">
									<i class="fa fa-minus" aria-hidden="true"></i>
								</button>
							</div>
							<div class="reviews magazines">
								<a href="#">
									<ul class="rev-progress">
										<li class="active"><i class="fa fa-star"></i></li>
										<li class="active"><i class="fa fa-star"></i></li>
										<li class="active"><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
									</ul>					
								</a>
								<a href="#" class="count"><span>5</span> отзывов</a>
								<a href="#" class="count">
									<i class="fa fa-map-marker" aria-hidden="true"></i>
									<span>от 2.8 км</span>
								</a>
							</div>
							<div class="address-text">
								Москва, ул. Новосибирская, 56
							</div>
							<div class="buttons">
								<div class="show-number">
									<span class="show-number">
										<i class="fa fa-phone" aria-hidden="true"></i>
										Показать
									</span>
									<span></span>
								</div>
								<a class="in-magazine" href="#">В магазин</a>
							</div>
						</li>
						<li class="addreses__item">
							<div class="link">
								<a href="#">Evotex</a>
								<button class="btn close-info pull-right">
									<i class="fa fa-minus" aria-hidden="true"></i>
								</button>
							</div>
							<div class="reviews magazines">
								<a href="#">
									<ul class="rev-progress">
										<li class="active"><i class="fa fa-star"></i></li>
										<li class="active"><i class="fa fa-star"></i></li>
										<li class="active"><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
									</ul>					
								</a>
								<a href="#" class="count"><span>5</span> отзывов</a>
								<a href="#" class="count">
									<i class="fa fa-map-marker" aria-hidden="true"></i>
									<span>от 2.8 км</span>
								</a>
							</div>
							<div class="address-text">
								Москва, ул. Новосибирская, 56
							</div>
							<div class="buttons">
								<div class="show-number">
									<span class="show-number">
										<i class="fa fa-phone" aria-hidden="true"></i>
										Показать
									</span>
									<span></span>
								</div>
								<a class="in-magazine" href="#">В магазин</a>
							</div>
						</li>
						<li class="addreses__item">
							<div class="link">
								<a href="#">Evotex</a>
								<button class="btn close-info pull-right">
									<i class="fa fa-minus" aria-hidden="true"></i>
								</button>
							</div>
							<div class="reviews magazines">
								<a href="#">
									<ul class="rev-progress">
										<li class="active"><i class="fa fa-star"></i></li>
										<li class="active"><i class="fa fa-star"></i></li>
										<li class="active"><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
									</ul>					
								</a>
								<a href="#" class="count"><span>5</span> отзывов</a>
								<a href="#" class="count">
									<i class="fa fa-map-marker" aria-hidden="true"></i>
									<span>от 2.8 км</span>
								</a>
							</div>
							<div class="address-text">
								Москва, ул. Новосибирская, 56
							</div>
							<div class="buttons">
								<div class="show-number">
									<span class="show-number">
										<i class="fa fa-phone" aria-hidden="true"></i>
										Показать
									</span>
									<span></span>
								</div>
								<a class="in-magazine" href="#">В магазин</a>
							</div>
						</li>
						<li class="addreses__item">
							<div class="link">
								<a href="#">Evotex</a>
								<button class="btn close-info pull-right">
									<i class="fa fa-minus" aria-hidden="true"></i>
								</button>
							</div>
							<div class="reviews magazines">
								<a href="#">
									<ul class="rev-progress">
										<li class="active"><i class="fa fa-star"></i></li>
										<li class="active"><i class="fa fa-star"></i></li>
										<li class="active"><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
									</ul>					
								</a>
								<a href="#" class="count"><span>5</span> отзывов</a>
								<a href="#" class="count">
									<i class="fa fa-map-marker" aria-hidden="true"></i>
									<span>от 2.8 км</span>
								</a>
							</div>
							<div class="address-text">
								Москва, ул. Новосибирская, 56
							</div>
							<div class="buttons">
								<div class="show-number">
									<span class="show-number">
										<i class="fa fa-phone" aria-hidden="true"></i>
										Показать
									</span>
									<span></span>
								</div>
								<a class="in-magazine" href="#">В магазин</a>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-7 col-xs-7">					
					<div style="overflow: hidden;">
						<img style="height:calc(100vh - 174px);" src="images/map.png" alt="dummy" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>