<div class="modal fade" id="allFilter" tabindex="-1" role="dialog">
  <div class="modal-dialog all-filter-content" role="document">
    <div class="modal-content clearfix">
    	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
          <i class="fa fa-times" aria-hidden="true"></i>
        </span>
      </button>
      <div class="page-title">
				<h1 class="page-title__text">Телевизоры</h1>
			</div>
      //= filters-title.html
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 all-filters__item">
					//= filter-accord-example.html
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 all-filters__item">
					//= filter-accord-example.html
				</div>				
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 all-filters__item">
					//= filter-accord-example.html
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 all-filters__item">
					//= filter-accord-example.html
				</div>				
			</div>
		</div>
	</div>
</div>