<!-- .cabinet-settings-main -->
<form action="#" class="cabinet-settings-main clearfix">
    <!-- .cabinet-settings-main__mainrow -->
    <div class="cabinet-settings-main__mainrow clearfix">
        <!-- .cabinet-settings-userinfo col-lg-2 col-md-2c -->
        <div class="cabinet-settings-userinfo col-lg-3 col-md-3 text-center">
            <div class="cabinet-settings-avatar">
                <img src="images/cabinet/userinfo-img.png" class="cabinet-settings-avatar__img" alt="userinfo-img" />
            </div>
            <input type="file" id="cabinetSettingsAvatar" class="cabinet-settings-userinfo__file" />
            <label for="cabinetSettingsAvatar" class="cabinet-settings-userinfo__label">Выберите файл:</label>
            <!-- .cabinet-settings-userinfo__contacts -->
            <div class="cabinet-settings-userinfo__contacts">
                <a href="tel:+7635436543514224" class="cabinet-settings-userinfo__contact cabinet-settings-userinfo__contact--phone">+7635436543514224</a>
                <a href="mailto:guswvhf@hkacgfb.com" class="cabinet-settings-userinfo__contact cabinet-settings-userinfo__contact--email">guswvhf@hkacgfb.com</a>
            </div>
            <!-- END:.cabinet-settings-userinfo__contacts -->
        </div>
        <!-- END:.cabinet-settings-userinfo col-lg-2 col-md-2c -->
        <!-- .cabinet-settings-fields -->
        <div class="cabinet-settings-fields col-md-8 col-lg-8">
            <!-- .cabinet-settings-fields__main -->
            <fieldset class="cabinet-settings-fields__main">
                <!-- .row -->
                <div class="row">
                    <!-- cabinet-settings-fields-item -->
                    <div class="col-md-4 col-md-offset-1">
                        <!-- .cabinet-settings-fields-item -->
                        <div class="cabinet-settings-fields-item">
                            <label class="cabinet-settings-fields__legend">Фамилия:</label>
                            <input type="text" class="cabinet-settings-fields__field" />
                        </div>
                        <!-- END:.cabinet-settings-fields-item -->
                    </div>
                    <!-- cabinet-settings-fields-item -->
                    <!-- cabinet-settings-fields-item -->
                    <div class="col-md-4 col-md-offset-1">
                        <!-- .cabinet-settings-fields-item -->
                        <div class="cabinet-settings-fields-item">
                            <label class="cabinet-settings-fields__legend">Имя:</label>
                            <input type="text" class="cabinet-settings-fields__field" />
                        </div>
                        <!-- END:.cabinet-settings-fields-item -->
                    </div>
                    <!-- cabinet-settings-fields-item -->
                </div>
                <!-- END:.row -->
                <!-- .row -->
                <div class="row">
                    <!-- cabinet-settings-fields-item -->
                    <div class="col-md-4 col-md-offset-1">
                        <!-- .cabinet-settings-fields-item -->
                        <div class="cabinet-settings-fields-item">
                            <label class="cabinet-settings-fields__legend">Отчество:</label>
                            <input type="text" class="cabinet-settings-fields__field" />
                        </div>
                        <!-- END:.cabinet-settings-fields-item -->
                    </div>
                    <!-- cabinet-settings-fields-item -->
                    <!-- cabinet-settings-fields-item -->
                    <div class="col-md-4 col-md-offset-1">
                        <!-- .cabinet-settings-fields-item -->
                        <div class="cabinet-settings-fields-item">
                            <label class="cabinet-settings-fields__legend">Дата рождения:</label>
                            <input type="text" class="cabinet-settings-fields__field" />
                        </div>
                        <!-- END:.cabinet-settings-fields-item -->
                        <!-- .cabinet-settings-fields-item -->
                        <div class="cabinet-settings-fields-item">
                            <h4>Москва</h4>
                            <button type="button" class="cabinet-settings-fields__city-btn">Выбрать другой город</button>
                        </div>
                        <!-- END:.cabinet-settings-fields-item -->
                    </div>
                    <!-- cabinet-settings-fields-item -->
                </div>
                <!-- END:.row -->
            </fieldset>
            <!-- .cabinet-settings-fields__city -->
        </div>
        <!-- END:.cabinet-settings-fields -->
    </div>
    <!-- END:.cabinet-settings-main__mainrow -->
    <!-- .cabinet-settings-main__mainrow -->
    <div class="cabinet-settings-main__mainrow clearfix">
        <!-- .cabinet-settings-userinfo col-lg-2 col-md-2c -->
        <div class="cabinet-settings-userinfo col-lg-3 col-md-3">
            <h2 class="sidebar-title__text sidebar-title__text--settings-main">смена пароля</h2>
        </div>
        <!-- END:.cabinet-settings-userinfo col-lg-2 col-md-2c -->
        <!-- .cabinet-settings-fields -->
        <div class="cabinet-settings-fields col-md-9 col-lg-9">
            <!-- .cabinet-settings-fields__main -->
            <fieldset class="cabinet-settings-fields__main">
                <!-- .row -->
                <div class="row">
                    <!-- cabinet-settings-fields-item -->
                    <div class="col-md-4 col-md-offset-1">
                        <!-- .cabinet-settings-fields-item -->
                        <div class="cabinet-settings-fields-item">
                            <label class="cabinet-settings-fields__legend">Старый пароль:</label>
                            <input type="password" class="cabinet-settings-fields__field" />
                        </div>
                        <!-- END:.cabinet-settings-fields-item -->
                    </div>
                    <!-- cabinet-settings-fields-item -->
                </div>
                <!-- END:.row -->
                <!-- .row -->
                <div class="row">
                    <!-- cabinet-settings-fields-item -->
                    <div class="col-md-4 col-md-offset-1">
                        <!-- .cabinet-settings-fields-item -->
                        <div class="cabinet-settings-fields-item">
                            <label class="cabinet-settings-fields__legend">Новый пароль:</label>
                            <input type="password" class="cabinet-settings-fields__field" placeholder="Не менее 6 символов" />
                            <!-- .password-safety -->
                            <div class="password-safety pwd pwd-weak clearfix">
                                <!-- .password-safety__indicators -->
                                <ul class="password-safety__indicators pull-left">
                                    <li class="password-safety__indicator"></li>
                                    <li class="password-safety__indicator"></li>
                                    <li class="password-safety__indicator"></li>
                                </ul>
                                <!-- END:.password-safety__indicators -->
                                <!-- .password-safety__status pull-right -->
                                <div class="password-safety__status pull-right">Средний</div>
                                <!-- END:.password-safety__status pull-right -->
                            </div>
                            <!-- END:.password-safety -->
                        </div>
                        <!-- END:.cabinet-settings-fields-item -->
                    </div>
                    <!-- cabinet-settings-fields-item -->
                    <!-- cabinet-settings-fields-item -->
                    <div class="col-md-4 col-md-offset-1">
                        <!-- .cabinet-settings-fields-item -->
                        <div class="cabinet-settings-fields-item cabinet-settings-fields-item--show-password">
                            <input type="checkbox" class="cabinet-settings-fields__field inline" id="showPassword" />
                            <label for="showPassword" class="cabinet-settings-fields__legend inline">Показать пароль</label>
                        </div>
                        <!-- END:.cabinet-settings-fields-item -->
                    </div>
                    <!-- cabinet-settings-fields-item -->
                </div>
                <!-- .row -->
                <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                        <!-- .cabinet-settings-fields-item -->
                        <div class="cabinet-settings-fields-item">
                            <label class="cabinet-settings-fields__legend">Повторите пароль:</label>
                            <input type="password" class="cabinet-settings-fields__field" />
                        </div>
                        <!-- END:.cabinet-settings-fields-item -->
                    </div>
                </div>
                <!-- END:.row -->
                <!-- END:.row -->
            </fieldset>
            <!-- .cabinet-settings-fields__city -->
            <!-- END:.cabinet-settings-fields__main -->
        </div>
        <!-- END:.cabinet-settings-fields -->
    </div>
    <!-- END:.cabinet-settings-main__mainrow -->
    <!-- .cabinet-settings-main__mainrow -->
    <div class="cabinet-settings-userinfo col-lg-3 col-md-3">
        <h2 class="sidebar-title__text sidebar-title__text--settings-main">настройка уведомлений</h2>
        <p class="sidebar-title__text-sub sidebar-title__text-sub--settings-main">Уведомлять меня о новых предложениях продавцов по моему запросу</p>
    </div>
    <div class="cabinet-settings-fields col-md-9 col-lg-9">
        <div class="row">
            <!-- .col-md-4 col-md-offset-1 -->
            <div class="col-md-4 col-md-offset-6">
                <div class="cabinet-settings-fields-item cabinet-settings-fields-item--for">
                    <input type="checkbox" class="cabinet-settings-fields__field inline" id="forEmail">
                    <label for="forEmail" class="cabinet-settings-fields__legend inline">Через E-mail</label>
                </div>
                <div class="cabinet-settings-fields-item cabinet-settings-fields-item--for">
                    <input type="checkbox" class="cabinet-settings-fields__field inline" id="forSms">
                    <label for="forSms" class="cabinet-settings-fields__legend inline">Через SMS</label>
                </div>
                <div class="cabinet-settings-fields-item cabinet-settings-fields-item--for">
                    <input type="checkbox" class="cabinet-settings-fields__field inline" id="forPush">
                    <label for="forPush" class="cabinet-settings-fields__legend inline">Через Push-уведомления</label>
                </div>
            </div>
            <!-- END:.col-md-4 col-md-offset-1 -->
        </div>
    </div>
    <!-- END:.cabinet-settings-main__mainrow -->
    <div class="col-md-10 col-lg-10 cabinet-settings-submit clearfix">
        <input type="submit" value="Сохранить" class="btn submit inline pull-right" />
    </div>
</form>
<!-- END:.cabinet-settings-main -->
