<!-- .cabinet-phystabs -->
<div class="cabinet-phystabs">
    <!-- .container -->
    <div class="container">
        <!-- .row -->
        <div class="row">
            <!-- .cabinet-phystabs-list -->
            <ul class="cabinet-phystabs-list clearfix">
                <li class="checked activeTab personal-data">
                    <a href="#personalData" class="cabinet-phystabs-list__link">
                        <!-- .cabinet-phystabs-list__inner -->
                        <div class="cabinet-phystabs-list__inner">
                            <!-- cabinet-phystabs-list__icon -->
                            <div class="cabinet-phystabs-list__icon">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <svg viewBox="0 0 27.789 17.105">
                                    <use xlink:href="images/cabinet/phystabs/cabinet-tabs.svg#personalData"></use>
                                </svg>
                            </div>
                            <!-- END:cabinet-phystabs-list__icon -->
                            <h4 class="cabinet-phystabs-list__title">Личные данные</h4>
                        </div>
                        <!-- END:.cabinet-phystabs-list__inner -->
                    </a>
                </li>
                <li class=" personal-data">
                    <a href="#contactsData" class="cabinet-phystabs-list__link">
                        <!-- .cabinet-phystabs-list__inner -->
                        <div class="cabinet-phystabs-list__inner">
                            <!-- cabinet-phystabs-list__icon -->
                            <div class="cabinet-phystabs-list__icon">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <svg viewBox="-49 266.521 512 260.958">
                                    <use xlink:href="images/cabinet/phystabs/cabinet-tabs.svg#contactsData"></use>
                                </svg>
                            </div>
                            <!-- END:cabinet-phystabs-list__icon -->
                            <h4 class="cabinet-phystabs-list__title">Контактные данные</h4>
                        </div>
                        <!-- END:.cabinet-phystabs-list__inner -->
                    </a>
                </li>
                <li class=" ">
                    <a href="#professionalData" class="cabinet-phystabs-list__link">
                        <!-- .cabinet-phystabs-list__inner -->
                        <div class="cabinet-phystabs-list__inner">
                            <!-- cabinet-phystabs-list__icon -->
                            <div class="cabinet-phystabs-list__icon">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                 <svg viewBox="0 0 37.602 48">
                                    <use xlink:href="images/cabinet/phystabs/cabinet-tabs.svg#professionalData"></use>
                                </svg>
                            </div>
                            <!-- END:cabinet-phystabs-list__icon -->
                            <h4 class="cabinet-phystabs-list__title">Профессиональные данные</h4>
                        </div>
                        <!-- END:.cabinet-phystabs-list__inner -->
                    </a>
                </li>
                <li class=" ">
                    <a href="#servicesData" class="cabinet-phystabs-list__link">
                        <!-- .cabinet-phystabs-list__inner -->
                        <div class="cabinet-phystabs-list__inner">
                            <!-- cabinet-phystabs-ist__icon -->
                            <div class="cabinet-phystabs-list__icon">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <svg viewBox="-49 141.001 512 511.999">
                                    <use xlink:href="images/cabinet/phystabs/cabinet-tabs.svg#servicesData"></use>
                                </svg>
                            </div>
                            <!-- END:cabinet-phystabs-list__icon -->
                            <h4 class="cabinet-phystabs-list__title">Ваши услуги</h4>
                        </div>
                        <!-- END:.cabinet-phystabs-list__inner -->
                    </a>
                </li>
                <li class=" ">
                    <a href="#portfolioData" class="cabinet-phystabs-list__link">
                        <!-- .cabinet-phystabs-list__inner -->
                        <div class="cabinet-phystabs-list__inner">
                            <!-- cabinet-phystabs-list__icon -->
                            <div class="cabinet-phystabs-list__icon">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <svg viewBox="0 0 48 48">
                                    <use xlink:href="images/cabinet/phystabs/cabinet-tabs.svg#portfolioData"></use>
                            </div>
                            <!-- END:cabinet-phystabs-list__icon -->
                            <h4 class="cabinet-phystabs-list__title">Портфолио</h4>
                        </div>
                        <!-- END:.cabinet-phystabs-list__inner -->
                    </a>
                </li>
                <li class=" ">
                    <a href="#notificationsData" class="cabinet-phystabs-list__link">
                        <!-- .cabinet-phystabs-list__inner -->
                        <div class="cabinet-phystabs-list__inner">
                            <!-- cabinet-phystabs-list__icon -->
                            <div class="cabinet-phystabs-list__icon">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <svg viewBox="-41 149 496 496">
                                    <use xlink:href="images/cabinet/phystabs/cabinet-tabs.svg#notificationsData"></use>
                                </svg>
                            </div>
                            <!-- END:cabinet-phystabs-list__icon -->
                            <h4 class="cabinet-phystabs-list__title">Мои уведомления</h4>
                        </div>
                        <!-- END:.cabinet-phystabs-list__inner -->
                    </a>
                </li>
            </ul>
            <!-- END:.cabinet-phystabs-list -->
        </div>
        <!-- END:.row -->
    </div>
    <!-- END:.container -->
</div>
<!-- END:.cabinet-phystabs -->
