<div class="filter-accordion panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <!-- filter-accordion__item -->
  <div class="filter-accordion__item panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Планшеты (2)
      </a>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
          <!-- .cabinet-category-list -->
          <ul class="cabinet-category-list">
              <li class="cabinet-category-list__item"><a href="#" class="cabinet-category-list__link">Supra stv 685341</a></li>
              <li class="cabinet-category-list__item"><a href="#" class="cabinet-category-list__link">Supra stv 685341</a></li>
          </ul>
          <!-- END:.cabinet-category-list -->
      </div>
    </div>
  </div>
  <!-- filter-accordion__item -->
  <!-- filter-accordion__item -->
  <div class="filter-accordion__item panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <a role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Мобильные телефоны (4)
      </a>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
          <!-- .cabinet-category-list -->
          <ul class="cabinet-category-list">
              <li class="cabinet-category-list__item"><a href="#" class="cabinet-category-list__link">Мобильный телефон</a></li>
              <li class="cabinet-category-list__item"><a href="#" class="cabinet-category-list__link">Мобильный телефон</a></li>
          </ul>
          <!-- END:.cabinet-category-list -->
      </div>
    </div>
  </div>
  <!-- filter-accordion__item -->
</div>