<aside class="cabinet-aside-settings">
	<!-- .cabinet-sidebar -->
	<div class="cabinet-sidebar">
		<!-- .cabinet-settings-list -->
		<ul class="cabinet-settings-list">
			<li class="cabinet-settings-list__item"><a href="#" class="cabinet-settings-list__link">Персональные данные<span class="corner"></span></a></li>
			<li class="cabinet-settings-list__item"><a href="#" class="cabinet-settings-list__link">Изменение пароля<span class="corner"></span></a></li>
			<li class="cabinet-settings-list__item"><a href="#" class="cabinet-settings-list__link">Уведомления<span class="corner"></span></a></li>
		</ul>
		<!-- END:.cabinet-settings-list -->
	</div>
	<!-- END:.cabinet-sidebar -->
</aside>