<div class="catalog-items horizontal">
    <div class="row">
        <div class="catalog-items__item col-lg-3 col-md-3 col-sm-4 col-xs-4" style="height: auto;">
            <div class="item-info">
                <div class="center-column">
                    <!-- START:.ITEM_TITLE -->
                    <div class="item-info__title">
                        <div class="title">
                            <h2 class="title__text">
													<span class="brand">Supra</span>
													<span class="model">stv-lc16500wl</span>
												</h2>
                        </div>
                    </div>
                    <!-- END:.ITEM_TITLE -->
                    <!-- START:.OPTIONS -->
                    <div class="item-info__options">
                        <div class="btn-group item-btn-group" role="group">
                            <a class="btn tooltipBtn" data-placement="top" title="" data-original-title="Избранное">
                                <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                            </a>
                            <a class="btn tooltipBtn" data-placement="top" title="" data-original-title="Сравнение">
                                <i class="fa fa-balance-scale" aria-hidden="true"></i>
                            </a>
                            <a class="btn info-btn">
                                <span class="info infoBtn">
											  		<i class="fa fa-info" aria-hidden="true"></i>
											  	</span>
                            </a>
                        </div>
                    </div>
                    <!-- END:.OPTIONS -->
                    <!-- START:.ITEM_INFORMATION -->
                    <div class="item-info__info" style="display: none;">
                        <div class="text-holder">
                            <div class="info-row">
                                <span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
                            </div>
                            <div class="info-row">
                                <span>Диагональ: </span><span>32" (81 см)</span>
                            </div>
                            <div class="info-row">
                                <span>Разрешение: </span><span>HDMI x2, USB</span>
                            </div>
                            <div class="info-row">
                                <span>Тип подсветки: </span><span>Edge LED</span>
                            </div>
                            <div class="info-row">
                                <span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
                            </div>
                            <div class="info-row">
                                <span>Диагональ: </span><span>32" (81 см)</span>
                            </div>
                            <div class="info-row">
                                <span>Разрешение: </span><span>HDMI x2, USB</span>
                            </div>
                            <div class="info-row">
                                <span>Тип подсветки: </span><span>Edge LED</span>
                            </div>
                            <div class="info-row">
                                <span>Тип подсветки: </span><span>Edge LED</span>
                            </div>
                            <div class="info-row">
                                <span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
                            </div>
                            <div class="info-row">
                                <span>Диагональ: </span><span>32" (81 см)</span>
                            </div>
                            <div class="info-row">
                                <span>Разрешение: </span><span>HDMI x2, USB</span>
                            </div>
                            <div class="info-row">
                                <span>Тип подсветки: </span><span>Edge LED</span>
                            </div>
                            <div class="info-row">
                                <span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
                            </div>
                            <div class="info-row">
                                <span>Диагональ: </span><span>32" (81 см)</span>
                            </div>
                            <div class="info-row">
                                <span>Разрешение: </span><span>HDMI x2, USB</span>
                            </div>
                            <div class="info-row">
                                <span>Тип подсветки: </span><span>Edge LED</span>
                            </div>
                            <div class="info-row">
                                <span>Тип подсветки: </span><span>Edge LED</span>
                            </div>
                            <div class="info-row">
                                <span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
                            </div>
                            <div class="info-row">
                                <span>Диагональ: </span><span>32" (81 см)</span>
                            </div>
                            <div class="info-row">
                                <span>Разрешение: </span><span>HDMI x2, USB</span>
                            </div>
                            <div class="info-row">
                                <span>Тип подсветки: </span><span>Edge LED</span>
                            </div>
                            <div class="info-row">
                                <span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
                            </div>
                            <div class="info-row">
                                <span>Диагональ: </span><span>32" (81 см)</span>
                            </div>
                            <div class="info-row">
                                <span>Разрешение: </span><span>HDMI x2, USB</span>
                            </div>
                            <div class="info-row">
                                <span>Тип подсветки: </span><span>Edge LED</span>
                            </div>
                            <div class="info-row">
                                <span>Тип подсветки: </span><span>Edge LED</span>
                            </div>
                            <div class="info-row">
                                <span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
                            </div>
                            <div class="info-row">
                                <span>Диагональ: </span><span>32" (81 см)</span>
                            </div>
                            <div class="info-row">
                                <span>Разрешение: </span><span>HDMI x2, USB</span>
                            </div>
                            <div class="info-row">
                                <span>Тип подсветки: </span><span>Edge LED</span>
                            </div>
                            <div class="info-row">
                                <span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
                            </div>
                            <div class="info-row">
                                <span>Диагональ: </span><span>32" (81 см)</span>
                            </div>
                            <div class="info-row">
                                <span>Разрешение: </span><span>HDMI x2, USB</span>
                            </div>
                            <div class="info-row">
                                <span>Тип подсветки: </span><span>Edge LED</span>
                            </div>
                            <div class="info-row">
                                <span>Тип подсветки: </span><span>Edge LED</span>
                            </div>
                        </div>
                        <div class="info-row">
                            <a href="#">Все характеристики</a>
                        </div>
                    </div>
                    <!-- END:.ITEM_INFORMATION -->
                </div>
                <div class="left-column">
                    <!-- START:.ITEM_IMAGE -->
                    <div class="item-info__view">
                        <div class="img-holder">
                            <img src="images/item.png" alt="images">
                        </div>
                    </div>
                    <!-- END:.ITEM_IMAGE -->
                </div>
                <div class="right-column">
                    <!-- START:.ITEM_REVIEWS -->
                    <div class="item-info__reviews">
                        <div class="reviews">
                            <ul class="rev-progress">
                                <li class="active"><i class="fa fa-star"></i></li>
                                <li class="active"><i class="fa fa-star"></i></li>
                                <li class="active"><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <a href="#" class="count"><span>5</span> отзывов</a>
                        </div>
                    </div>
                    <!-- END:.ITEM_REVIEWS -->
                    <!-- START:.ITEM_PRICE -->
                    <div class="item-info__price">
                        <h2>от 5 250 <i class="fa fa-rub" aria-hidden="true"></i></h2>
                    </div>
                    <!-- END:.ITEM_PRICE -->
                    <!-- START:.BUY_BUTTONS -->
                    <div class="item-info__buttons">
                        <div class="top">
                            <a class="cheap" data-toggle="modal" data-target="#cheap-item">Магазины на карте</a>
                        </div>
                        <div class="bottom clearfix">
                            <a class="magazines" href="#">Повторить запрос</a>
                        </div>
                    </div>
                    <!-- END:.BUY_BUTTONS -->
                </div>
            </div>
        </div>
    </div>
</div>
