<div class="catalog-items tiles row compare-slider itemsSliderFour cabinet-offers-slider"> <!-- itemsSliderSix - инициирует слайдер на 4 айтема -->
	<!-- catalog-items__item -->
	<div class="catalog-items__item col-sm-6 col-md-4 col-lg-3 active" data-table-hover="cabinetOffer1">
		<div class="item-info">
	<div class="center-column">

		<!-- START:.ITEM_TITLE -->
		<div class="item-info__title">
			<div class="title">
				<h3 class="title__text">
					<span class="brand">Supra</span>
					<span class="model">stv-lc16500wl</span>
				</h3>
			</div>
		</div>					
		<!-- END:.ITEM_TITLE -->

		<!-- START:.OPTIONS -->
		<div class="item-info__options">
			<button class="delete tooltipBtn" data-placement="top" data-original-title="Отменить">
				<i class="fa fa-times-circle-o" aria-hidden="true"></i>
			</button>
			<button class="retweet tooltipBtn" data-placement="top" data-original-title="Повторить">
				<i class="fa fa-retweet" aria-hidden="true"></i>
			</button>				
		</div>					
		<!-- END:.OPTIONS -->

		<!-- START:.ITEM_INFORMATION -->
		<div class="item-info__info">
			<div class="text-holder">
				<div class="info-row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
			</div>
			<div class="info-row">
				<a href="#">Все характеристики</a>
			</div>
		</div>					
		<!-- END:.ITEM_INFORMATION -->

	</div>

	<div class="left-column">

		<!-- START:.ITEM_IMAGE -->
		<div class="item-info__view">
			<div class="img-holder">
						<img src="images/item.png" alt="images" />
			</div>
		</div>					
		<!-- END:.ITEM_IMAGE -->

	</div>


	<div class="right-column">

		<!-- START:.ITEM_REVIEWS -->
		<div class="item-info__reviews">
			<div class="reviews">
				<ul class="rev-progress">
					<li class="active"><i class="fa fa-star"></i></li>
					<li class="active"><i class="fa fa-star"></i></li>
					<li class="active"><i class="fa fa-star"></i></li>
					<li><i class="fa fa-star"></i></li>
					<li><i class="fa fa-star"></i></li>
				</ul>
				<a href="#" class="count"><span>5</span> отзывов</a>
			</div>
		</div>					
		<!-- END:.ITEM_REVIEWS -->

		<!-- START:.ITEM_PRICE -->
		<div class="item-info__price">
			<h2>от 5 250 <i class="fa fa-rub" aria-hidden="true"></i></h2>
		</div>					
		<!-- END:.ITEM_PRICE -->

		<!-- START:.BUY_BUTTONS
		<div class="item-info__buttons">
			<div class="bottom clearfix">
				<a href="#">Техносила</a>
			</div>
		</div>					
		END:.BUY_BUTTONS -->

	</div>
</div>
	</div>
	<!-- END:catalog-items__item -->
	<!-- catalog-items__item -->
	<div class="catalog-items__item col-sm-6 col-md-4 col-lg-3 default" data-table-hover="cabinetOffer2">
		<div class="item-info">
	<div class="center-column">

		<!-- START:.ITEM_TITLE -->
		<div class="item-info__title">
			<div class="title">
				<h3 class="title__text">
					<span class="brand">Supra</span>
					<span class="model">stv-lc16500wl</span>
				</h3>
			</div>
		</div>					
		<!-- END:.ITEM_TITLE -->

		<!-- START:.OPTIONS -->
		<div class="item-info__options">
			<button class="delete tooltipBtn" data-placement="top" data-original-title="Отменить">
				<i class="fa fa-times-circle-o" aria-hidden="true"></i>
			</button>
			<button class="retweet tooltipBtn" data-placement="top" data-original-title="Повторить">
				<i class="fa fa-retweet" aria-hidden="true"></i>
			</button>				
		</div>					
		<!-- END:.OPTIONS -->

		<!-- START:.ITEM_INFORMATION -->
		<div class="item-info__info">
			<div class="text-holder">
				<div class="info-row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
			</div>
			<div class="info-row">
				<a href="#">Все характеристики</a>
			</div>
		</div>					
		<!-- END:.ITEM_INFORMATION -->

	</div>

	<div class="left-column">

		<!-- START:.ITEM_IMAGE -->
		<div class="item-info__view">
			<div class="img-holder">
						<img src="images/item.png" alt="images" />
			</div>
		</div>					
		<!-- END:.ITEM_IMAGE -->

	</div>


	<div class="right-column">

		<!-- START:.ITEM_REVIEWS -->
		<div class="item-info__reviews">
			<div class="reviews">
				<ul class="rev-progress">
					<li class="active"><i class="fa fa-star"></i></li>
					<li class="active"><i class="fa fa-star"></i></li>
					<li class="active"><i class="fa fa-star"></i></li>
					<li><i class="fa fa-star"></i></li>
					<li><i class="fa fa-star"></i></li>
				</ul>
				<a href="#" class="count"><span>5</span> отзывов</a>
			</div>
		</div>					
		<!-- END:.ITEM_REVIEWS -->

		<!-- START:.ITEM_PRICE -->
		<div class="item-info__price">
			<h2>от 5 250 <i class="fa fa-rub" aria-hidden="true"></i></h2>
		</div>					
		<!-- END:.ITEM_PRICE -->

		<!-- START:.BUY_BUTTONS
		<div class="item-info__buttons">
			<div class="bottom clearfix">
				<a href="#">Техносила</a>
			</div>
		</div>					
		END:.BUY_BUTTONS -->

	</div>
</div>
	</div>
	<!-- END:catalog-items__item -->
	<!-- catalog-items__item -->
	<div class="catalog-items__item col-sm-6 col-md-4 col-lg-3 default">
		<div class="item-info">
	<div class="center-column">

		<!-- START:.ITEM_TITLE -->
		<div class="item-info__title">
			<div class="title">
				<h3 class="title__text">
					<span class="brand">Supra</span>
					<span class="model">stv-lc16500wl</span>
				</h3>
			</div>
		</div>					
		<!-- END:.ITEM_TITLE -->

		<!-- START:.OPTIONS -->
		<div class="item-info__options">
			<button class="delete tooltipBtn" data-placement="top" data-original-title="Отменить">
				<i class="fa fa-times-circle-o" aria-hidden="true"></i>
			</button>
			<button class="retweet tooltipBtn" data-placement="top" data-original-title="Повторить">
				<i class="fa fa-retweet" aria-hidden="true"></i>
			</button>				
		</div>					
		<!-- END:.OPTIONS -->

		<!-- START:.ITEM_INFORMATION -->
		<div class="item-info__info">
			<div class="text-holder">
				<div class="info-row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
			</div>
			<div class="info-row">
				<a href="#">Все характеристики</a>
			</div>
		</div>					
		<!-- END:.ITEM_INFORMATION -->

	</div>

	<div class="left-column">

		<!-- START:.ITEM_IMAGE -->
		<div class="item-info__view">
			<div class="img-holder">
						<img src="images/item.png" alt="images" />
			</div>
		</div>					
		<!-- END:.ITEM_IMAGE -->

	</div>


	<div class="right-column">

		<!-- START:.ITEM_REVIEWS -->
		<div class="item-info__reviews">
			<div class="reviews">
				<ul class="rev-progress">
					<li class="active"><i class="fa fa-star"></i></li>
					<li class="active"><i class="fa fa-star"></i></li>
					<li class="active"><i class="fa fa-star"></i></li>
					<li><i class="fa fa-star"></i></li>
					<li><i class="fa fa-star"></i></li>
				</ul>
				<a href="#" class="count"><span>5</span> отзывов</a>
			</div>
		</div>					
		<!-- END:.ITEM_REVIEWS -->

		<!-- START:.ITEM_PRICE -->
		<div class="item-info__price">
			<h2>от 5 250 <i class="fa fa-rub" aria-hidden="true"></i></h2>
		</div>					
		<!-- END:.ITEM_PRICE -->

		<!-- START:.BUY_BUTTONS
		<div class="item-info__buttons">
			<div class="bottom clearfix">
				<a href="#">Техносила</a>
			</div>
		</div>					
		END:.BUY_BUTTONS -->

	</div>
</div>
	</div>
	<!-- END:catalog-items__item -->
	<!-- catalog-items__item -->
	<div class="catalog-items__item col-sm-6 col-md-4 col-lg-3 default">
		<div class="item-info">
	<div class="center-column">

		<!-- START:.ITEM_TITLE -->
		<div class="item-info__title">
			<div class="title">
				<h3 class="title__text">
					<span class="brand">Supra</span>
					<span class="model">stv-lc16500wl</span>
				</h3>
			</div>
		</div>					
		<!-- END:.ITEM_TITLE -->

		<!-- START:.OPTIONS -->
		<div class="item-info__options">
			<button class="delete tooltipBtn" data-placement="top" data-original-title="Отменить">
				<i class="fa fa-times-circle-o" aria-hidden="true"></i>
			</button>
			<button class="retweet tooltipBtn" data-placement="top" data-original-title="Повторить">
				<i class="fa fa-retweet" aria-hidden="true"></i>
			</button>				
		</div>					
		<!-- END:.OPTIONS -->

		<!-- START:.ITEM_INFORMATION -->
		<div class="item-info__info">
			<div class="text-holder">
				<div class="info-row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
			</div>
			<div class="info-row">
				<a href="#">Все характеристики</a>
			</div>
		</div>					
		<!-- END:.ITEM_INFORMATION -->

	</div>

	<div class="left-column">

		<!-- START:.ITEM_IMAGE -->
		<div class="item-info__view">
			<div class="img-holder">
						<img src="images/item.png" alt="images" />
			</div>
		</div>					
		<!-- END:.ITEM_IMAGE -->

	</div>


	<div class="right-column">

		<!-- START:.ITEM_REVIEWS -->
		<div class="item-info__reviews">
			<div class="reviews">
				<ul class="rev-progress">
					<li class="active"><i class="fa fa-star"></i></li>
					<li class="active"><i class="fa fa-star"></i></li>
					<li class="active"><i class="fa fa-star"></i></li>
					<li><i class="fa fa-star"></i></li>
					<li><i class="fa fa-star"></i></li>
				</ul>
				<a href="#" class="count"><span>5</span> отзывов</a>
			</div>
		</div>					
		<!-- END:.ITEM_REVIEWS -->

		<!-- START:.ITEM_PRICE -->
		<div class="item-info__price">
			<h2>от 5 250 <i class="fa fa-rub" aria-hidden="true"></i></h2>
		</div>					
		<!-- END:.ITEM_PRICE -->

		<!-- START:.BUY_BUTTONS
		<div class="item-info__buttons">
			<div class="bottom clearfix">
				<a href="#">Техносила</a>
			</div>
		</div>					
		END:.BUY_BUTTONS -->

	</div>
</div>
	</div>
	<!-- END:catalog-items__item -->
	<!-- catalog-items__item -->
	<div class="catalog-items__item col-sm-6 col-md-4 col-lg-3 active" data-table-hover="cabinetOffer1">
		<div class="item-info">
	<div class="center-column">

		<!-- START:.ITEM_TITLE -->
		<div class="item-info__title">
			<div class="title">
				<h3 class="title__text">
					<span class="brand">Supra</span>
					<span class="model">stv-lc16500wl</span>
				</h3>
			</div>
		</div>					
		<!-- END:.ITEM_TITLE -->

		<!-- START:.OPTIONS -->
		<div class="item-info__options">
			<button class="delete tooltipBtn" data-placement="top" data-original-title="Отменить">
				<i class="fa fa-times-circle-o" aria-hidden="true"></i>
			</button>
			<button class="retweet tooltipBtn" data-placement="top" data-original-title="Повторить">
				<i class="fa fa-retweet" aria-hidden="true"></i>
			</button>				
		</div>					
		<!-- END:.OPTIONS -->

		<!-- START:.ITEM_INFORMATION -->
		<div class="item-info__info">
			<div class="text-holder">
				<div class="info-row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
			</div>
			<div class="info-row">
				<a href="#">Все характеристики</a>
			</div>
		</div>					
		<!-- END:.ITEM_INFORMATION -->

	</div>

	<div class="left-column">

		<!-- START:.ITEM_IMAGE -->
		<div class="item-info__view">
			<div class="img-holder">
						<img src="images/item.png" alt="images" />
			</div>
		</div>					
		<!-- END:.ITEM_IMAGE -->

	</div>


	<div class="right-column">

		<!-- START:.ITEM_REVIEWS -->
		<div class="item-info__reviews">
			<div class="reviews">
				<ul class="rev-progress">
					<li class="active"><i class="fa fa-star"></i></li>
					<li class="active"><i class="fa fa-star"></i></li>
					<li class="active"><i class="fa fa-star"></i></li>
					<li><i class="fa fa-star"></i></li>
					<li><i class="fa fa-star"></i></li>
				</ul>
				<a href="#" class="count"><span>5</span> отзывов</a>
			</div>
		</div>					
		<!-- END:.ITEM_REVIEWS -->

		<!-- START:.ITEM_PRICE -->
		<div class="item-info__price">
			<h2>от 5 250 <i class="fa fa-rub" aria-hidden="true"></i></h2>
		</div>					
		<!-- END:.ITEM_PRICE -->

		<!-- START:.BUY_BUTTONS
		<div class="item-info__buttons">
			<div class="bottom clearfix">
				<a href="#">Техносила</a>
			</div>
		</div>					
		END:.BUY_BUTTONS -->

	</div>
</div>
	</div>
	<!-- END:catalog-items__item -->
</div>