<div class="cart-reviews">
	<div class="reviews-wrapper">
		<div class="cart-reviews__review cart-reviews__review--cabinet-questions clearfix">
			<!-- .cabinet-question-heading -->
			<div class="cabinet-question-heading">
				<span class="cabinet-question-heading__date">8.11.2016.</span>
				<span class="cabinet-question-heading__title">Купил комплект из Magic Keyboard и Magic Mouse 2. Хост - обычный PC c Windows 7 x64. По инструкции с iPhones,ru установил Boot Camp 3.0, обновился до 3.1, обновление до 3.2 и 3.3 отправляет систему в синий экран. ? 1</span>
			</div>
			<!-- END:.cabinet-question-heading -->
			<!-- .row -->
			<div class="row">
				<div class="col-lg-1 col-md-1 col-sm-7 col-xs-7">
					<h2 class="sidebar-title__text sidebar-title__text--cabinet-questions">Ответы:</h2>
				</div>
				<div class="col-lg-11 col-md-7 col-sm-7 col-xs-7">
					<div class="user-info">
						<span class="user-info__name"><span>Александр Иванов</span>,</span>
						<span class="user-info__date">18.11.2016</span>,
						<span class="user-info__city">Калининград</span>
					</div>
					<!-- .comment-text -->
					<div class="comment-text">
						<p>Купил комплект из Magic Keyboard и Magic Mouse 2. Хост - обычный PC c Windows 7 x64. По инструкции с iPhones,ru установил Boot Camp 3.0, обновился до 3.1, обновление до 3.2 и 3.3 отправляет систему в синий экран.</p>
						<p>Попробовал поставить отдельно драйвера клавиатуры из Boot Camp 6.0 - не помогло, клавиша FN все равно не работает, а с ней и Delete (FN+Backspace).</p>
						<p>Более того, поскольку платформа НЕ Mac - не запускается контрольная панель Boot Camp чтобы переназначить функциональные клавиши.</p>
						<p>Пока приходится мучаться с двумя клавиатурами, одна чтобы войти в систему, другая чтобы работать. Разочарован.</p>
					</div>
					<!-- END:.comment-text -->
					<div class="answer clearfix">
						<a href="#" class="answer__to-chat pull-right">Перейти в чат</a>
						<button class="answerFormOpen pull-right">Уточнить</button>
					</div>
					<div class="message"></div>
				</div>
			</div>
			<!-- END:.row -->
		</div>
		<div class="cart-reviews__review cart-reviews__review--cabinet-questions clearfix">
			<!-- .cabinet-question-heading -->
			<div class="cabinet-question-heading">
				<span class="cabinet-question-heading__date">8.11.2016.</span>
				<span class="cabinet-question-heading__title">Купил комплект из Magic Keyboard и Magic Mouse 2. Хост - обычный PC c Windows 7 x64. По инструкции с iPhones,ru установил Boot Camp 3.0, обновился до 3.1, обновление до 3.2 и 3.3 отправляет систему в синий экран. ? 1</span>
			</div>
			<!-- END:.cabinet-question-heading -->
			<!-- .row -->
			<div class="row">
				<div class="col-lg-1 col-md-1 col-sm-7 col-xs-7">
					<h2 class="sidebar-title__text sidebar-title__text--cabinet-questions">Ответы:</h2>
				</div>
				<div class="col-lg-11 col-md-7 col-sm-7 col-xs-7">
					<div class="user-info">
						<span class="user-info__name"><span>Александр Иванов</span>,</span>
						<span class="user-info__date">18.11.2016</span>,
						<span class="user-info__city">Калининград</span>
					</div>
					<p>Купил комплект из Magic Keyboard и Magic Mouse 2. Хост - обычный PC c Windows 7 x64. По инструкции с iPhones,ru установил Boot Camp 3.0, обновился до 3.1, обновление до 3.2 и 3.3 отправляет систему в синий экран.</p>
					<p>Попробовал поставить отдельно драйвера клавиатуры из Boot Camp 6.0 - не помогло, клавиша FN все равно не работает, а с ней и Delete (FN+Backspace).</p>
					<p>Более того, поскольку платформа НЕ Mac - не запускается контрольная панель Boot Camp чтобы переназначить функциональные клавиши.</p>
					<p>Пока приходится мучаться с двумя клавиатурами, одна чтобы войти в систему, другая чтобы работать. Разочарован.</p>
				</div>
			</div>
			<!-- END:.row -->
		</div>
	</div>

	<div class="cart-reviews__btn clearfix">
		<div class="btn cancel">Показать еще</div>
	</div>
</div>