<div class="cart-reviews cabinet-testimonials">

	<div class="reviews-wrapper">
		<div class="cart-reviews__review clearfix">
			<div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
				<div class="user-info user-info--avatar">
					<div class="user-info__avatar">
						<img src="images/cabinet/techno-force.png" alt="images" />
					</div>
					<div class="user-info__name">"Техносила"</div>
					<div class="user-info__post-status">
						<span>Отзыв опубликован</span>
					</div>
					<div class="user-info__date">
						18.11.2016
					</div>
				</div>
			</div>
			<div class="col-lg-8 col-md-7 col-sm-7 col-xs-7">
				<div class="review-info-wrapper">
					<div class="review-row">
						<div class="review-row__title">Плюсы:</div>
						<div class="review-row__text">
							<p>Легкий, удобный, быстрый, не глючит.</p>
						</div>
					</div>
					<div class="review-row">
						<div class="review-row__title">Минусы:</div>
						<div class="review-row__text">
							<p>Мало памяти, придется покупать диск, нужно привыкать к управлению</p>
						</div>
					</div>
					<div class="review-row">
						<div class="review-row__title">Комментарий:</div>
						<div class="review-row__text">
							<p>Купил комплект из Magic Keyboard и Magic Mouse 2. Хост - обычный PC c Windows 7 x64. По инструкции с iPhones,ru установил Boot Camp 3.0, обновился до 3.1, обновление до 3.2 и 3.3 отправляет систему в синий экран.</p>
							<p>Попробовал поставить отдельно драйвера клавиатуры из Boot Camp 6.0 - не помогло, клавиша FN все равно не работает, а с ней и Delete (FN+Backspace).</p>
						</div>
					</div>
					<!-- .review-row review-row__footer -->
					<div class="review-row review-row--footer">
						<a href="#" class="review-row__footer-btn review-row__footer-btn--chat">Переписка с магазином</a>
						<a href="#" class="review-row__footer-btn review-row__footer-btn--review">Отзыв о магазине</a>
					</div>
					<!-- END:.review-row review-row__footer -->
				</div>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<div class="like-btn">
					<a href="#" class="like-btn__like">
						<span class="icon icon-happy"></span>
						<span class="count">12</span>
					</a>
					<a href="#" class="like-btn__dizlike">
						<span class="icon icon-sad"></span>
						<span class="count">1</span>
					</a>
				</div>
			</div>
		</div>
		<div class="cart-reviews__review clearfix">
			<div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
				<div class="user-info user-info--avatar">
					<div class="user-info__avatar">
						<img src="images/cabinet/techno-force.png" alt="images" />
					</div>
					<div class="user-info__name">"Техносила"</div>
					<div class="user-info__post-status">
						<span>Отзыв опубликован</span>
					</div>
					<div class="user-info__date">
						18.11.2016
					</div>
				</div>
			</div>
			<div class="col-lg-8 col-md-7 col-sm-7 col-xs-7">
				<div class="review-info-wrapper">
					<div class="review-row">
						<div class="review-row__title">Плюсы:</div>
						<div class="review-row__text">
							<p>Легкий, удобный, быстрый, не глючит.</p>
						</div>
					</div>
					<div class="review-row">
						<div class="review-row__title">Минусы:</div>
						<div class="review-row__text">
							<p>Мало памяти, придется покупать диск, нужно привыкать к управлению</p>
						</div>
					</div>
					<div class="review-row">
						<div class="review-row__title">Комментарий:</div>
						<div class="review-row__text">
							<p>Купил комплект из Magic Keyboard и Magic Mouse 2. Хост - обычный PC c Windows 7 x64. По инструкции с iPhones,ru установил Boot Camp 3.0, обновился до 3.1, обновление до 3.2 и 3.3 отправляет систему в синий экран.</p>
							<p>Попробовал поставить отдельно драйвера клавиатуры из Boot Camp 6.0 - не помогло, клавиша FN все равно не работает, а с ней и Delete (FN+Backspace).</p>
						</div>
					</div>
					<!-- .review-row review-row__footer -->
					<div class="review-row review-row--footer">
						<a href="#" class="review-row__footer-btn review-row__footer-btn--chat">Переписка с магазином</a>
						<a href="#" class="review-row__footer-btn review-row__footer-btn--review">Отзыв о магазине</a>
					</div>
					<!-- END:.review-row review-row__footer -->
				</div>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<div class="like-btn">
					<a href="#" class="like-btn__like">
						<span class="icon icon-happy"></span>
						<span class="count">12</span>
					</a>
					<a href="#" class="like-btn__dizlike">
						<span class="icon icon-sad"></span>
						<span class="count">1</span>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="cart-reviews__btn clearfix">
		<button class="btn cancel">Показать еще</button>
	</div>
</div>