<!-- START:.catalog-sidebar -->
<aside>
	<div class="catalog-sidebar">
			<!-- START:.sidebar-title -->
			<div class="sidebar-title claerfix">
				<h2 class="sidebar-title__text">Предложения: 4</h2>
			</div>
			<!-- END:.sidebar-title -->

			<!-- START:.filter-accordion -->
			//= cabinet-filter-accord.html
			<!-- END:.filter-accordion -->
	</div>	
</aside>
<!-- END:.catalog-sidebar -->