<div class="cart-reviews">
	<div class="reviews-wrapper">
		<div class="cart-reviews__review clearfix">
			<div class="col-lg-9 col-md-7 col-sm-7 col-xs-7">
				<div class="user-info">
					<span class="user-info__name"><span>Александр Иванов</span>,</span>
					<span class="user-info__date">18.11.2016</span>,
					<span class="user-info__city">Калининград</span>
				</div>
				<p>Купил комплект из Magic Keyboard и Magic Mouse 2. Хост - обычный PC c Windows 7 x64. По инструкции с iPhones,ru установил Boot Camp 3.0, обновился до 3.1, обновление до 3.2 и 3.3 отправляет систему в синий экран.</p>
				<p>Попробовал поставить отдельно драйвера клавиатуры из Boot Camp 6.0 - не помогло, клавиша FN все равно не работает, а с ней и Delete (FN+Backspace).</p>
				<p>Более того, поскольку платформа НЕ Mac - не запускается контрольная панель Boot Camp чтобы переназначить функциональные клавиши.</p>
				<p>Пока приходится мучаться с двумя клавиатурами, одна чтобы войти в систему, другая чтобы работать. Разочарован.</p>
			</div>
			<div class="col-lg-3 text-right col-md-3 col-sm-3 col-xs-3">
				<span class="cabinet-review-status cabinet-review-status--published">Опубликован</span>
			</div>
		</div>
		<div class="cart-reviews__review clearfix">
			<div class="col-lg-9 col-md-7 col-sm-7 col-xs-7">
				<div class="user-info">
					<span class="user-info__name"><span>Александр Иванов</span>,</span>
					<span class="user-info__date">18.11.2016</span>,
					<span class="user-info__city">Калининград</span>
				</div>
				<p>Купил комплект из Magic Keyboard и Magic Mouse 2. Хост - обычный PC c Windows 7 x64. По инструкции с iPhones,ru установил Boot Camp 3.0, обновился до 3.1, обновление до 3.2 и 3.3 отправляет систему в синий экран.</p>
				<p>Попробовал поставить отдельно драйвера клавиатуры из Boot Camp 6.0 - не помогло, клавиша FN все равно не работает, а с ней и Delete (FN+Backspace).</p>
				<p>Более того, поскольку платформа НЕ Mac - не запускается контрольная панель Boot Camp чтобы переназначить функциональные клавиши.</p>
				<p>Пока приходится мучаться с двумя клавиатурами, одна чтобы войти в систему, другая чтобы работать. Разочарован.</p>
			</div>
			<div class="col-lg-3 text-right col-md-3 col-sm-3 col-xs-3">
				<span class="cabinet-review-status cabinet-review-status--rejected">Отклонен</span>
			</div>
		</div>
		<div class="cart-reviews__review clearfix">
			<div class="col-lg-9 col-md-7 col-sm-7 col-xs-7">
				<div class="user-info">
					<span class="user-info__name"><span>Александр Иванов</span>,</span>
					<span class="user-info__date">18.11.2016</span>,
					<span class="user-info__city">Калининград</span>
				</div>
				<p>Купил комплект из Magic Keyboard и Magic Mouse 2. Хост - обычный PC c Windows 7 x64. По инструкции с iPhones,ru установил Boot Camp 3.0, обновился до 3.1, обновление до 3.2 и 3.3 отправляет систему в синий экран.</p>
				<p>Попробовал поставить отдельно драйвера клавиатуры из Boot Camp 6.0 - не помогло, клавиша FN все равно не работает, а с ней и Delete (FN+Backspace).</p>
				<p>Более того, поскольку платформа НЕ Mac - не запускается контрольная панель Boot Camp чтобы переназначить функциональные клавиши.</p>
				<p>Пока приходится мучаться с двумя клавиатурами, одна чтобы войти в систему, другая чтобы работать. Разочарован.</p>
			</div>
			<div class="col-lg-3 text-right col-md-3 col-sm-3 col-xs-3">
				<span class="cabinet-review-status cabinet-review-status--pending">На рассмотрении</span>
			</div>
		</div>
		<div class="cart-reviews__review clearfix">
			<div class="col-lg-9 col-md-7 col-sm-7 col-xs-7">
				<div class="user-info">
					<span class="user-info__name"><span>Александр Иванов</span>,</span>
					<span class="user-info__date">18.11.2016</span>,
					<span class="user-info__city">Калининград</span>
				</div>
				<p>Купил комплект из Magic Keyboard и Magic Mouse 2. Хост - обычный PC c Windows 7 x64. По инструкции с iPhones,ru установил Boot Camp 3.0, обновился до 3.1, обновление до 3.2 и 3.3 отправляет систему в синий экран.</p>
				<p>Попробовал поставить отдельно драйвера клавиатуры из Boot Camp 6.0 - не помогло, клавиша FN все равно не работает, а с ней и Delete (FN+Backspace).</p>
				<p>Более того, поскольку платформа НЕ Mac - не запускается контрольная панель Boot Camp чтобы переназначить функциональные клавиши.</p>
				<p>Пока приходится мучаться с двумя клавиатурами, одна чтобы войти в систему, другая чтобы работать. Разочарован.</p>
			</div>
			<div class="col-lg-3 text-right col-md-3 col-sm-3 col-xs-3">
				<span class="cabinet-review-status cabinet-review-status--pending">На рассмотрении</span>
			</div>
		</div>
	</div>

	<div class="cart-reviews__btn clearfix">
		<div class="btn cancel">Все отзывы</div>
	</div>
</div>