<div class="cart-reviews">
	<div class="reviews-wrapper">
		<div class="cart-reviews__review cart-reviews__review--cabinet-questions clearfix">
			<div class="message">
				<form action="#">
					<textarea placeholder="Написать вопрос"></textarea>
					<div class="message__buttons">
						<button class="btn submit">Отправить</button>
					</div>
				</form>
			</div>
			<div>
				<div class="user-info">
					<span class="user-info__name"><span>Александр Иванов</span>,</span>
					<span class="user-info__date">18.11.2016</span>
				</div>
			</div>
			<!-- .cabinet-question-heading -->
			<div class="cabinet-question-heading">
				<span class="cabinet-question-heading__title">Купил комплект из Magic Keyboard и Magic Mouse 2. Хост - обычный PC c Windows 7 x64. По инструкции с iPhones,ru установил Boot Camp 3.0, обновился до 3.1, обновление до 3.2 и 3.3 отправляет систему в синий экран. ? 1</span>
				<div class="answer">
					<button class="answerFormOpen">Ответить</button>
				</div>
				<div class="message"></div>
			</div>
			<!-- END:.cabinet-question-heading -->
			<!-- .row -->
			<div class="row">
				<div class="col-lg-1 col-md-2 col-sm-2 col-xs-2">
				</div>
				<div class="col-lg-11 col-md-10 col-sm-10 col-xs-10">
					<div class="user-info">
						<span class="user-info__name"><span>Александр Иванов</span>,</span>
						<span class="user-info__date">18.11.2016</span>
					</div>
					<div class="comment-text">
						<p>Купил комплект из Magic Keyboard и Magic Mouse 2. Хост - обычный PC c Windows 7 x64. По инструкции с iPhones,ru установил Boot Camp 3.0, обновился до 3.1, обновление до 3.2 и 3.3 отправляет систему в синий экран.</p>
						<p>Попробовал поставить отдельно драйвера клавиатуры из Boot Camp 6.0 - не помогло, клавиша FN все равно не работает, а с ней и Delete (FN+Backspace).</p>
						<p>Более того, поскольку платформа НЕ Mac - не запускается контрольная панель Boot Camp чтобы переназначить функциональные клавиши.</p>
						<p>Пока приходится мучаться с двумя клавиатурами, одна чтобы войти в систему, другая чтобы работать. Разочарован.</p>
					</div>
					<div class="answer">
						<button class="answerFormOpen">Ответить</button>
					</div>
					<div class="message"></div>
				</div>
			</div>
			<!-- END:.row -->
		</div>
		<div class="cart-reviews__review cart-reviews__review--cabinet-questions clearfix">
			<div>
				<div class="user-info">
					<span class="user-info__name"><span>Александр Иванов</span>,</span>
					<span class="user-info__date">18.11.2016</span>
				</div>
			</div>
			<!-- .cabinet-question-heading -->
			<div class="cabinet-question-heading">
				<span class="cabinet-question-heading__title">Купил комплект из Magic Keyboard и Magic Mouse 2. Хост - обычный PC c Windows 7 x64. По инструкции с iPhones,ru установил Boot Camp 3.0, обновился до 3.1, обновление до 3.2 и 3.3 отправляет систему в синий экран. ? 1</span>
				<div class="answer">
					<button class="answerFormOpen">Ответить</button>
				</div>
				<div class="message"></div>
			</div>
			<!-- END:.cabinet-question-heading -->
			<!-- .row -->
			<div class="row">
				<div class="col-lg-1 col-md-2 col-sm-2 col-xs-2">
				</div>
				<div class="col-lg-11 col-md-10 col-sm-10 col-xs-10">
					<div class="user-info">
						<span class="user-info__name"><span>Александр Иванов</span>,</span>
						<span class="user-info__date">18.11.2016</span>
					</div>
					<div class="comment-text">
						<p>Купил комплект из Magic Keyboard и Magic Mouse 2. Хост - обычный PC c Windows 7 x64. По инструкции с iPhones,ru установил Boot Camp 3.0, обновился до 3.1, обновление до 3.2 и 3.3 отправляет систему в синий экран.</p>
						<p>Попробовал поставить отдельно драйвера клавиатуры из Boot Camp 6.0 - не помогло, клавиша FN все равно не работает, а с ней и Delete (FN+Backspace).</p>
						<p>Более того, поскольку платформа НЕ Mac - не запускается контрольная панель Boot Camp чтобы переназначить функциональные клавиши.</p>
						<p>Пока приходится мучаться с двумя клавиатурами, одна чтобы войти в систему, другая чтобы работать. Разочарован.</p>
					</div>
					<div class="answer">
						<button class="answerFormOpen">Ответить</button>
					</div>
					<div class="message"></div>
				</div>
			</div>
			<!-- END:.row -->
		</div>
	</div>

	<div class="cart-reviews__btn clearfix">
		<div class="btn cancel">Посмотреть ещё</div>
	</div>
</div>