<div class="container">
	<div class="row tabs">
		<ul class="cart-tabs col-lg-12">
			<li class="cart-tabs__item">
				<a href="#magazines">Магазины (<span>30</span>)</a>
			</li>
			<li class="cart-tabs__item">
				<a href="#charasteristics">Характеристики</a>
			</li>
			<li class="cart-tabs__item">
				<a href="#reviews">Отзывы (<span>4</span>)</a>
			</li>
			<li class="cart-tabs__item">
				<a href="#answers">Вопросы-ответы (<span>7</span>)</a>
			</li>
			<li class="cart-tabs__item">
				<button data-toggle="modal" data-target="#address-popup">Магазины на карте</button>
			</li>
		</ul>
		<ul class="tabs-content col-lg-12">
			<li class="tabs-content__item" id="magazines">
				//= magazines-table.html
			</li>
			<li class="tabs-content__item" id="charasteristics">
				//= cart-characteristics.html
			</li>
			<li class="tabs-content__item" id="reviews">
				//= cart-reviews.html
			</li>
			<li class="tabs-content__item" id="answers">
				//= cart-questions-reviews.html
			</li>
		</ul>
	</div>
</div>