<div class="overal-characteristics clearfix">
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<div class="char-table">
			<h2>Основные характеристики</h2>
			<div class="info-holder">
				<div class="info-holder__row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-holder__row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-holder__row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-holder__row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-holder__row">
					<span>Изображение: </span><span>Картинка в картинке</span>
				</div>
				<div class="info-holder__row">
					<span>Стереозвук: </span><span>Есть</span>
				</div>
				<div class="info-holder__row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-holder__row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-holder__row">
					<span>Изображение: </span><span>Картинка в картинке</span>
				</div>
				<div class="info-holder__row">
					<span>Стереозвук: </span><span>Есть</span>
				</div>
				<div class="info-holder__row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
			</div>
		</div>
		<div class="char-table">
			<h2>Функции</h2>
			<div class="info-holder">
				<div class="info-holder__row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-holder__row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-holder__row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-holder__row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-holder__row">
					<span>Изображение: </span><span>Картинка в картинке</span>
				</div>
				<div class="info-holder__row">
					<span>Стереозвук: </span><span>Есть</span>
				</div>
				<div class="info-holder__row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<div class="char-table">
			<h2>Основные характеристики</h2>
			<div class="info-holder">
				<div class="info-holder__row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-holder__row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-holder__row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-holder__row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-holder__row">
					<span>Изображение: </span><span>Картинка в картинке</span>
				</div>
				<div class="info-holder__row">
					<span>Стереозвук: </span><span>Есть</span>
				</div>
				<div class="info-holder__row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
			</div>
		</div>
		<div class="char-table">
			<h2>Функции</h2>
			<div class="info-holder">
				<div class="info-holder__row">
					<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
				</div>
				<div class="info-holder__row">
					<span>Диагональ: </span><span>32" (81 см)</span>
				</div>
				<div class="info-holder__row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
				<div class="info-holder__row">
					<span>Тип подсветки: </span><span>Edge LED</span>
				</div>
				<div class="info-holder__row">
					<span>Изображение: </span><span>Картинка в картинке</span>
				</div>
				<div class="info-holder__row">
					<span>Стереозвук: </span><span>Есть</span>
				</div>
				<div class="info-holder__row">
					<span>Разрешение: </span><span>HDMI x2, USB</span>
				</div>
			</div>
		</div>
	</div>
</div>