<!-- START:.CART-ITEM -->
	<div class="cart-wrapper clearfix">
		<div class="col-lg-8 col-md-8">
			<!-- START:.cart-preview -->
				<div class="cart-preview">
					<div class="cart-preview__thumbnails">
						<ul id="item-gallery" class="item-gallery galleryVertical">
							<li>					
								<a href="#" data-image="images/cart-big.png" data-zoom-image="images/cart-big.png" class="active">
									<img src="images/cart-big.png" alt="images" />
								</a>
							</li>
							<li>							
								<a href="#" data-image="images/cart2.png" data-zoom-image="images/large/cart2.png">
									<img src="images/large/cart2.png" alt="images" />
								</a>
							</li>
							<li>							
								<a href="#" data-image="images/cart3.png" data-zoom-image="images/large/cart3.png">
									<img src="images/large/cart3.png" alt="images" />
								</a>
							</li>
							<li>							
								<a href="#" data-image="images/cart4.png" data-zoom-image="images/large/cart4.png">
									<img src="images/large/cart4.png" alt="images" />
								</a>
							</li>
							<li>					
								<a href="#" data-image="images/cart-big.png" data-zoom-image="images/cart-big.png">
									<img src="images/cart-big.png" alt="images" />
								</a>
							</li>
							<li>					
								<a href="#" data-image="images/cart-big.png" data-zoom-image="images/cart-big.png">
									<img src="images/cart-big.png" alt="images" />
								</a>
							</li>
						</ul>
					</div>
					<div class="cart-preview__big-img">
						<img id="img_01" src="images/cart-big.png" alt="images" data-zoom-image="images/cart-big.png"/>
					</div>
				</div>
				<!-- END:.cart-preview -->	
		</div>
		<div class="col-lg-4 col-md-4">
			<div class="cart-item">
				<div class="cart-item__price">от 15 200 р.</div>
				<div class="cart-item__reviews">
					<div class="reviews">
						<ul class="rev-progress">
							<li class="active"><i class="fa fa-star"></i></li>
							<li class="active"><i class="fa fa-star"></i></li>
							<li class="active"><i class="fa fa-star"></i></li>
							<li><i class="fa fa-star"></i></li>
							<li><i class="fa fa-star"></i></li>
						</ul>
						<a href="#" class="count"><span>5</span> отзывов</a>
					</div>
				</div>
				<div class="cart-item__info">
					<div class="info-holder">
						<div class="info-holder__row">
							<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
						</div>
						<div class="info-holder__row">
							<span>Диагональ: </span><span>32" (81 см)</span>
						</div>
						<div class="info-holder__row">
							<span>Разрешение: </span><span>HDMI x2, USB</span>
						</div>
						<div class="info-holder__row">
							<span>Тип подсветки: </span><span>Edge LED</span>
						</div>
						<div class="info-holder__row">
							<span>Изображение: </span><span>Картинка в картинке</span>
						</div>
						<div class="info-holder__row">
							<span>Стереозвук: </span><span>Есть</span>
						</div>
						<div class="info-holder__row">
							<span>Разрешение: </span><span>HDMI x2, USB</span>
						</div>
					</div>
					<div class="info-holder">
						<div class="info-holder__row">
							<a class="all-info" href="#">Все характеристики</a>
						</div>
					</div>
				</div>
				<div class="cart-item__buttons">
					<div class="btn-group item-btn-group" role="group">
					  <a class="btn tooltipBtn" data-placement="top" title="Избранное">
				  		<i class="fa fa-bookmark-o" aria-hidden="true"></i>
					  </a>
					  <a class="btn tooltipBtn" data-placement="top" title="Сравнение">
					  	<i class="fa fa-balance-scale" aria-hidden="true"></i>		  
					  </a>
					  <a class="btn share-btn tooltipBtn" data-placement="top" title="Поделится">
					  	<i class="fa fa-share-alt" aria-hidden="true"></i>
					  </a>
					</div>
				</div>
				<div class="cart-item__cheap">
					<a href="#" class="btn cheap">Хочу дешевле</a>
				</div>
			</div>
		</div>
	</div>
<!-- END:.CART-ITEM -->