<!-- START:.catalog-sidebar -->
<div class="catalog-new-item col-lg-3 col-md-4 col-sm-4 col-xs-6">
    <div class="catalog-sidebar">
        <!-- .catalog-sidebar__body -->
        <div class="catalog-sidebar__body">
            <!-- START:.sidebar-title -->
            <div class="sidebar-title claerfix">
                <h2 class="sidebar-title__text">Фильтры</h2>
                <div class="sidebar-title__btn">
                    <button class="refresh">
                        <i class="fa fa-repeat" aria-hidden="true"></i>
                        <span>Сбросить</span>
                    </button>
                </div>
            </div>
            <!-- END:.sidebar-title -->
            <!-- .catalog-filter-checkboxes -->
            <div class="catalog-filter-checkboxes">
                <!-- .catalog-filter-checkboxes__inner -->
                <div class="catalog-filter-checkboxes__inner">
                    <!-- .catalog-filter-checkboxes__item -->
                    <div class="catalog-filter-checkboxes__item">
                        <input type="checkbox" class="catalog-filter-checkboxes__field" id="privateTrader" />
                        <label for="privateTrader" class="catalog-filter-checkboxes__label">Частник</label>
                    </div>
                    <!-- END:.catalog-filter-checkboxes__item -->
                    <!-- .catalog-filter-checkboxes__item -->
                    <div class="catalog-filter-checkboxes__item">
                        <input type="checkbox" class="catalog-filter-checkboxes__field" id="organizationTrader" />
                        <label for="organizationTrader" class="catalog-filter-checkboxes__label">Организация</label>
                    </div>
                    <!-- END:.catalog-filter-checkboxes__item -->
                </div>
                <!-- END:.catalog-filter-checkboxes__inner -->
            </div>
            <!-- END:.catalog-filter-checkboxes -->
            <!-- START:.range -->
            <div class="range">
                <div class="range__title">Цена</div>
                <!-- <input id="filter-range" data-slider-id='filterSlider' type="text" data-slider-min="3500" data-slider-max="1820251" data-slider-step="1" data-slider-value="450500"/> -->
                <input id="filter-range" type="text" class="span2" value="" data-slider-min="3500" data-slider-max="820251" data-slider-step="5" data-slider-value="[150000,450500]" />
                <div class="range__gap clearfix">
                    <div class="begin">3500</div>
                    <div class="end">820 251</div>
                </div>
            </div>
            <!-- END:.range -->
            <!-- START:.filter-accordion -->
            //= filter-accord.html
            <!-- END:.filter-accordion -->
        </div>
        <!-- END:.catalog-sidebar__body -->
        <!-- START:.more-filter -->
        <div class="more-filter">
            <button class="btn more">Найти услугу выгодно</button>
        </div>
        <!-- END:.more-filter -->
    </div>
</div>
<!-- END:.catalog-sidebar -->
