<!-- START:.catalog-items -->
<div class="catalog-items tiles">
	<div class="row">
		//= ../../modules/partial/catalog-filter.html
		<div class="catalog-new-item catalog-items__item col-lg-3 col-md-4 col-sm-4 col-xs-6">
			<div class="item-info">
				<div class="center-column">

					<!-- START:.OPTIONS -->
					<div class="item-info__options">					
						<div class="btn-group item-btn-group" role="group">
						  <a class="btn tooltipBtn" data-placement="top" title="Избранное">
					  		<i class="fa fa-bookmark-o" aria-hidden="true"></i>
						  </a>
						  
						  <a class="btn info-btn">
						  	<span class="info infoBtn">
						  		<i class="fa fa-info" aria-hidden="true"></i>
						  	</span>
						  </a>
						</div>
					</div>					
					<!-- END:.OPTIONS -->
					
					<!-- START:.ITEM_INFORMATION -->
					<div class="item-info__info">
						<div class="text-holder">
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
						</div>
						<div class="info-row">
							<a href="#">Узнать подробнее</a>
						</div>
					</div>					
					<!-- END:.ITEM_INFORMATION -->
						

				</div>

				<div class="left-column">

					<!-- START:.ITEM_IMAGE -->
					<div class="item-info__view">
						<a href="#" class="img-holder">
						  <img src="images/item.png" alt="images" />
						</a>
						<h3 class="catalog-items__item-title text-center">Василий Фамилия</h3>
					</div>					
					<!-- END:.ITEM_IMAGE -->

					<!-- START:.ITEM_TITLE -->
					<div class="item-info__title">
						<div class="title big-title">
							<h3 class="title__text">
								<a href="#">
									ASUS VivoBook F200MA (Celeron N2830 2160 Mhz/11.6"/1366x768/2.0Gb/500Gb/DVD нет/Intel GMA HD/Wi-Fi/Bluetooth/DOS)
								</a>
							</h3>
						</div>
					</div>					
					<!-- END:.ITEM_TITLE -->
				</div>


				<div class="right-column">
					
					<!-- START:.ITEM_REVIEWS -->
					<div class="item-info__reviews">
						<div class="reviews">
							<ul class="rev-progress">
								<li class="active"><i class="fa fa-star"></i></li>
								<li class="active"><i class="fa fa-star"></i></li>
								<li class="active"><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
							</ul>
							<a href="#" class="count"><span>5</span> отзывов</a>
						</div>
					</div>					
					<!-- END:.ITEM_REVIEWS -->
					
					<!-- START:.ITEM_PRICE -->
					<div class="item-info__price">
						<h2>от 5 250 <i class="fa fa-rub" aria-hidden="true"></i></h2>
					</div>					
					<!-- END:.ITEM_PRICE -->

					<div class="item-info__buttons">
                      <div class="top">
                        <a class="cheap" data-toggle="modal" data-target="#cheap-item">Перезвоните мне</a>
                      </div>
                    </div>

				</div>
			</div>
		</div>
		<div class="catalog-new-item catalog-items__item col-lg-3 col-md-4 col-sm-4 col-xs-6">
			<div class="item-info">
				<div class="center-column">

					<!-- START:.OPTIONS -->
					<div class="item-info__options">					
						<div class="btn-group item-btn-group" role="group">
						  <a class="btn tooltipBtn" data-placement="top" title="Избранное">
					  		<i class="fa fa-bookmark-o" aria-hidden="true"></i>
						  </a>
						  
						  <a class="btn info-btn">
						  	<span class="info infoBtn">
						  		<i class="fa fa-info" aria-hidden="true"></i>
						  	</span>
						  </a>
						</div>
					</div>					
					<!-- END:.OPTIONS -->
					
					<!-- START:.ITEM_INFORMATION -->
					<div class="item-info__info">
						<div class="text-holder">
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
						</div>
						<div class="info-row">
							<a href="#">Узнать подробнее</a>
						</div>
					</div>					
					<!-- END:.ITEM_INFORMATION -->
						

				</div>

				<div class="left-column">

					<!-- START:.ITEM_IMAGE -->
					<div class="item-info__view">
						<a href="#" class="img-holder">
						  <img src="images/item.png" alt="images" />
						</a>
						<h3 class="catalog-items__item-title text-center">Василий Фамилия</h3>
					</div>					
					<!-- END:.ITEM_IMAGE -->

					<!-- START:.ITEM_TITLE -->
					<div class="item-info__title">
						<div class="title big-title">
							<h3 class="title__text">
								<a href="#">
									ASUS VivoBook F200MA (Celeron N2830 2160 Mhz/11.6"/1366x768/2.0Gb/500Gb/DVD нет/Intel GMA HD/Wi-Fi/Bluetooth/DOS)
								</a>
							</h3>
						</div>
					</div>					
					<!-- END:.ITEM_TITLE -->
				</div>


				<div class="right-column">
					
					<!-- START:.ITEM_REVIEWS -->
					<div class="item-info__reviews">
						<div class="reviews">
							<ul class="rev-progress">
								<li class="active"><i class="fa fa-star"></i></li>
								<li class="active"><i class="fa fa-star"></i></li>
								<li class="active"><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
							</ul>
							<a href="#" class="count"><span>5</span> отзывов</a>
						</div>
					</div>					
					<!-- END:.ITEM_REVIEWS -->
					
					<!-- START:.ITEM_PRICE -->
					<div class="item-info__price">
						<h2>от 5 250 <i class="fa fa-rub" aria-hidden="true"></i></h2>
					</div>					
					<!-- END:.ITEM_PRICE -->

					<div class="item-info__buttons">
                      <div class="top">
                        <a class="cheap" data-toggle="modal" data-target="#cheap-item">Перезвоните мне</a>
                      </div>
                    </div>

				</div>
			</div>
		</div>
		<div class="catalog-new-item catalog-items__item col-lg-3 col-md-4 col-sm-4 col-xs-6">
			<div class="item-info">
				<div class="center-column">

					<!-- START:.OPTIONS -->
					<div class="item-info__options">					
						<div class="btn-group item-btn-group" role="group">
						  <a class="btn tooltipBtn" data-placement="top" title="Избранное">
					  		<i class="fa fa-bookmark-o" aria-hidden="true"></i>
						  </a>
						  
						  <a class="btn info-btn">
						  	<span class="info infoBtn">
						  		<i class="fa fa-info" aria-hidden="true"></i>
						  	</span>
						  </a>
						</div>
					</div>					
					<!-- END:.OPTIONS -->
					
					<!-- START:.ITEM_INFORMATION -->
					<div class="item-info__info">
						<div class="text-holder">
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
						</div>
						<div class="info-row">
							<a href="#">Узнать подробнее</a>
						</div>
					</div>					
					<!-- END:.ITEM_INFORMATION -->
						

				</div>

				<div class="left-column">

					<!-- START:.ITEM_IMAGE -->
					<div class="item-info__view">
						<a href="#" class="img-holder">
						  <img src="images/item.png" alt="images" />
						</a>
						<h3 class="catalog-items__item-title text-center">Василий Фамилия</h3>
					</div>					
					<!-- END:.ITEM_IMAGE -->

					<!-- START:.ITEM_TITLE -->
					<div class="item-info__title">
						<div class="title big-title">
							<h3 class="title__text">
								<a href="#">
									ASUS VivoBook F200MA (Celeron N2830 2160 Mhz/11.6"/1366x768/2.0Gb/500Gb/DVD нет/Intel GMA HD/Wi-Fi/Bluetooth/DOS)
								</a>
							</h3>
						</div>
					</div>					
					<!-- END:.ITEM_TITLE -->
				</div>


				<div class="right-column">
					
					<!-- START:.ITEM_REVIEWS -->
					<div class="item-info__reviews">
						<div class="reviews">
							<ul class="rev-progress">
								<li class="active"><i class="fa fa-star"></i></li>
								<li class="active"><i class="fa fa-star"></i></li>
								<li class="active"><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
							</ul>
							<a href="#" class="count"><span>5</span> отзывов</a>
						</div>
					</div>					
					<!-- END:.ITEM_REVIEWS -->
					
					<!-- START:.ITEM_PRICE -->
					<div class="item-info__price">
						<h2>от 5 250 <i class="fa fa-rub" aria-hidden="true"></i></h2>
					</div>					
					<!-- END:.ITEM_PRICE -->

					<div class="item-info__buttons">
                      <div class="top">
                        <a class="cheap" data-toggle="modal" data-target="#cheap-item">Перезвоните мне</a>
                      </div>
                    </div>

				</div>
			</div>
		</div>
		<div class="catalog-new-item catalog-items__item col-lg-3 col-md-4 col-sm-4 col-xs-6">
			<div class="item-info">
				<div class="center-column">

					<!-- START:.OPTIONS -->
					<div class="item-info__options">					
						<div class="btn-group item-btn-group" role="group">
						  <a class="btn tooltipBtn" data-placement="top" title="Избранное">
					  		<i class="fa fa-bookmark-o" aria-hidden="true"></i>
						  </a>
						  
						  <a class="btn info-btn">
						  	<span class="info infoBtn">
						  		<i class="fa fa-info" aria-hidden="true"></i>
						  	</span>
						  </a>
						</div>
					</div>					
					<!-- END:.OPTIONS -->
					
					<!-- START:.ITEM_INFORMATION -->
					<div class="item-info__info">
						<div class="text-holder">
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
						</div>
						<div class="info-row">
							<a href="#">Узнать подробнее</a>
						</div>
					</div>					
					<!-- END:.ITEM_INFORMATION -->
						

				</div>

				<div class="left-column">

					<!-- START:.ITEM_IMAGE -->
					<div class="item-info__view">
						<a href="#" class="img-holder">
						  <img src="images/item.png" alt="images" />
						</a>
						<h3 class="catalog-items__item-title text-center">Василий Фамилия</h3>
					</div>					
					<!-- END:.ITEM_IMAGE -->

					<!-- START:.ITEM_TITLE -->
					<div class="item-info__title">
						<div class="title big-title">
							<h3 class="title__text">
								<a href="#">
									ASUS VivoBook F200MA (Celeron N2830 2160 Mhz/11.6"/1366x768/2.0Gb/500Gb/DVD нет/Intel GMA HD/Wi-Fi/Bluetooth/DOS)
								</a>
							</h3>
						</div>
					</div>					
					<!-- END:.ITEM_TITLE -->
				</div>


				<div class="right-column">
					
					<!-- START:.ITEM_REVIEWS -->
					<div class="item-info__reviews">
						<div class="reviews">
							<ul class="rev-progress">
								<li class="active"><i class="fa fa-star"></i></li>
								<li class="active"><i class="fa fa-star"></i></li>
								<li class="active"><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
							</ul>
							<a href="#" class="count"><span>5</span> отзывов</a>
						</div>
					</div>					
					<!-- END:.ITEM_REVIEWS -->
					
					<!-- START:.ITEM_PRICE -->
					<div class="item-info__price">
						<h2>от 5 250 <i class="fa fa-rub" aria-hidden="true"></i></h2>
					</div>					
					<!-- END:.ITEM_PRICE -->

					<div class="item-info__buttons">
                      <div class="top">
                        <a class="cheap" data-toggle="modal" data-target="#cheap-item">Перезвоните мне</a>
                      </div>
                    </div>

				</div>
			</div>
		</div>
		<div class="catalog-new-item catalog-items__item col-lg-3 col-md-4 col-sm-4 col-xs-6">
			<div class="item-info">
				<div class="center-column">

					<!-- START:.OPTIONS -->
					<div class="item-info__options">					
						<div class="btn-group item-btn-group" role="group">
						  <a class="btn tooltipBtn" data-placement="top" title="Избранное">
					  		<i class="fa fa-bookmark-o" aria-hidden="true"></i>
						  </a>
						  
						  <a class="btn info-btn">
						  	<span class="info infoBtn">
						  		<i class="fa fa-info" aria-hidden="true"></i>
						  	</span>
						  </a>
						</div>
					</div>					
					<!-- END:.OPTIONS -->
					
					<!-- START:.ITEM_INFORMATION -->
					<div class="item-info__info">
						<div class="text-holder">
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
						</div>
						<div class="info-row">
							<a href="#">Узнать подробнее</a>
						</div>
					</div>					
					<!-- END:.ITEM_INFORMATION -->
						

				</div>

				<div class="left-column">

					<!-- START:.ITEM_IMAGE -->
					<div class="item-info__view">
						<a href="#" class="img-holder">
						  <img src="images/item.png" alt="images" />
						</a>
						<h3 class="catalog-items__item-title text-center">Василий Фамилия</h3>
					</div>					
					<!-- END:.ITEM_IMAGE -->

					<!-- START:.ITEM_TITLE -->
					<div class="item-info__title">
						<div class="title big-title">
							<h3 class="title__text">
								<a href="#">
									ASUS VivoBook F200MA (Celeron N2830 2160 Mhz/11.6"/1366x768/2.0Gb/500Gb/DVD нет/Intel GMA HD/Wi-Fi/Bluetooth/DOS)
								</a>
							</h3>
						</div>
					</div>					
					<!-- END:.ITEM_TITLE -->
				</div>


				<div class="right-column">
					
					<!-- START:.ITEM_REVIEWS -->
					<div class="item-info__reviews">
						<div class="reviews">
							<ul class="rev-progress">
								<li class="active"><i class="fa fa-star"></i></li>
								<li class="active"><i class="fa fa-star"></i></li>
								<li class="active"><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
							</ul>
							<a href="#" class="count"><span>5</span> отзывов</a>
						</div>
					</div>					
					<!-- END:.ITEM_REVIEWS -->
					
					<!-- START:.ITEM_PRICE -->
					<div class="item-info__price">
						<h2>от 5 250 <i class="fa fa-rub" aria-hidden="true"></i></h2>
					</div>					
					<!-- END:.ITEM_PRICE -->

					<div class="item-info__buttons">
                      <div class="top">
                        <a class="cheap" data-toggle="modal" data-target="#cheap-item">Перезвоните мне</a>
                      </div>
                    </div>

				</div>
			</div>
		</div>
		<div class="catalog-new-item catalog-items__item col-lg-3 col-md-4 col-sm-4 col-xs-6">
			<div class="item-info">
				<div class="center-column">

					<!-- START:.OPTIONS -->
					<div class="item-info__options">					
						<div class="btn-group item-btn-group" role="group">
						  <a class="btn tooltipBtn" data-placement="top" title="Избранное">
					  		<i class="fa fa-bookmark-o" aria-hidden="true"></i>
						  </a>
						  
						  <a class="btn info-btn">
						  	<span class="info infoBtn">
						  		<i class="fa fa-info" aria-hidden="true"></i>
						  	</span>
						  </a>
						</div>
					</div>					
					<!-- END:.OPTIONS -->
					
					<!-- START:.ITEM_INFORMATION -->
					<div class="item-info__info">
						<div class="text-holder">
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип: </span><span>ЖК-телевизор, 720p HD</span>
							</div>
							<div class="info-row">
								<span>Диагональ: </span><span>32" (81 см)</span>
							</div>
							<div class="info-row">
								<span>Разрешение: </span><span>HDMI x2, USB</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
							<div class="info-row">
								<span>Тип подсветки: </span><span>Edge LED</span>
							</div>
						</div>
						<div class="info-row">
							<a href="#">Узнать подробнее</a>
						</div>
					</div>					
					<!-- END:.ITEM_INFORMATION -->
						

				</div>

				<div class="left-column">

					<!-- START:.ITEM_IMAGE -->
					<div class="item-info__view">
						<a href="#" class="img-holder">
						  <img src="images/item.png" alt="images" />
						</a>
						<h3 class="catalog-items__item-title text-center">Василий Фамилия</h3>
					</div>					
					<!-- END:.ITEM_IMAGE -->

					<!-- START:.ITEM_TITLE -->
					<div class="item-info__title">
						<div class="title big-title">
							<h3 class="title__text">
								<a href="#">
									ASUS VivoBook F200MA (Celeron N2830 2160 Mhz/11.6"/1366x768/2.0Gb/500Gb/DVD нет/Intel GMA HD/Wi-Fi/Bluetooth/DOS)
								</a>
							</h3>
						</div>
					</div>					
					<!-- END:.ITEM_TITLE -->
				</div>


				<div class="right-column">
					
					<!-- START:.ITEM_REVIEWS -->
					<div class="item-info__reviews">
						<div class="reviews">
							<ul class="rev-progress">
								<li class="active"><i class="fa fa-star"></i></li>
								<li class="active"><i class="fa fa-star"></i></li>
								<li class="active"><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
							</ul>
							<a href="#" class="count"><span>5</span> отзывов</a>
						</div>
					</div>					
					<!-- END:.ITEM_REVIEWS -->
					
					<!-- START:.ITEM_PRICE -->
					<div class="item-info__price">
						<h2>от 5 250 <i class="fa fa-rub" aria-hidden="true"></i></h2>
					</div>					
					<!-- END:.ITEM_PRICE -->

					<div class="item-info__buttons">
                      <div class="top">
                        <a class="cheap" data-toggle="modal" data-target="#cheap-item">Перезвоните мне</a>
                      </div>
                    </div>

				</div>
			</div>
		</div>
		<div class="catalog-new-item catalog-items__item col-lg-3 col-md-4 col-sm-4 col-xs-6">
			<div class="more-items-btn">
				<div class="more-items">
					<i class="fa fa-repeat" aria-hidden="true"></i>
					<div class="text">показать еще<br />50 услуг</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END:.catalog-items -->