<div class="modal fade" id="cheap-item" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content cheap-popup">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      	<span aria-hidden="true">
      		<i class="fa fa-times" aria-hidden="true"></i>
      	</span>
      </button>        
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
          <i class="fa fa-times" aria-hidden="true"></i>
        </span>
      </button> 
      <div class="forms-column two-columns clearfix">
        <div class="forms-column__item">
          <div class="popup-img">
            <div class="img-holder"></div>
          </div>
          <div class="popup-reviews">
            <div class="reviews">
              <ul class="rev-progress">
                <li class="active"><i class="fa fa-star"></i></li>
                <li class="active"><i class="fa fa-star"></i></li>
                <li class="active"><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
              </ul>
              <a href="#" class="count"><span>5</span> отзывов</a>
            </div>
          </div>    
        </div>
        <div class="forms-column__item">
         <div class="title">
           <span class="brand">Supra</span>
           <span class="model">svt-kisyb74uej</span>
           <div class="price">от 14 256 <i class="fa fa-rub" aria-hidden="true"></i></div>  
         </div>
         <div class="count-items">
          Хочу купить выгодно
          <input class="countSpinner" name="value" value="1">
         </div>
         <div class="button">
           <button class="btn cheap">Хочу ещё дешевле</button>
         </div>
        </div>
      </div>
      <div class="checkbox-group">
        <div class="cell">
          <div class="cell__row">
            <div class="recall-check">
              <label for="recall">
                <input type="checkbox" id="recall" />
                <span>Перезвонить мне</span>
              </label>
              <select class="selectInit">
                <option value="">срочно</option>
                <option value="">до обеда</option>
                <option value="">после обеда</option>
                <option value="">в течение дня</option>
              </select>
            </div>
          </div>
          <div class="cell__row">
            <label for="email">
              <input type="checkbox" id="email" />
              <span>Email</span>
            </label>
            <label for="mobil">
              <input type="checkbox" id="mobil" />
              <span>Мобильное приложение</span>
            </label>
          </div>
        </div>
        <div class="cell">
          <div class="cell__row">
            <label for="rate">
              <input type="checkbox" id="rate" />
              <span>В магазинах с высоким рейтингом</span>
            </label>
          </div>
          <div class="cell__row">
            <label for="near">
              <input type="checkbox" id="near" />
              <span>В ближайших ко мне магазинах</span>
            </label>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>