<div class="modal fade" id="cities" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content cities">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
          <i class="fa fa-times" aria-hidden="true"></i>
        </span>
      </button>
      <h4 class="form-title">Ваш город <span>Москва</span></h4>      
      <div class="forms-column clearfix">
        <div class="forms-column__item">
          <form action="#">
            <div class="form-row">
              <div class="title">Начните вводить название города:</div>
              <div class="cities-autocomplite">
                <input type="text" id="city-comlite" placeholder="Москва" />
              </div>
            </div>
            <div class="form-row clearfix">
              <button type="submit" class="btn submit" data-dismiss="modal" aria-label="Close">Применить</button>
            </div>
          </form>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>