<aside class="compare-sidebar-items items-sidebar">
	<div class="compare-sidebar-items__title">Товаров в сравнении: <span>4</span></div>
	<div class="compare-sidebar-items__devices">
		<ul>
			<li>
				<a class="active" href="#">Планшеты: <span>2</span></a>
				<button class="delete">
					<i class="fa fa-times" aria-hidden="true"></i>
				</button>
			</li>
			<li>
				<a href="#">Мобильные телефоны: <span>4</span></a>
				<button class="delete">
					<i class="fa fa-times" aria-hidden="true"></i>
				</button>
			</li>
		</ul>
	</div>
	<div class="compare-sidebar-items__options">
		<ul>
			<li>
				<a href="#">Все характеристики</a>
			</li>
			<li>
				<a href="#">Отличия</a>
			</li>
		</ul>
	</div>
</aside>