<aside class="compare-sidebar-items compare-sidebar-items--tabs-page items-sidebar">
	<div class="compare-sidebar-items__title compare-sidebar-items__title--tabs-page">Товаров в закладках: <span>4</span></div>
	<div class="compare-sidebar-items__devices">
		<ul>
			<li>
				<a href="#">Планшеты: <span>2</span></a>
			</li>
			<li>
				<a href="#">Мобильные телефоны: <span>4</span></a>
			</li>
		</ul>
	</div>
</aside>