<aside class="compare-sidebar">
	<div class="compare-row">
		<span>Тип устройства</span>
	</div>
	<div class="compare-row">
		<span>Стандарты 2G</span>
	</div>
	<div class="compare-row">
		<span>Стандарты 4G</span>
	</div>
	<div class="compare-row">
		<span>Видеовызов</span>
	</div>
	<div class="compare-row">
		<span>Поколение сим-карты</span>
	</div>
	<div class="compare-row">
		<span>Работа с несколькими Sim-картами</span>
	</div>
</aside>