<div class="catalog-items tiles row compare-slider-info compareSliderInfo"> <!-- compareSliderInfo - инициирует слайдеры с информацией о товаре -->
	<div class="catalog-items__item col-sm-6 col-md-4 col-lg-3">
		<div class="compare-info">
			<div class="compare-row">
				<span>Смартфон</span>
			</div>
			<div class="compare-row">
				<span>GSM 1800/ GSM 1800/ GSM 1800/ GSM 1800/ </span>
			</div>
			<div class="compare-row">
				<span>LTE 1800/ LTE 2100</span>
			</div>
			<div class="compare-row">
				<span>
					<i class="fa fa-check" aria-hidden="true"></i>
				</span>
			</div>
			<div class="compare-row">
				<span>Li-lion, 1800 мАч</span>
			</div>
			<div class="compare-row">
				<span>14 ч.</span>
			</div>
		</div>
	</div>
	<div class="catalog-items__item col-sm-6 col-md-4 col-lg-2">
		<div class="compare-info">
			<div class="compare-row">
				<span>Смартфон</span>
			</div>
			<div class="compare-row">
				<span>GSM 1800/ GSM 1800/ GSM 1800/ GSM 1800/ </span>
			</div>
			<div class="compare-row">
				<span>LTE 1800/ LTE 2100</span>
			</div>
			<div class="compare-row">
				<span>
					<i class="fa fa-minus" aria-hidden="true"></i>
				</span>
			</div>
			<div class="compare-row">
				<span>Li-lion, 1800 мАч</span>
			</div>
			<div class="compare-row">
				<span>14 ч.</span>
			</div>
		</div>
	</div>
	<div class="catalog-items__item col-sm-6 col-md-4 col-lg-3">
		<div class="compare-info">
			<div class="compare-row">
				<span>Смартфон</span>
			</div>
			<div class="compare-row">
				<span>GSM 1800/ GSM 1800/ GSM 1800/ GSM 1800/ </span>
			</div>
			<div class="compare-row">
				<span>LTE 1800/ LTE 2100</span>
			</div>
			<div class="compare-row">
				<span>
					<i class="fa fa-check" aria-hidden="true"></i>
				</span>
			</div>
			<div class="compare-row">
				<span>Li-lion, 1800 мАч</span>
			</div>
			<div class="compare-row">
				<span>14 ч.</span>
			</div>
		</div>
	</div>
	<div class="catalog-items__item col-sm-6 col-md-4 col-lg-3">
		<div class="compare-info">
			<div class="compare-row">
				<span>Смартфон</span>
			</div>
			<div class="compare-row">
				<span>GSM 1800/ GSM 1800/ GSM 1800/ GSM 1800/ </span>
			</div>
			<div class="compare-row">
				<span>LTE 1800/ LTE 2100</span>
			</div>
			<div class="compare-row">
				<span>
					<i class="fa fa-minus" aria-hidden="true"></i>
				</span>
			</div>
			<div class="compare-row">
				<span>Li-lion, 1800 мАч</span>
			</div>
			<div class="compare-row">
				<span>14 ч.</span>
			</div>
		</div>
	</div>
	<div class="catalog-items__item col-sm-6 col-md-4 col-lg-2">
		<div class="compare-info">
			<div class="compare-row">
				<span>Смартфон</span>
			</div>
			<div class="compare-row">
				<span>GSM 1800/ GSM 1800/ GSM 1800/ GSM 1800/ </span>
			</div>
			<div class="compare-row">
				<span>LTE 1800/ LTE 2100</span>
			</div>
			<div class="compare-row">
				<span>
					<i class="fa fa-check" aria-hidden="true"></i>
				</span>
			</div>
			<div class="compare-row">
				<span>Li-lion, 1800 мАч</span>
			</div>
			<div class="compare-row">
				<span>14 ч.</span>
			</div>
		</div>
	</div>
	<div class="catalog-items__item col-sm-6 col-md-4 col-lg-3">
		<div class="compare-info">
			<div class="compare-row">
				<span>Смартфон</span>
			</div>
			<div class="compare-row">
				<span>GSM 1800/ GSM 1800/ GSM 1800/ GSM 1800/ </span>
			</div>
			<div class="compare-row">
				<span>LTE 1800/ LTE 2100</span>
			</div>
			<div class="compare-row">
				<span>
					<i class="fa fa-check" aria-hidden="true"></i>
				</span>
			</div>
			<div class="compare-row">
				<span>Li-lion, 1800 мАч</span>
			</div>
			<div class="compare-row">
				<span>14 ч.</span>
			</div>
		</div>
	</div>
	<div class="catalog-items__item col-sm-6 col-md-4 col-lg-2">
		<div class="compare-info">
			<div class="compare-row">
				<span>Смартфон</span>
			</div>
			<div class="compare-row">
				<span>GSM 1800/ GSM 1800/ GSM 1800/ GSM 1800/ </span>
			</div>
			<div class="compare-row">
				<span>LTE 1800/ LTE 2100</span>
			</div>
			<div class="compare-row">
				<span>
					<i class="fa fa-minus" aria-hidden="true"></i>
				</span>
			</div>
			<div class="compare-row">
				<span>Li-lion, 1800 мАч</span>
			</div>
			<div class="compare-row">
				<span>14 ч.</span>
			</div>
		</div>
	</div>
</div>