<div class="filters clearfix">
	<div class="filters__title col-lg-4 col-md-5 col-sm-6 col-xs-6">
		<span>Все фильтры</span>
		<button class="refresh">
			<i class="fa fa-repeat" aria-hidden="true"></i>
			<span>Сбросить</span>
		</button>
	</div>
	<div class="filters__items col-lg-4 col-md-3 col-sm-3 col-xs-3">
		<span class="count">258</span>
		товаров отобрано
	</div>
	<div class="filters__buttons col-lg-4 col-md-4 col-sm-6">
		<button class="btn submit">Применить</button>
		<button class="btn cancel">Отменить и вернутся</button>
	</div>
</div>