<div class="filter-accordion panel-group">
  <div class="filter-accordion__item panel panel-default filtered">
  </div>
  <div class="filter-accordion__item  filter-accordion__item--lonely panel panel-default">
    <div class="panel-heading">
      <a href="#findServiceModal" data-toggle="modal">Метро</a>
    </div>
  </div>
</div>