<div class="filter-accordion panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="filter-accordion__item panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne-1">
      <a role="button" data-toggle="collapse" href="#collapseOne-1" aria-expanded="false" aria-controls="collapseOne-1">
        Год выпуска
      </a>
    </div>
    <div id="collapseOne-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne-1">
      <div class="panel-body">
        <div class="dates">
          <label for="label-2"><input type="checkbox" id="label-2"/>2009</label>
          <label for="label-1"><input type="checkbox" id="label-1"/>2010</label>
          <label for="label0"><input type="checkbox" id="label0"/>2011</label>
          <label for="label"><input type="checkbox" id="label"/>2012</label>
          <label for="label1"><input type="checkbox" id="label1"/>2013</label>
          <label for="label2"><input type="checkbox" id="label2"/>2014</label>
          <label for="label3"><input type="checkbox" id="label3"/>2015</label>
          <label for="label4"><input type="checkbox" id="label4"/>2016</label>
        </div>
      </div>
    </div>
  </div>
  <div class="filter-accordion__item panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo-1">
      <a role="button" data-toggle="collapse" href="#collapseTwo-1" aria-expanded="false" aria-controls="collapseTwo-1">
        Цвет
      </a>
    </div>
    <div id="collapseTwo-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo-1">
      <div class="panel-body">
        <ul class="colors">
          <li class="colors__item">
            <label for="red">
              <input type="checkbox" id="red" />
              <i class="fa fa-check" aria-hidden="true"></i>
            </label>
            <label for="yellow" style="background: yellow">
              <input type="checkbox" id="yellow" />
              <i class="fa fa-check" aria-hidden="true"></i>
            </label>
            <label for="green" style="background: green">
              <input type="checkbox" id="green" />
              <i class="fa fa-check" aria-hidden="true"></i>
            </label>
            <label for="violet" style="background: violet">
              <input type="checkbox" id="violet" />
              <i class="fa fa-check" aria-hidden="true"></i>
            </label>
            <label for="blue" style="background: blue">
              <input type="checkbox" id="blue" />
              <i class="fa fa-check" aria-hidden="true"></i>
            </label>
            <label for="grey" style="background: grey">
              <input type="checkbox" id="grey" />
              <i class="fa fa-check" aria-hidden="true"></i>
            </label>
            <label for="pink" style="background: pink">
              <input type="checkbox" id="pink" />
              <i class="fa fa-check" aria-hidden="true"></i>
            </label>
            <label for="brown" style="background: brown">
              <input type="checkbox" id="brown" />
              <i class="fa fa-check" aria-hidden="true"></i>
            </label>
            <label for="purple" style="background: purple">
              <input type="checkbox" id="purple" />
              <i class="fa fa-check" aria-hidden="true"></i>
            </label>
            <label for="gold" style="background: gold">
              <input type="checkbox" id="gold" />
              <i class="fa fa-check" aria-hidden="true"></i>
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="filter-accordion__item panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree-1">
      <a role="button" data-toggle="collapse" href="#collapseThree-1" aria-expanded="false" aria-controls="collapseThree-1">
        Рейтинг магазина
      </a>
    </div>
    <div id="collapseThree-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree-1">
      <div class="panel-body">
        <ul class="magazines-rate-list">
          <li class="magazines-rate-list__item clearfix">
            <label for="rad1">
              <input type="radio" id="rad1" name="rate"/>
              <span>От</span>
              <div class="reviews magazines">
                <ul class="rev-progress">
                  <li class="active"><i class="fa fa-star"></i></li>
                  <li class="active"><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
              </div>
            </label>     
          </li>
          <li class="magazines-rate-list__item clearfix">
            <label for="rad2">
              <input type="radio" id="rad2" name="rate"/>
              <span>От</span>
              <div class="reviews magazines">
                <ul class="rev-progress">
                  <li class="active"><i class="fa fa-star"></i></li>
                  <li class="active"><i class="fa fa-star"></i></li>
                  <li class="active"><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
              </div>
            </label>     
          </li>
          <li class="magazines-rate-list__item clearfix">
            <label for="rad3">
              <input type="radio" id="rad3" name="rate"/>
              <span>От</span>
              <div class="reviews magazines">
                <ul class="rev-progress">
                  <li class="active"><i class="fa fa-star"></i></li>
                  <li class="active"><i class="fa fa-star"></i></li>
                  <li class="active"><i class="fa fa-star"></i></li>
                  <li class="active"><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
              </div>
            </label>     
          </li>
          <li class="magazines-rate-list__item clearfix">
            <label for="rad4">
              <input type="radio" id="rad4" name="rate"/>
              <span>Любой</span>
            </label>     
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="filter-accordion__item panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour-1">
      <a role="button" data-toggle="collapse" href="#collapseFour-1" aria-expanded="false" aria-controls="collapseFour-1">
        Разрешение экрана
      </a>
    </div>
    <div id="collapseFour-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour-1">
      <div class="panel-body">
        <ul class="resolution">
          <li class="resolution__item">
            <label for="res1">
              <input type="radio" name="rad2" id="res1" />
              <span>320X240</span>
            </label>
          </li>
          <li class="resolution__item">
            <label for="res2">
              <input type="radio" name="rad2" id="res2" />
              <span>400X240</span>
            </label>
          </li>
          <li class="resolution__item">
            <label for="res3">
              <input type="radio" name="rad2" id="res3" />
              <span>400X360</span>
            </label>
          </li>
          <li class="resolution__item">
            <label for="res4">
              <input type="radio" name="rad2" id="res4" />
              <span>480X360</span>
            </label>
          </li>
          <li class="resolution__item">
            <label for="res5">
              <input type="radio" name="rad2" id="res5" />
              <span>320X240</span>
            </label>
          </li>
           <li class="resolution__item">
            <label for="res1">
              <input type="radio" name="rad2" id="res1" />
              <span>320X240</span>
            </label>
          </li>
          <li class="resolution__item">
            <label for="res2">
              <input type="radio" name="rad2" id="res2" />
              <span>400X240</span>
            </label>
          </li>
          <li class="resolution__item">
            <label for="res3">
              <input type="radio" name="rad2" id="res3" />
              <span>400X360</span>
            </label>
          </li>
          <li class="resolution__item">
            <label for="res4">
              <input type="radio" name="rad2" id="res4" />
              <span>480X360</span>
            </label>
          </li>
          <li class="resolution__item">
            <label for="res5">
              <input type="radio" name="rad2" id="res5" />
              <span>320X240</span>
            </label>
          </li>
           <li class="resolution__item">
            <label for="res1">
              <input type="radio" name="rad2" id="res1" />
              <span>320X240</span>
            </label>
          </li>
          <li class="resolution__item">
            <label for="res2">
              <input type="radio" name="rad2" id="res2" />
              <span>400X240</span>
            </label>
          </li>
          <li class="resolution__item">
            <label for="res3">
              <input type="radio" name="rad2" id="res3" />
              <span>400X360</span>
            </label>
          </li>
          <li class="resolution__item">
            <label for="res4">
              <input type="radio" name="rad2" id="res4" />
              <span>480X360</span>
            </label>
          </li>
          <li class="resolution__item">
            <label for="res5">
              <input type="radio" name="rad2" id="res5" />
              <span>320X240</span>
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="filter-accordion__item panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive-1">
      <a role="button" data-toggle="collapse" href="#collapseFive-1" aria-expanded="false" aria-controls="collapseFive-1">
        Объем оперативной памяти, мб
      </a>
    </div>
    <div id="collapseFive-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive-1">
      <div class="panel-body">
        <div class="memory-range">
          <input type="text" placeholder="от 2 гб"/>
          <input type="text" placeholder="до 128 гб"/>
        </div>
      </div>
    </div>
  </div>
</div>