<div class="modal modal-metro fade" id="findServiceModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
		      		<i class="fa fa-times" aria-hidden="true"></i>
		      	</span>
                </button>
            </div>
            <!-- modal-body -->
            <div class="modal-body">
				<!-- .metro-popup-section -->
				<div class="metro-popup-section clearfix">
					<h4 class="metro-popup-section__title metro-popup-section__element">Метро:</h4>
					<!-- .metro-list -->
					<ul class="metro-popup-section__list metro-popup-section__element">
						<li><input type="checkbox" id="metroId1" class="metro-popup-section__checkbox" /><label for="metroId1" class="metro-popup-section__label">Название метро</label></li>
						<li><input type="checkbox" id="metroId2" class="metro-popup-section__checkbox" /><label for="metroId2" class="metro-popup-section__label">Название метро</label></li>
						<li><input type="checkbox" id="metroId3" class="metro-popup-section__checkbox" /><label for="metroId3" class="metro-popup-section__label">Название метро</label></li>
						<li><input type="checkbox" id="metroId4" class="metro-popup-section__checkbox" /><label for="metroId4" class="metro-popup-section__label">Название метро</label></li>
						<li><input type="checkbox" id="metroId5" class="metro-popup-section__checkbox" /><label for="metroId5" class="metro-popup-section__label">Название метро</label></li>
						<li><input type="checkbox" id="metroId6" class="metro-popup-section__checkbox" /><label for="metroId6" class="metro-popup-section__label">Название метро</label></li>
						<li><input type="checkbox" id="metroId7" class="metro-popup-section__checkbox" /><label for="metroId7" class="metro-popup-section__label">Название метро</label></li>
						<li><input type="checkbox" id="metroId8" class="metro-popup-section__checkbox" /><label for="metroId8" class="metro-popup-section__label">Название метро</label></li>
						<li><input type="checkbox" id="metroId9" class="metro-popup-section__checkbox" /><label for="metroId9" class="metro-popup-section__label">Название метро</label></li>
						<li><input type="checkbox" id="metroId10" class="metro-popup-section__checkbox" /><label for="metroId10" class="metro-popup-section__label">Название метро</label></li>
						<li><input type="checkbox" id="metroId11" class="metro-popup-section__checkbox" /><label for="metroId11" class="metro-popup-section__label">Название метро</label></li>
						<li><input type="checkbox" id="metroId12" class="metro-popup-section__checkbox" /><label for="metroId12" class="metro-popup-section__label">Название метро</label></li>
						<li><input type="checkbox" id="metroId13" class="metro-popup-section__checkbox" /><label for="metroId13" class="metro-popup-section__label">Название метро</label></li>
						<li><input type="checkbox" id="metroId14" class="metro-popup-section__checkbox" /><label for="metroId14" class="metro-popup-section__label">Название метро</label></li>
						<li><input type="checkbox" id="metroId15" class="metro-popup-section__checkbox" /><label for="metroId15" class="metro-popup-section__label">Название метро</label></li>
						<li><input type="checkbox" id="metroId16" class="metro-popup-section__checkbox" /><label for="metroId16" class="metro-popup-section__label">Название метро</label></li>
						<li><input type="checkbox" id="metroId17" class="metro-popup-section__checkbox" /><label for="metroId17" class="metro-popup-section__label">Название метро</label></li>
						<li><input type="checkbox" id="metroId18" class="metro-popup-section__checkbox" /><label for="metroId18" class="metro-popup-section__label">Название метро</label></li>
						<li><input type="checkbox" id="metroId19" class="metro-popup-section__checkbox" /><label for="metroId19" class="metro-popup-section__label">Название метро</label></li>
						<li><input type="checkbox" id="metroId20" class="metro-popup-section__checkbox" /><label for="metroId20" class="metro-popup-section__label">Название метро</label></li>
					</ul>
					<!-- END:.metro-list -->
				</div>
				<!-- END:.metro-popup-section -->
            </div>
            <!-- END:modal-body -->
        </div>
    </div>
</div>
