<div class="modal fade" id="forgot-password" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content forgot">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      	<span aria-hidden="true">
      		<i class="fa fa-times" aria-hidden="true"></i>
      	</span>
      </button>        
      <div class="forms-column clearfix">
      	<div class="forms-column__item">
          <form action="#">
            <div class="form-row">
              <div class="title">E-mail:</div>
              <input type="text" placeholder="Укажите свою почту" />
              <span class="error-box"></span>
            </div>
            <div class="form-row description">
              <p>Мы отправим ссылку для восстановления пароля на указанный адрес</p>
            </div>
            <div class="form-row clearfix">
              <button type="submit" class="btn cancel" data-dismiss="modal" aria-label="Close">Отмена</button>
              <button type="submit" class="btn submit">Ок</button>
            </div>
          </form>
      	</div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>