<div class="modal fade" id="info-popup" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content cheap-popup info-popup">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      	<span aria-hidden="true">
      		<i class="fa fa-times" aria-hidden="true"></i>
      	</span>
      </button>
      <div class="forms-column two-columns clearfix">
        <div class="forms-column__item">
          <div class="popup-img">
            <div class="img-holder">
              <img src="images/item.png" alt="item" />
            </div>
          </div>
        </div>
        <div class="forms-column__item">
          <div class="title">
            <span class="brand">Supra</span>
            <span class="model">svt-kisyb74uej</span>
            <div class="price">от 14 256 <i class="fa fa-rub" aria-hidden="true"></i></div>  
          </div>
          <div class="title">
            <span class="brand">Магазин “220 вольт”</span>
            <div class="price">8-800-4000-33-33</div>  
          </div>
        </div>
      </div>
      <div class="options">
        <div class="btn-group item-btn-group" role="group">
          <span class="btn tooltipBtn" data-placement="top" title="" data-original-title="Пожаловаться">
            <i class="fa fa-exclamation-triangle openComplainForm" aria-hidden="true"></i>
          </span>
          <a class="btn tooltipBtn" data-placement="top" title="" data-original-title="Сравнение">
            <i class="fa fa-balance-scale" aria-hidden="true"></i>      
          </a>
          <a class="btn info-btn"></a>
        </div>
        <div class="complain complainForm">
          <div class="complain__title">Причина жалобы:</div>
          <form action="">
            <div class="complain__radio-group">
              <label for="complain1">
                <input type="radio" id="complain1" name="complain"/>
                Сайт недоступен
              </label>
              <label for="complain2">
                <input type="radio" id="complain2" name="complain"/>
                Неверная категория
              </label>
              <label for="complain3">
                <input type="radio" id="complain3" name="complain"/>
                Нет в наличии
              </label>
              <label for="complain4">
                <input type="radio" id="complain4" name="complain"/>
                Неверная цена
              </label>
            </div>
            <div class="complain__problem">
              <textarea name="" id="" cols="30" rows="10" placeholder="Опишите проблему"></textarea>
            </div>
            <div class="complain__submit">
              <button type="submit" class="btn submit">Пожаловаться</button>
            </div>
          </form>
        </div>
        <button class="btn submit">Магазины на карте</button>
        <button class="btn cheap pull-right">В магазин</button>
      </div>
      <div class="checkbox-group">
        <div class="cell">
          <div class="cell__row">
            <span class="items"><span>Доставка:</span> 150 руб. 3 дня при заказе до 19:00</span>
            <span class="items">3 дня при заказе до 19:00</span>
          </div>
          <div class="cell__row">
            <span class="items"><span>Самовывоз:</span> бесплатно</span>
            <span class="items">до 2 дней</span>
            <span class="items">Собственная курьерская служба</span>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>