<div class="modal fade" id="magazines-review-popup" tabindex="-1" role="dialog">
  <div class="modal-dialog review-content" role="document">
    <div class="modal-content clearfix">
    	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
          <i class="fa fa-times" aria-hidden="true"></i>
        </span>
      </button>
      <h4 class="form-title">“Cвязной” воронеж</h4>
				<form action="#">
					<div class="table">
						<div class="input-group">
							<div class="cell">
								<div class="form-row">
									<div class="title">Оценка:</div>
								</div>
							</div>
							<div class="cell">
								<div class="form-row">
									<select class="review-mark">
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>	
									</select>
								</div>
							</div>
						</div>
						<div class="input-group">
							<div class="cell">
								<div class="form-row">
									<div class="title">Плюсы:</div>
								</div>
							</div>
							<div class="cell">
								<div class="form-row">
									<input type="text" placeholder="Опишите плюсы магазина" />
									<span class="error-box">Ошибка</span>
								</div>
							</div>
						</div>
						<div class="input-group">
							<div class="cell">
								<div class="form-row">
									<div class="title">Минусы:</div>
								</div>
							</div>
							<div class="cell">
								<div class="form-row">
									<input type="text" placeholder="Опишите минусы магазина" />
									<span class="error-box">Ошибка</span>
								</div>
							</div>
						</div>
						<div class="input-group">
							<div class="cell">
								<div class="form-row">
									<div class="title">Коментарий:</div>
								</div>
							</div>
							<div class="cell">
								<div class="form-row">
									<textarea class="error" placeholder="Другие впечатления о магазине"></textarea>
									<span class="error-box">Ошибка</span>
								</div>
							</div>
						</div>
					</div>
					<div class="table experiance-holder">
						<div class="input-group">
							<div class="cell">
								<div class="form-row">
									<div class="title">Опыт использования:</div>
								</div>
							</div>
							<div class="cell">
								<div class="form-row">
									<ul class="experiance">
										<li class="experiance__item">
											<input type="radio" id="one1" name="experiance" checked />
											<label for="one1">
												Менее месяца
											</label>
										</li>
										<li class="experiance__item">
											<input type="radio" id="two1" name="experiance" />
											<label for="two1">
												Несколько месяцев
											</label>
										</li>
										<li class="experiance__item">
											<input type="radio" id="three1" name="experiance" />
											<label for="three1">
												Более года
											</label>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="input-group">
							<div class="cell">								
								<div class="title">Номер заказа: </div>
								<input type="text" />
							</div>
							<div class="cell">
								<div class="form-row">
									<button class="btn submit" type="submit">Отправить отзыв</button>
								</div>
							</div>
						</div>
					</div>
				</form>
				<div class="agreement">
					Оставляя отзыв, вы соглашаетесь с <a href="#">условиями использования</a> сервиса 1vse
				</div>
		</div>
	</div>
</div>