<table class="table-row-hover">
	<tr class="sort-btns-group">
		<th class="stock">Наличие на складе</th>
		<th class="show">Показать телефоны</th>
		<th class="price">
			<span class="btn sort-asc">Цена</span>
		</th>
		<th class="rate">
			<span class="btn sort-desc">Рейтинг</span>
		</th>
		<th class="distance">
			<span class="btn">Ближайшие</span>
		</th>
		<th>&nbsp;</th>
	</tr>
	<tr>
		<td class="magazine-link">
			<span class="info tooltipBtn" data-toggle="modal" data-target="#info-popup" data-placement="top" title="Характеристики">
				<i class="fa fa-info" aria-hidden="true"></i>
			</span>
			<a href="#">Evotex</a>
		</td>
		<td class="show">
			<button class="btn show-magazine">
				<i class="fa fa-phone" aria-hidden="true"></i>
				<span>...</span>
			</button>
		</td>
		<td class="price">
			<span>15 200 <i class="fa fa-rub" aria-hidden="true"></i></span>
		</td>
		<td class="rate">
			<div class="reviews magazines">
				<a href="#">
					<ul class="rev-progress">
						<li class="active"><i class="fa fa-star"></i></li>
						<li class="active"><i class="fa fa-star"></i></li>
						<li class="active"><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
					</ul>					
				</a>
				<a href="#" class="count"><span>5</span> отзывов</a>
			</div>
		</td>
		<td class="distance">
			<div class="distance-drop">
				<span>5.07 км</span>
				<div class="drop-down">
					<p>Доставка по Воронежу курьером бесплатно.</p>
					<p>При сумме заказа от 7 000 руб. доставка бесплатно</p>
					<a href="#">Подробнее</a>
				</div>
			</div>
		</td>
		<td class="button">
			<a class="btn submit" href="#">В магазин</a>
		</td>
	</tr>
	<tr>
		<td class="magazine-link">
			<span class="info tooltipBtn" data-toggle="modal" data-target="#info-popup" data-placement="top" title="Характеристики">
				<i class="fa fa-info" aria-hidden="true"></i>
			</span>
			<a href="#">Техномастер</a>
		</td>
		<td class="show">
			<button class="btn show-magazine">
				<i class="fa fa-phone" aria-hidden="true"></i>
				<span>...</span>
			</button>
		</td>
		<td class="price">
			<span>15 200 <i class="fa fa-rub" aria-hidden="true"></i></span>
		</td>
		<td class="rate">
			<div class="reviews magazines">
				<a href="#">
					<ul class="rev-progress">
						<li class="active"><i class="fa fa-star"></i></li>
						<li class="active"><i class="fa fa-star"></i></li>
						<li class="active"><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
					</ul>					
				</a>
				<a href="#" class="count"><span>5</span> отзывов</a>
			</div>
		</td>
		<td class="distance">
			<div class="distance-drop">
				<span>Доставка</span>
				<div class="drop-down">
					<p>Доставка по Воронежу курьером бесплатно.</p>
					<p>При сумме заказа от 7 000 руб. доставка бесплатно</p>
					<a href="#">Подробнее</a>
				</div>
			</div>
		</td>
		<td class="button">
			<a class="btn submit" href="#">В магазин</a>
		</td>
	</tr>
	<tr>
		<td class="magazine-link">
			<span class="info tooltipBtn" data-toggle="modal" data-target="#info-popup" data-placement="top" title="Характеристики">
				<i class="fa fa-info" aria-hidden="true"></i>
			</span>
			<a href="#">Эра электроники</a>
		</td>
		<td class="show">
			<button class="btn show-magazine">
				<i class="fa fa-phone" aria-hidden="true"></i>
				<span>...</span>
			</button>
		</td>
		<td class="price">
			<span>15 200 <i class="fa fa-rub" aria-hidden="true"></i></span>
		</td>
		<td class="rate">
			<div class="reviews magazines">
				<a href="#">
					<ul class="rev-progress">
						<li class="active"><i class="fa fa-star"></i></li>
						<li class="active"><i class="fa fa-star"></i></li>
						<li class="active"><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
					</ul>					
				</a>
				<a href="#" class="count"><span>5</span> отзывов</a>
			</div>
		</td>
		<td class="distance">
			<div class="distance-drop">
				<span>5.07 км</span>
				<div class="drop-down">
					<p>Доставка по Воронежу курьером бесплатно.</p>
					<p>При сумме заказа от 7 000 руб. доставка бесплатно</p>
					<a href="#">Подробнее</a>
				</div>
			</div>
		</td>
		<td class="button">
			<a class="btn submit" href="#">В магазин</a>
		</td>
	</tr>
	<tr>
		<td class="magazine-link">
			<span class="info tooltipBtn" data-toggle="modal" data-target="#info-popup" data-placement="top" title="Характеристики">
				<i class="fa fa-info" aria-hidden="true"></i>
			</span>
			<a href="#">Компьютеры 57</a>
		</td>
		<td class="show">
			<button class="btn show-magazine">
				<i class="fa fa-phone" aria-hidden="true"></i>
				<span>...</span>
			</button>
		</td>
		<td class="price">
			<span>15 200 <i class="fa fa-rub" aria-hidden="true"></i></span>
		</td>
		<td class="rate">
			<div class="reviews magazines">
				<a href="#">
					<ul class="rev-progress">
						<li class="active"><i class="fa fa-star"></i></li>
						<li class="active"><i class="fa fa-star"></i></li>
						<li class="active"><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
					</ul>					
				</a>
				<a href="#" class="count"><span>5</span> отзывов</a>
			</div>
		</td>
		<td class="distance">
			<div class="distance-drop">
				<span>5.07 км</span>
				<div class="drop-down">
					<p>Доставка по Воронежу курьером бесплатно.</p>
					<p>При сумме заказа от 7 000 руб. доставка бесплатно</p>
					<a href="#">Подробнее</a>
				</div>
			</div>
		</td>
		<td class="button">
			<a class="btn submit" href="#">В магазин</a>
		</td>
	</tr>
	<tr>
		<td class="magazine-link">
			<span class="info tooltipBtn" data-toggle="modal" data-target="#info-popup" data-placement="top" title="Характеристики">
				<i class="fa fa-info" aria-hidden="true"></i>
			</span>
			<a href="#">Evotex</a>
		</td>
		<td class="show">
			<button class="btn show-magazine">
				<i class="fa fa-phone" aria-hidden="true"></i>
				<span>...</span>
			</button>
		</td>
		<td class="price">
			<span>15 200 <i class="fa fa-rub" aria-hidden="true"></i></span>
		</td>
		<td class="rate">
			<div class="reviews magazines">
				<a href="#">
					<ul class="rev-progress">
						<li class="active"><i class="fa fa-star"></i></li>
						<li class="active"><i class="fa fa-star"></i></li>
						<li class="active"><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
					</ul>					
				</a>
				<a href="#" class="count"><span>5</span> отзывов</a>
			</div>
		</td>
		<td class="distance">
			<div class="distance-drop">
				<span>5.07 км</span>
				<div class="drop-down">
					<p>Доставка по Воронежу курьером бесплатно.</p>
					<p>При сумме заказа от 7 000 руб. доставка бесплатно</p>
					<a href="#">Подробнее</a>
				</div>
			</div>
		</td>
		<td class="button">
			<a class="btn submit" href="#">В магазин</a>
		</td>
	</tr>
	<tr>
		<td class="magazine-link">
			<span class="info tooltipBtn" data-toggle="modal" data-target="#info-popup" data-placement="top" title="Характеристики">
				<i class="fa fa-info" aria-hidden="true"></i>
			</span>
			<a href="#">Техномастер</a>
		</td>
		<td class="show">
			<button class="btn show-magazine">
				<i class="fa fa-phone" aria-hidden="true"></i>
				<span>...</span>
			</button>
		</td>
		<td class="price">
			<span>15 200 <i class="fa fa-rub" aria-hidden="true"></i></span>
		</td>
		<td class="rate">
			<div class="reviews magazines">
				<a href="#">
					<ul class="rev-progress">
						<li class="active"><i class="fa fa-star"></i></li>
						<li class="active"><i class="fa fa-star"></i></li>
						<li class="active"><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
					</ul>					
				</a>
				<a href="#" class="count"><span>5</span> отзывов</a>
			</div>
		</td>
		<td class="distance">
			<div class="distance-drop">
				<span>Доставка</span>
				<div class="drop-down">
					<p>Доставка по Воронежу курьером бесплатно.</p>
					<p>При сумме заказа от 7 000 руб. доставка бесплатно</p>
					<a href="#">Подробнее</a>
				</div>
			</div>
		</td>
		<td class="button">
			<a class="btn submit" href="#">В магазин</a>
		</td>
	</tr>
	<tr>
		<td class="magazine-link">
			<span class="info tooltipBtn" data-toggle="modal" data-target="#info-popup" data-placement="top" title="Характеристики">
				<i class="fa fa-info" aria-hidden="true"></i>
			</span>
			<a href="#">Эра электроники</a>
		</td>
		<td class="show">
			<button class="btn show-magazine">
				<i class="fa fa-phone" aria-hidden="true"></i>
				<span>...</span>
			</button>
		</td>
		<td class="price">
			<span>15 200 <i class="fa fa-rub" aria-hidden="true"></i></span>
		</td>
		<td class="rate">
			<div class="reviews magazines">
				<a href="#">
					<ul class="rev-progress">
						<li class="active"><i class="fa fa-star"></i></li>
						<li class="active"><i class="fa fa-star"></i></li>
						<li class="active"><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
					</ul>					
				</a>
				<a href="#" class="count"><span>5</span> отзывов</a>
			</div>
		</td>
		<td class="distance">
			<div class="distance-drop">
				<span>5.07 км</span>
				<div class="drop-down">
					<p>Доставка по Воронежу курьером бесплатно.</p>
					<p>При сумме заказа от 7 000 руб. доставка бесплатно</p>
					<a href="#">Подробнее</a>
				</div>
			</div>
		</td>
		<td class="button">
			<a class="btn submit" href="#">В магазин</a>
		</td>
	</tr>
	<tr>
		<td class="magazine-link">
			<span class="info tooltipBtn" data-toggle="modal" data-target="#info-popup" data-placement="top" title="Характеристики">
				<i class="fa fa-info" aria-hidden="true"></i>
			</span>
			<a href="#">Компьютеры 57</a>
		</td>
		<td class="show">
			<button class="btn show-magazine">
				<i class="fa fa-phone" aria-hidden="true"></i>
				<span>...</span>
			</button>
		</td>
		<td class="price">
			<span>15 200 <i class="fa fa-rub" aria-hidden="true"></i></span>
		</td>
		<td class="rate">
			<div class="reviews magazines">
				<a href="#">
					<ul class="rev-progress">
						<li class="active"><i class="fa fa-star"></i></li>
						<li class="active"><i class="fa fa-star"></i></li>
						<li class="active"><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
					</ul>					
				</a>
				<a href="#" class="count"><span>5</span> отзывов</a>
			</div>
		</td>
		<td class="distance">
			<div class="distance-drop">
				<span>5.07 км</span>
				<div class="drop-down">
					<p>Доставка по Воронежу курьером бесплатно.</p>
					<p>При сумме заказа от 7 000 руб. доставка бесплатно</p>
					<a href="#">Подробнее</a>
				</div>
			</div>
		</td>
		<td class="button">
			<a class="btn submit" href="#">В магазин</a>
		</td>
	</tr>
</table>