<div class="main-menu"> <!-- autorized - изменение меню в вид авторизированного пользователя -->
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-1 col-sm-1 col-xs-1">
				<div class="dropdown-catalog">
					<button class="catalog-btn">
						<span class="brg">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</span>
						<span class="text">
							Каталог
						</span>
					</button>
					<ul class="filter-drop">
						<li class="filter-drop__item">
							<span>
								<span class="icon">
									<span class="icon-electronic"></span>
								</span>
								<span>Электроника</span>
								<span class="corner"></span>
							</span>
							<ul class="filter-drop">
								<li class="filter-drop__item">
									<a href="#">Электроника</a>
								</li>
								<li class="filter-drop__item">
									<a href="#">Бытовая техника</a>
								</li>
								<li class="filter-drop__item">
									<a href="#">Дом и дача</a>
								</li>
								<li class="filter-drop__item">
									<a href="#">Телефоны и связь</a>
								</li>
								<li class="filter-drop__item">
									<a href="#">Компьютеры</a>
								</li>
								<li class="filter-drop__item">
									<a href="#">Авто</a>
								</li>
								<li class="filter-drop__item">
									<a href="#">Оборудование</a>
								</li>
								<li class="filter-drop__item">
									<a href="#">Все для офиса</a>
								</li>
								<li class="filter-drop__item">
									<a href="#">Гардероб</a>
								</li>
								<li class="filter-drop__item">
									<a href="#">Детские товары</a>
								</li>
								<li class="filter-drop__item">
									<a href="#">Спорт и отдых</a>
								</li>
								<li class="filter-drop__item">
									<a href="#">Здоровье</a>
								</li>
								<li class="filter-drop__item">
									<a href="#">Подарки и цветы</a>
								</li>
								<li class="filter-drop__item">
									<a href="#">Мебель</a>
								</li>
								<li class="filter-drop__item">
									<a href="#">Все для бизнеса</a>
								</li>
							</ul>
						</li>
						<li class="filter-drop__item">
							<span>
								<span class="icon">
									<span class="icon-electronic"></span>
								</span>
								<span>Бытовая техника</span>
								<span class="corner"></span>
							</span>
						</li>
						<li class="filter-drop__item">
							<span>
								<span class="icon">
									<span class="icon-home"></span>
								</span>
								<span>Дом и дача</span>
								<span class="corner"></span>
							</span>
						</li>
						<li class="filter-drop__item">
							<span>
								<span class="icon">
									<span class="icon-telefony"></span>
								</span>
								<span>Телефоны и связь</span>
								<span class="corner"></span>
							</span>
						</li>
						<li class="filter-drop__item">
							<span>
								<span class="icon">
									<span class="icon-avto"></span>
								</span>
								<span>Авто</span>
								<span class="corner"></span>
							</span>
						</li>
						<li class="filter-drop__item">
							<span>
								<span class="icon">
									<span class="icon-borudovanie"></span>
								</span>
								<span>Оборудование</span>
								<span class="corner"></span>
							</span>
						</li>
						<li class="filter-drop__item">
							<span>
								<span class="icon">
									<span class="icon-vse-dlia-ofisa"></span>
								</span>
								<span>Все для офиса</span>
								<span class="corner"></span>
							</span>
						</li>
						<li class="filter-drop__item">
							<span>
								<span class="icon">
									<span class="icon-garderob"></span>
								</span>
								<span>Гардероб</span>
								<span class="corner"></span>
							</span>
						</li>
						<li class="filter-drop__item">
							<span>
								<span class="icon">
									<span class="icon-detskie-tovary"></span>
								</span>
								<span>Детские товары</span>
								<span class="corner"></span>
							</span>
						</li>
						<li class="filter-drop__item">
							<span>
								<span class="icon">
									<span class="icon-sport"></span>
								</span>
								<span>Спорт и отдых</span>
								<span class="corner"></span>
							</span>
						</li>
						<li class="filter-drop__item">
							<span>
								<span class="icon">
									<span class="icon-zdorove"></span>
								</span>
								<span>Здоровье</span>
								<span class="corner"></span>
							</span>
						</li>
						<li class="filter-drop__item">
							<span>
								<span class="icon">
									<span class="icon-gift"></span>
								</span>
								<span>Подарки и цветы</span>
								<span class="corner"></span>
							</span>
						</li>
						<li class="filter-drop__item">
							<span>
								<span class="icon">
									<span class="icon-mebel"></span>
								</span>
								<span>Мебель</span>
								<span class="corner"></span>
							</span>
						</li>
						<li class="filter-drop__item">
							<span>
								<span class="icon">
									<span class="icon-vse-dlia-biznesa"></span>
								</span>
								<span>Все для бизнеса</span>
								<span class="corner"></span>
							</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
				<!-- START:.search -->
				<div class="search">
					<form class="clearfix" >
						<div class="search__text">
							<input class="search-input" id="search-comlite" type="text" placeholder="У нас вы найдете все" />
						</div>
						<div class="search__btn">
							<button>
								<i class="fa fa-search" aria-hidden="true"></i>
							</button>
						</div>
					</form>
				</div>
				<!-- END:.search -->
				
				<div class="btn-group dropdown main-btns pull-right" role="group" aria-label="...">
				  <a class="btn city-btn tooltipBtn" data-toggle="modal" data-target="#cities" data-placement="bottom" title="Выбор города">
				  	<i class="fa fa-map-marker" aria-hidden="true"></i>
				  	<span class="large">Москва</span>
				  	<!-- large - добавляет затухание -->
				  </a>
				  <a href="#" class="btn header-foundservice"><span class="header-foundservice__text">Найти услугу выгодно</span></a>
				  <a class="btn tooltipBtn" data-placement="bottom" title="Избранное">
						<div class="count">
				  		<i class="fa fa-bookmark-o" aria-hidden="true"></i>
							<div class="count__number">2</div>
						</div>
				  </a>
				  <a class="btn sign-in tooltipBtn" data-toggle="modal" data-target="#sign-in" data-placement="bottom" title="Войти">
				  	<i class="fa fa-sign-out" aria-hidden="true"></i>
				  	<span>Войти</span>
				  </a>
				  <a class="btn user-notification tooltipBtn" data-placement="bottom" title="Уведомления">
				  	<i class="fa fa-bell" aria-hidden="true"></i>
				  </a>
				  <button class="btn autorized-user" id="autorized-drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  	<span class="autorized-user__info">
				  		<span class="name">Александр</span>
				  		<span class="surname">Петров</span>
				  	</span>
				  	<span class="autorized-user__avatar" style="background-image:url('images/avatar.jpg')"></span>
				  </button>
			  	<div class="dropdown-menu autorized-drop" aria-labelledby="autorized-drop">
			  	<div class="autorized-drop__title">
			  		<span>Привет,</span>
			  		<span>Александр Большаяфамилия</span>
			  	</div>
						<ul class="autorized-drop__list">
							<li>
								<a href="#">Предложение от продавцов</a>
							</li>
							<li>
								<a href="#">Списки сравнения</a>
							</li>
							<li>
								<a href="#">Избранное</a>
							</li>
							<li>
								<a href="#">Мои отзывы и вопросы</a>
							</li>
							<li>
								<a href="#">Адреса доставки</a>
							</li>
							<li>
								<a href="#">Настройки</a>
							</li>
							<li>
								<a href="#">Выйти</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- .header-notification -->
	<div class="header-notification header-notification--cabinet">
		<!-- .header-notification__content -->
		<div class="header-notification__content text-center">
			<i class="fa fa-check-circle-o" aria-hidden="true"></i>
			<!-- .header-notification__text -->
			<div class="header-notification__text">
				<h4 class="header-notification__title">Изменения успешно сохранены</h4>
				<h5 class="header-notification__subtitle">Новые данные будут отображены на вашей странице</h5>
			</div>
			<!-- END:.header-notification__text -->
		</div>
		<!-- END:.header-notification__content -->
	</div>
	<!-- END:.header-notification -->
</div>