<div class="mobile-catalog tiles"><!-- tiles - выводит каталог ввиде плиток без кнопок и заголовка. Для внешнего вида в строку нужно убрать данный класс. -->
	<div class="mobile-catalog__title">
		<div class="mobile-btn mobileCatBtn">
			<div class="brg">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
			<span class="title">Каталог товаров</span>
		</div>
	</div>
	<div class="mobile-catalog__content">
		<div class="controls">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<button class="back-btn">
							<span class="corner"></span>
							<span>Назад в каталог</span>
						</button>
					</div>
					<div class="col-md-6">
						<a href="#" class="close-catalog pull-right">
							<span>
								<i class="fa fa-times" aria-hidden="true"></i>
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<ul class="filter-tiles row">
				<li class="filter-tiles__item col-md-3 col-sm-4 col-xs-4">
					<a href="#">
						<span class="icon">
							<span class="icon-electronic"></span>
						</span>
						<span>Электроника</span>
					</a>
				</li>
				<li class="filter-tiles__item col-md-3 col-sm-4 col-xs-4">
					<a href="#">
						<span class="icon">
							<span class="icon-electronic"></span>
						</span>
						<span>Бытовая техника</span>
					</a>
				</li>
				<li class="filter-tiles__item col-md-3 col-sm-4 col-xs-4">
					<a href="#">
						<span class="icon">
							<span class="icon-home"></span>
						</span>
						<span>Дом и дача</span>
					</a>
				</li>
				<li class="filter-tiles__item col-md-3 col-sm-4 col-xs-4">
					<a href="#">
						<span class="icon">
							<span class="icon-telefony"></span>
						</span>
						<span>Телефоны и связь</span>
					</a>
				</li>
				<li class="filter-tiles__item col-md-3 col-sm-4 col-xs-4">
					<a href="#">
						<span class="icon">
							<span class="icon-avto"></span>
						</span>
						<span>Авто</span>
					</a>
				</li>
				<li class="filter-tiles__item col-md-3 col-sm-4 col-xs-4">
					<a href="#">
						<span class="icon">
							<span class="icon-borudovanie"></span>
						</span>
						<span>Оборудование</span>
					</a>
				</li>
				<li class="filter-tiles__item col-md-3 col-sm-4 col-xs-4">
					<a href="#">
						<span class="icon">
							<span class="icon-vse-dlia-ofisa"></span>
						</span>
						<span>Все для офиса</span>
					</a>
				</li>
				<li class="filter-tiles__item col-md-3 col-sm-4 col-xs-4">
					<a href="#">
						<span class="icon">
							<span class="icon-garderob"></span>
						</span>
						<span>Гардероб</span>
					</a>
				</li>
				<li class="filter-tiles__item col-md-3 col-sm-4 col-xs-4">
					<a href="#">
						<span class="icon">
							<span class="icon-detskie-tovary"></span>
						</span>
						<span>Детские товары</span>
					</a>
				</li>
				<li class="filter-tiles__item col-md-3 col-sm-4 col-xs-4">
					<a href="#">
						<span class="icon">
							<span class="icon-sport"></span>
						</span>
						<span>Спорт и отдых</span>
					</a>
				</li>
				<li class="filter-tiles__item col-md-3 col-sm-4 col-xs-4">
					<a href="#">
						<span class="icon">
							<span class="icon-zdorove"></span>
						</span>
						<span>Здоровье</span>
					</a>
				</li>
				<li class="filter-tiles__item col-md-3 col-sm-4 col-xs-4">
					<a href="#">
						<span class="icon">
							<span class="icon-gift"></span>
						</span>
						<span>Подарки и цветы</span>
					</a>
				</li>
				<li class="filter-tiles__item col-md-3 col-sm-4 col-xs-4">
					<a href="#">
						<span class="icon">
							<span class="icon-mebel"></span>
						</span>
						<span>Мебель</span>
					</a>
				</li>
				<li class="filter-tiles__item col-md-3 col-sm-4 col-xs-4">
					<a href="#">
						<span class="icon">
							<span class="icon-vse-dlia-biznesa"></span>
						</span>
						<span>Все для бизнеса</span>
					</a>
				</li>
			</ul>
			<div class="filter-title">
				<span>Телевизоры</span>
			</div>
			<ul class="filter-row row">
				<li class="filter-row__item col-md-12">
					<a href="#">
						<span>LED телевизоры</span>
						<span class="corner"></span>
					</a>
				</li>
				<li class="filter-row__item col-md-12">
					<a href="#">
						<span>LED телевизоры</span>
						<span class="corner"></span>
					</a>
				</li>
				<li class="filter-row__item col-md-12">
					<a href="#">
						<span>LED телевизоры</span>
						<span class="corner"></span>
					</a>
				</li>
				<li class="filter-row__item col-md-12">
					<a href="#">
						<span>LED телевизоры</span>
						<span class="corner"></span>
					</a>
				</li>
			</ul>
		</div>		
	</div>
</div>