<nav class="pagination-holder" aria-label="Page navigation">
  <ul class="pagination">
    <li class="pagination__item">
      <a href="#" aria-label="Previous">
        <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
      </a>
    </li>
    <li class="pagination__item">
      <a href="#">1</a>
    </li>
    <li class="pagination__item">
      <span>2</span>
    </li>
    <li class="pagination__item active">
      <a href="#">3</a>
    </li>
    <li class="pagination__item">
      <span>4</span>
    </li>
    <li class="pagination__item">
      <a href="#">5</a>
    </li>
    <li class="pagination__item">
      <a href="#" aria-label="Next">
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</nav>
