<div class="modal fade default-modal" id="physPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
          <i class="fa fa-times" aria-hidden="true"></i>
        </span>
            </button>
            <h4 class="form-title">ПОДРОБНОЕ ОПИСАНИЕ УСЛУГИ</h4>
            <div class="forms-column clearfix">
                <div class="forms-column__item">
                    <!-- form -->
                    <form action="#">
                        <div class="form-row">
                            <!-- ..phys-popup-category -->
                            <div class="phys-popup-category">
                                <!-- .phys-popup__heading -->
                                <div class="phys-popup__heading clearfix">
                                    <!-- .phys-popup__titleblock -->
                                    <div class="phys-popup__titleblock pull-left">
                                        <h4 class="phys-popup-category__title">Строительство заборов</h4>
                                    </div>
                                    <!-- END:.phys-popup__titleblock -->
                                    <!-- .phys-popup-price -->
                                    <div class="phys-popup-price pull-right">
                                        <h4 class="phys-popup-price__title">Средняя цена в категории:</h4>
                                        <!-- .phys-popup-pricerow -->
                                        <div class="phys-popup-pricerow">
                                            от
                                            <input type="text" class="phys-popup__pricefield" /> р.
                                            <select class="new-ui-selectmenu phys-popup__pricefield">
                                                <option value="service">Услугу</option>
                                                <option value="service2">Услугу2</option>
                                                <option value="service3">Услугу3</option>
                                            </select>
                                        </div>
                                        <!-- END:.phys-popup-pricerow -->
                                    </div>
                                    <!-- END:.phys-popup-price -->
                                </div>
                                <!-- END:.phys-popup__heading -->
                                <!-- .phys-popup-categories -->
                                <ul class="phys-popup-categories">
                                    <li class="phys-popup-categories__item checked clearfix">
                                        <!-- .col-md-6 -->
                                        <div class="pull-left">
                                          <h5 class="phys-popup-categories__title"><i class="fa fa-check" aria-hidden="true"></i> Строительство кованных заборов</h5>
                                          <button type="button" class="close">
                                              <span aria-hidden="true">
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                              </span>
                                          </button>
                                        </div>
                                        <!-- END:.pull-left -->
                                        <!-- .phys-popup-price -->
                                        <div class="phys-popup-price pull-right">
                                            <!-- .phys-popup-pricerow -->
                                            <div class="phys-popup-pricerow">
                                                от
                                                <input type="text" class="phys-popup__pricefield" /> р.
                                                <select class="new-ui-selectmenu phys-popup__pricefield">
                                                    <option value="service">Услугу</option>
                                                    <option value="service2">Услугу2</option>
                                                    <option value="service3">Услугу3</option>
                                                </select>
                                            </div>
                                            <!-- END:.phys-popup-pricerow -->
                                        </div>
                                        <!-- END:.phys-popup-price -->
                                    </li>
                                    <li class="phys-popup-categories__item clearfix">
                                        <!-- .col-md-6 -->
                                        <div class="pull-left">
                                          <h5 class="phys-popup-categories__title"><i class="fa fa-check" aria-hidden="true"></i> Строительство кованных заборов</h5>
                                          <button type="button" class="close">
                                              <span aria-hidden="true">
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                              </span>
                                          </button>
                                        </div>
                                        <!-- END:.pull-left -->
                                        <!-- .phys-popup-price -->
                                        <div class="phys-popup-price pull-right">
                                            <!-- .phys-popup-pricerow -->
                                            <div class="phys-popup-pricerow">
                                                от
                                                <input type="text" class="phys-popup__pricefield" /> р.
                                                <select class="new-ui-selectmenu phys-popup__pricefield">
                                                    <option value="service">Услугу</option>
                                                    <option value="service2">Услугу2</option>
                                                    <option value="service3">Услугу3</option>
                                                </select>
                                            </div>
                                            <!-- END:.phys-popup-pricerow -->
                                        </div>
                                        <!-- END:.phys-popup-price -->
                                    </li>
                                </ul>
                                <!-- END:.phys-popup-categories -->
                            </div>
                            <!-- END:..phys-popup-category -->
                            <!-- .phys-popup-textblock -->
                            <div class="phys-popup-textblock">
                              <label for="physTextarea" class="phys-popup-textblock__label">Заполните описание услуги:</label>
                              <textarea id="physTextarea" rows="4" class="phys-popup__textarea" placeholder="Например: построим забор быстро и качественно под ключ"></textarea>
                            </div>
                            <!-- END:.phys-popup-textblock -->
                            <!-- .phys-popup-regions -->
                            <div class="phys-popup-regions">
                              <span class="phys-popup-regions__title">Место оказания услуги:</span>
                              <!-- .phys-popup-regions__list -->
                              <ul class="phys-popup-regions__list">
                                
                              </ul>
                              <!-- END:.phys-popup-regions__list -->
                            </div>
                            <!-- END:.phys-popup-regions -->
                            <!-- .phys-popup-presubmit -->
                            <div class="phys-popup-presubmit clearfix">
                              <!-- .pull-left -->
                              <div class="phys-popup-presubmit__box pull-left">
                                <input type="checkbox" id="physPopupPresubmit" />
                                <label for="physPopupPresubmit" class="phys-popup-presubmit__label">Отметьте услугу и мы выделим ее на вашей главной странице ЛК:</label>
                              </div>
                              <!-- END:.pull-left -->
                              <!-- .pull-right -->
                              <div class="pull-right">
                                <button type="button" class="form-element-submit form-element-submit--presubmit btn">Сохранить</button>
                              </div>
                              <!-- END:.pull-right -->
                            </div>
                            <!-- END:.phys-popup-presubmit -->
                        </div>
                        <!-- .form-row -->
                        <div class="form-row">
                          <!-- .phys-popup-footer -->
                          <div class="phys-popup-footer text-center">
                                <button type="button" class="form-element-submit btn">Сохранить</button>
                          </div>
                          <!-- END:.phys-popup-footer -->
                        </div>
                        <!-- END:.form-row -->
                    </form>
                    <!-- END:form -->
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
