<div class="modal fade" id="third-step" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content registration third-step">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      	<span aria-hidden="true">
      		<i class="fa fa-times" aria-hidden="true"></i>
      	</span>
      </button>
      <h4 class="form-title">Регистрация</h4>   
      <div class="forms-column two-columns clearfix">
      	<div class="forms-column__item">
          <form action="#">
            <div class="form-row">
              <div class="title">Телефон:</div>
              <input type="text" placeholder="+7ххххххххххх" />
              <span class="error-box"></span>
            </div>
            <div class="form-row">
              <div class="title">Email:</div>
              <input type="text" placeholder="Укажите свою почту"/>
              <span class="error-box"></span>
            </div>
            <div class="form-row clearfix">
              <button type="submit" class="btn cancel">На шаг назад</button>
            </div>
          </form>
      	</div>
      	<div class="forms-column__item">
          <div class="form-row">
            <div class="title">Введите код из смс:</div>
            <div class="enter-code">
              <div class="cell">
                <input class="error" type="text" />
                <span class="error-box">Введите код</span>                
              </div>
              <div class="cell">
                <a href="#">Отправить СМС повторно</a>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="title">Введите код из письма:</div>
            <div class="enter-code">
              <div class="cell">
                <input type="text" />
                <span class="error-box"></span>
              </div>
              <div class="cell">
                <a href="#">Отправить письмо повторно</a>
              </div>
            </div>
          </div>
          <div class="form-row">
            <button type="submit" class="btn submit">Готово</button>
          </div>
      	</div>
      </div>
      <div class="form-row description">
        <p>Если на этот номер или на адрес почты не пришел код,<br />измените значение в нужном поле и нажмите кнопку “Отправить повторно”.<br />Повторная отправка доступна через 3 минуты.</p>
      </div>
      <div class="socials-form">
        <div class="title">Вы так же можете войти через:</div>
        <ul class="socials">
          <li>
            <a class="fb" href="#">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a class="goo" href="#">
              <i class="fa fa-google-plus" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a class="vk" href="#">
              <i class="fa fa-vk" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a class="odn" href="#">
              <i class="fa fa-odnoklassniki" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>