<div class="modal fade" id="second-step" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content registration">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      	<span aria-hidden="true">
      		<i class="fa fa-times" aria-hidden="true"></i>
      	</span>
      </button>
      <h4 class="form-title">Регистрация</h4>   
      <div class="forms-column two-columns clearfix">
      	<div class="forms-column__item">
          <form action="#">
            <div class="form-row">
              <div class="title"><sup>*</sup>Имя:</div>
              <input type="text" placeholder="Укажите свое имя" />
              <span class="error-box"></span>
            </div>
            <div class="form-row">
              <div class="title"><sup>*</sup>Телефон:</div>
              <input type="text" placeholder="+7ххххххххххх" class="mask--phone" />
              <span class="error-box"></span>
            </div>
            <div class="form-row clearfix">
              <button type="submit" class="btn cancel">На шаг назад</button>
            </div>
          </form>
      	</div>
      	<div class="forms-column__item">
          <div class="form-row">
            <div class="title">&nbsp;</div>
            <p>На указанный номер придет СМС с кодом</p>
          </div>
          <div class="form-row">
            <div class="title">&nbsp;</div>
            <p>На указанный номер придет письмо с кодом</p>
          </div>
          <div class="form-row">
            <button type="submit" class="btn submit" data-toggle="modal" data-target="#third-step">Ок</button>
          </div>
      	</div>
      </div>
      <div class="socials-form">
        <div class="title">Вы так же можете войти через:</div>
        <ul class="socials">
          <li>
            <a class="fb" href="#">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a class="goo" href="#">
              <i class="fa fa-google-plus" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a class="vk" href="#">
              <i class="fa fa-vk" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a class="odn" href="#">
              <i class="fa fa-odnoklassniki" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>