<!-- cabinet-searchline -->
<div class="cabinet-searchline-wrapper">
    <div class="container">
        <div class="row">
            <div class="cabinet-searchline-wrapper__inner clearfix">
                <!-- .row -->
                <a href="#" class="cabinet-settings-return-btn col-lg-2 col-md-2 hidden-sm hidden-xs">Вернуться<i class="fa fa-level-up" aria-hidden="true"></i></a>
                <ul class="search-line-list search-line-list--cabinet col-lg-10 col-md-10 col-sm-12 clearfix" id="mainList">
                    <li class="search-line-list__item">
                        <a class="btn search-line-btn search-line-btn--cabinet active">Предложения от продавцов</a>
                    </li>
                    <li class="search-line-list__item">
                        <a class="btn search-line-btn search-line-btn--cabinet">Сравнение</a>
                    </li>
                    <li class="search-line-list__item">
                        <a class="btn search-line-btn search-line-btn--cabinet">Избранное</a>
                    </li>
                    <li class="search-line-list__item">
                        <a class="btn search-line-btn search-line-btn--cabinet">Мои вопросы</a>
                    </li>
                    <li class="search-line-list__item">
                        <a class="btn search-line-btn search-line-btn--cabinet">Мои отзывы</a>
                    </li>
                    <li class="search-line-list__item">
                        <a class="btn search-line-btn search-line-btn--cabinet">Настройки</a>
                    </li>
                </ul>
                <!-- END:.row -->
            </div>
        </div>
    </div>
</div>
