<div class="search-line-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<button class="btn search-line-btn lineMoreBtn" id="lineMoreBtn">
					<span>Еще</span>
					<span class="caret"></span>
				</button>
				<ul class="search-line-list clearfix" id="mainList">
					<li class="search-line-list__item">
						<a class="btn search-line-btn">Пылесосы</a>
					</li>
					<li class="search-line-list__item">
						<a class="btn search-line-btn">Телевизоры</a>
					</li>
					<li class="search-line-list__item">
						<a class="btn search-line-btn active">Компьютеры</a>
					</li>
					<li class="search-line-list__item">
						<a class="btn search-line-btn">Стиральные машины</a>
					</li>
					<li class="search-line-list__item">
						<a class="btn search-line-btn">Модули памяти</a>
					</li>
					<li class="search-line-list__item">
						<a class="btn search-line-btn">Планшеты</a>
					</li>
					<li class="search-line-list__item">
						<a class="btn search-line-btn">Принтеры</a>
					</li>
					<li class="search-line-list__item">
						<a class="btn search-line-btn">Стиральные машины</a>
					</li>
					<li class="search-line-list__item">
						<a class="btn search-line-btn">Модули памяти</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="search-line-list-drop searchLineDrop">
		<ul class="search-line-list container" id="moreDrop">
			
		</ul>					
	</div>
</div>