<aside class="sidebar-catalog">
	<div class="sidebar-catalog__title">Каталог товаров</div>
	<ul class="filter-drop">
		<li class="filter-drop__item">
			<span>
				<span class="icon">
					<span class="icon-electronic"></span>
				</span>
				<span>Электроника</span>
				<span class="corner"></span>
			</span>
			<ul class="filter-drop">
				<li class="filter-drop__item">
					<a href="#">
						<span>Электроника электроника электроника электроника</span>
					</a>
				</li>
				<li class="filter-drop__item">
					<a href="#">Бытовая техника</a>
				</li>
				<li class="filter-drop__item">
					<a href="#">Дом и дача</a>
				</li>
				<li class="filter-drop__item">
					<a href="#">Телефоны и связь</a>
				</li>
				<li class="filter-drop__item">
					<a href="#">Компьютеры</a>
				</li>
				<li class="filter-drop__item">
					<a href="#">Авто</a>
				</li>
				<li class="filter-drop__item">
					<a href="#">Оборудование</a>
				</li>
				<li class="filter-drop__item">
					<a href="#">Все для офиса</a>
				</li>
				<li class="filter-drop__item">
					<a href="#">Гардероб</a>
				</li>
				<li class="filter-drop__item">
					<a href="#">Детские товары</a>
				</li>
				<li class="filter-drop__item">
					<a href="#">Спорт и отдых</a>
				</li>
				<li class="filter-drop__item">
					<a href="#">Здоровье</a>
				</li>
				<li class="filter-drop__item">
					<a href="#">Подарки и цветы</a>
				</li>
				<li class="filter-drop__item">
					<a href="#">Мебель</a>
				</li>
				<li class="filter-drop__item">
					<a href="#">Все для бизнеса</a>
				</li>
			</ul>
		</li>
		<li class="filter-drop__item">
			<span>
				<span class="icon">
					<span class="icon-butovaya-technica"></span>
				</span>
				<span>Бытовая техника</span>
				<span class="corner"></span>
			</span>
		</li>
		<li class="filter-drop__item">
			<span>
				<span class="icon">
					<span class="icon-home"></span>
				</span>
				<span>Дом и дача</span>
				<span class="corner"></span>
			</span>
		</li>
		<li class="filter-drop__item">
			<span>
				<span class="icon">
					<span class="icon-telefony"></span>
				</span>
				<span>Телефоны и связь</span>
				<span class="corner"></span>
			</span>
		</li>
		<li class="filter-drop__item">
			<span>
				<span class="icon">
					<span class="icon-avto"></span>
				</span>
				<span>Авто</span>
				<span class="corner"></span>
			</span>
		</li>
		<li class="filter-drop__item">
			<span>
				<span class="icon">
					<span class="icon-borudovanie"></span>
				</span>
				<span>Оборудование</span>
				<span class="corner"></span>
			</span>
		</li>
		<li class="filter-drop__item">
			<span>
				<span class="icon">
					<span class="icon-vse-dlia-ofisa"></span>
				</span>
				<span>Все для офиса</span>
				<spanpan class="corner"></span>
			</a>
		</li>
		<li class="filter-drop__item">
			<span>
				<span class="icon">
					<span class="icon-garderob"></span>
				</span>
				<span>Гардероб</span>
				<span class="corner"></span>
			</span>
		</li>
		<li class="filter-drop__item">
			<span>
				<span class="icon">
					<span class="icon-detskie-tovary"></span>
				</span>
				<span>Детские товары</span>
				<span class="corner"></span>
			</span>
		</li>
		<li class="filter-drop__item">
			<span>
				<span class="icon">
					<span class="icon-sport"></span>
				</span>
				<span>Спорт и отдых</span>
				<span class="corner"></span>
			</span>
		</li>
		<li class="filter-drop__item">
			<span>
				<span class="icon">
					<span class="icon-zdorove"></span>
				</span>
				<span>Здоровье</span>
				<span class="corner"></span>
			</span>
		</li>
		<li class="filter-drop__item">
			<span>
				<span class="icon">
					<span class="icon-gift"></span>
				</span>
				<span>Подарки и цветы</span>
				<span class="corner"></span>
			</span>
		</li>
		<li class="filter-drop__item">
			<span>
				<span class="icon">
					<span class="icon-mebel"></span>
				</span>
				<span>Мебель</span>
				<span class="corner"></span>
			</span>
		</li>
		<li class="filter-drop__item">
			<span>
				<span class="icon">
					<span class="icon-vse-dlia-biznesa"></span>
				</span>
				<span>Все для бизнеса</span>
				<span class="corner"></span>
			</span>
		</li>
	</ul>
</aside>