<div class="modal fade" id="sign-in" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content sign-in">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      	<span aria-hidden="true">
      		<i class="fa fa-times" aria-hidden="true"></i>
      	</span>
      </button>        
      <div class="forms-column two-columns clearfix">
      	<div class="forms-column__item">
          <form action="#">
      		  <h4 class="form-title">Войти в 1vse</h4>
            <div class="form-row">
              <div class="title">E-mail:</div>
              <input class="error" type="text" placeholder="Укажите свою почту" /><!-- ERROR - класс для вывода сообщений об ошибке -->
              <span class="error-box">Номер телефона должен быть в формате +79001234567</span> <!-- Текст сообщения об ошибке -->
            </div>
            <div class="form-row">
              <div class="title">Пароль:</div>
              <input type="text" placeholder="Введите свой пароль"/>
              <span class="error-box"></span>
            </div>
            <div class="form-row">
              <label for="remember">
                <input id="remember" type="checkbox" />
                <span>Запомнить меня</span>
              </label>
            </div>
            <div class="form-row clearfix">
              <a class="forgot" data-toggle="modal" data-target="#forgot-password">Забыли пароль?</a>
              <button type="submit" class="btn submit">Войти</button>
            </div>
          </form>
      	</div>
      	<div class="forms-column__item">
          <form action="#">
      		  <h4 class="form-title">Регистрация</h4>
            <div class="form-row">
              <div class="title"><sup>*</sup>E-mail:</div>
              <input type="text" placeholder="Укажите свою почту"/>
              <span class="error-box"></span>
            </div>
            <div class="form-row">
              <div class="title"><sup>*</sup>Пароль:</div>
              <input type="text" placeholder="Введите свой пароль"/>
              <span class="error-box"></span>
            </div>
            <div class="form-row">
              <div class="title"><sup>*</sup>Подтверждение пароля:</div>
              <input type="text" placeholder="Введите свой пароль"/>
              <span class="error-box"></span>
            </div>
            <div class="form-row">
              <a class="btn submit" data-toggle="modal" data-target="#second-step">Продолжить</a>
            </div>
          </form>
      	</div>
      </div>
      <div class="socials-form">
        <div class="title">Вы так же можете войти через:</div>
        <ul class="socials">
          <li>
            <a class="fb" href="#">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a class="goo" href="#">
              <i class="fa fa-google-plus" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a class="vk" href="#">
              <i class="fa fa-vk" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a class="odn" href="#">
              <i class="fa fa-odnoklassniki" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>