<!-- START:.sort-items -->
<div class="sort-items">
	<a href="#" data-toggle="modal" data-target="#allFilter" class="btn submit all-filters-btn">Каталог услуг</a>
	<div class="sort-items__count">
		<span>Подобрано <span class="sort-items__value">253</span> исполнителя услуги</span>
	</div>
	<div class="sort-items__sort-list">
		<div class="btn-group sort-btns-group" role="group" aria-label="...">

			<!-- START:.price -->
			<span class="btn sort-asc">Цена</span>
			<!-- END:.price -->

			<!-- START:.popularity -->
			<span class="btn sort-desc">Популярность</span>
			<!-- END:.popularity -->

			<!-- START:.raiting -->
			<span class="btn">Рейтинг</span>			
			<!-- END:.raiting -->

		</div>
	</div>
	<div class="sort-items__view">
		<div class="btn-group" role="group" aria-label="...">

			<!-- START:.list -->
			<button class="btn" id="horizontal">
		  	<i class="fa fa-th-list" aria-hidden="true"></i>
			</button>
			<!-- END:.list -->

			<!-- START:.list -->
			<button class="btn active" id="tiles">
		  	<i class="fa fa-th-large" aria-hidden="true"></i>
			</button>
			<!-- END:.list -->

		</div>
		
	</div>
</div>
<!-- END:.sort-items -->