<aside class="subcategory" id="accordion" role="tablist" aria-multiselectable="true">
	<div class="subcategory__row">
		<div class="title">
			<h2>
				<a href="#">Вентиляция</a>
			</h2>		
		</div>
		<ul class="filter-list shownFilterList">
			<li>
				<span class="cell">
					<a href="#">Баки</a>
				</span>
			</li>
			<li>
				<span class="cell">
					<a href="#">Водоочистка</a>
				</span>
			</li>
			<li>
				<span class="cell">
					<a href="#">Септики</a>
				</span>
			</li>
			<li>
				<span class="cell">
					<a href="#">Баки</a>
				</span>
			</li>
			<li>
				<span class="cell">
					<a href="#">Водоочистка</a>
				</span>
			</li>
			<li>
				<span class="cell">
					<a href="#">Септики</a>
				</span>
			</li>
			<li>
				<span class="cell">
					<a href="#">Баки</a>
				</span>
			</li>
			<li>
				<span class="cell">
					<a href="#">Водоочистка</a>
				</span>
			</li>
			<li>
				<span class="cell">
					<a href="#">Септики</a>
				</span>
			</li>
		</ul>	  
    <div class="clearfix">
    	<button class="spoiler-btn spoilerBtn pull-right">
    	  Все категории
    	</button>
    </div>	
	</div>
	<div class="subcategory__row">
		<div class="title">
			<h2>
				<a href="#">Двери и ворота</a>
			</h2>		
		</div>
		<ul class="filter-list shownFilterList">
			<li>
				<span class="cell">
					<a href="#">Баки</a>
				</span>
			</li>
			<li>
				<span class="cell">
					<a href="#">Водоочистка водоочистка водоочистка водоочистка</a>
				</span>
			</li>
			<li>
				<span class="cell">
					<a href="#">Септики</a>
				</span>
			</li>
			<li>
				<span class="cell">
					<a href="#">Водоочистка водоочистка водоочистка водоочистка</a>
				</span>
			</li>
			<li>
				<span class="cell">
					<a href="#">Водоочистка</a>
				</span>
			</li>
			<li>
				<span class="cell">
					<a href="#">Септики</a>
				</span>
			</li>
			<li>
				<span class="cell">
					<a href="#">Баки</a>
				</span>
			</li>
			<li>
				<span class="cell">
					<a href="#">Водоочистка</a>
				</span>
			</li>
			<li>
				<span class="cell">
					<a href="#">Септики</a>
				</span>
			</li>
		</ul>	 
		<div class="clearfix">
			<button class="spoiler-btn spoilerBtn pull-right">
			  Все категории
			</button>
		</div>	
	</div>
	<div class="subcategory__row">
		<div class="title">
			<h2>
				<a href="#">Вентиляция</a>
			</h2>		
		</div>
		<ul class="filter-list shownFilterList">
			<li>
				<span class="cell">
					<a href="#">Баки</a>
				</span>
			</li>
			<li>
				<span class="cell">
					<a href="#">Водоочистка</a>
				</span>
			</li>
			<li>
				<span class="cell">
					<a href="#">Септики</a>
				</span>
			</li>
			<li>
				<span class="cell">
					<a href="#">Баки</a>
				</span>
			</li>
		</ul>	 
		<div class="clearfix">
			<button class="spoiler-btn spoilerBtn pull-right">
		  	Все категории
		  </button>
		 </div>
	</div>
</aside>