<div class="preview-tabs">
	<ul class="tabs-slider tabsSliderThree">
		<li class="tabs-slider__item">
			<a href="/modules/partial/preview-four-items.html" class="itemsLink active">Электроника</a>
		</li>
		<li class="tabs-slider__item">
			<a href="/modules/partial/preview-four-items.html" class="itemsLink">Бытовая техника</a>
		</li>
		<li class="tabs-slider__item">
			<a href="/modules/partial/preview-four-items.html" class="itemsLink">Дом и дача</a>
		</li>
		<li class="tabs-slider__item">
			<a href="/modules/partial/preview-four-items.html" class="itemsLink">Большая сушилка для обуви</a>
		</li>
		<li class="tabs-slider__item">
			<a href="/modules/partial/preview-four-items.html" class="itemsLink">Компьютер</a>
		</li>
	</ul>
</div>