<div class="preview-tabs">
	<ul class="tabs-slider tabsSliderFour">
		<li class="tabs-slider__item">
			<a href="main-page-preview.html" class="itemsLink active">Электроника</a>
		</li>
		<li class="tabs-slider__item">
			<a href="main-page-preview-example.html" class="itemsLink">Бытовая техника</a>
		</li>
		<li class="tabs-slider__item">
			<a href="main-page-preview.html" class="itemsLink">Большая сушилка для обуви</a>
		</li>
		<li class="tabs-slider__item">
			<a href="main-page-preview.html" class="itemsLink">Автомобили</a>
		</li>
		<li class="tabs-slider__item">
			<a href="main-page-preview-example.html" class="itemsLink">Компьютер</a>
		</li>
	</ul>
</div>